// NOTE: disables sticky nav when logged in
.admin-bar .pageWrapper {
  transform: translate3d(0, 0, 0);
}

[is='flynt-navigation-burger'] {
  $navigation-height: 75px;

  height: $navigation-height;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .container {
    align-items: center;
    background-color: $color-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    height: $navigation-height;
    justify-content: space-between;
    left: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  @import 'Partials/Logo/style';
  @import 'Partials/Hamburger/style';
  @import 'Partials/Menu/style';
}
