// NOTE: overwriting wp defaults
@media screen and (max-width: 600px) {
  // stylelint-disable-next-line selector-max-id
  #wpadminbar {
    position: fixed;
  }
}

[is='flynt-navigation-burger'] {
  $navigation-height: 64px;

  height: $navigation-height;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  &.headroom {
    &--not-top {
      .container {
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
      }
    }

    &--unpinned:not(.flyntComponent-menuIsOpen) {
      .container {
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  &.flyntComponent-menuIsOpen {
    .container {
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
    }
  }

  .container {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    height: $navigation-height;
    justify-content: space-between;
    left: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  @import 'Partials/logo';
  @import 'Partials/hamburger';
  @import 'Partials/menu';
}
