// NOTE: overwriting wp defaults
@media screen and (max-width: 600px) {
  // stylelint-disable-next-line selector-max-id
  #wpadminbar {
    position: fixed;
  }
}

[is='flynt-navigation-burger'] {
  $navigation-height: 75px;

  height: $navigation-height;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .container {
    align-items: center;
    background-color: $color-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    height: $navigation-height;
    justify-content: space-between;
    left: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  @import 'Partials/logo';
  @import 'Partials/hamburger';
  @import 'Partials/menu';
}
