// NOTE: overwriting wp defaults
@media screen and (max-width: 600px) {
  // stylelint-disable-next-line selector-max-id
  #wpadminbar {
    position: fixed;
  }
}

flynt-component[name='NavigationBurger'] {
  --navigation-height: 64px;

  height: var(--navigation-height);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  &.headroom {
    &--not-top {
      .container {
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
      }
    }

    &--unpinned:not([data-status='menuIsOpen']) {
      .container {
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  &[data-status='menuIsOpen'] {
    .container {
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
    }
  }

  .container {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    height: var(--navigation-height);
    justify-content: space-between;
    left: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      top: var(--wp-admin--admin-bar--height);
    }
  }

  @import 'Partials/logo';
  @import 'Partials/hamburger';
  @import 'Partials/menu';
}
