<nav is="flynt-navigation-burger" class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="container centerMaxWidthContainer">
    {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
    {% if menu %}
      {% include 'Partials/_hamburger.twig' with { 'a11y': a11y } only %}
    {% endif %}
  </div>
  {% if menu %}
    {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
  {% endif %}
</nav>
