<flynt-component load:on="idle" load:on:media="(max-width: 1023px)" name="NavigationBurger">
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="container">
      {% include 'Partials/_logo.twig' with {'logo': logo, 'site': site} only %}
      {% if menu %}
        {% include 'Partials/_hamburger.twig' with {'labels': labels} only %}
      {% endif %}
    </div>
    {% if menu %}
      {% include 'Partials/_menu.twig' with {'items': menu.items} only %}
    {% endif %}
  </nav>
</flynt-component>
