<nav is="flynt-navigation-burger" class="flyntComponent">
  <div class="container centerMaxWidthContainer">
    {% include 'Partials/Logo/index.twig' with { 'logo': logo, 'site': site } only %}
    {% if menu %}
      {% include 'Partials/Hamburger/index.twig' with { 'aria': aria } only %}
      {% include 'Partials/Menu/index.twig' with { 'items': menu.items } only %}
    {% endif %}
  </div>
</nav>
