.menu {
  backface-visibility: hidden;
  background-color: $color-accent;
  height: 100%;
  left: 0;
  margin: 0;
  padding-top: $nav-height-mobile;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 997;

  &--hasNoTransition {
    transition: none;
  }

  @media (min-width: $breakpoint-tablet) {
    background: inherit;
    float: right;
    padding: 0;
    position: relative;
    transform: none;
    width: auto;
  }

  &-list {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 0;
    }
  }

  &-item {
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      float: left;
      margin: 0 0 0 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-link {
    color: $color-background;
    display: block;
    font-size: 1.25rem;
    padding: 11px;
    text-align: center;
    text-decoration: none;

    @media (min-width: $breakpoint-tablet) {
      color: $color-text;
      font-size: 18px;
      text-align: inherit;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

.navigationMain--isActive .menu {
  transform: translateX(0);
}
