$colorMenuLink        = lookup('$globalColorText')        || #aaa
$colorMenuLinkHover   = lookup('$globalColorAccent')      || #333
$colorMenuLinkMobile  = lookup('$globalColorBackground')  || #fff
$navigationHeight     = lookup('$globalNavHeight')        || 93px
$colorBackground      = lookup('$globalColorBackground')  || #fff
$colorAccent          = lookup('$globalColorBrand')       || #91C6C4
$navigationHeight     = lookup('$globalNavHeight')        || 64px

.menu
  float: right

  &-list
    clearfix()
    list-style: none
    margin: 0
    padding: 0

  &-item
    float: left
    margin: 0 0 0 10px
    padding: 0

    &:first-child
      margin-left: 0

  &-link
    color: $colorMenuLink
    display: block
    font-size: 18px
    padding: 14px
    text-decoration: none

  +below('s')
    backface-visibility: hidden
    background-color: $colorAccent
    height: 100%
    left: 0
    margin: 0
    transform: translateX(100%)
    padding-top: $navigationHeight
    position: fixed
    top: 0
    transition: transform .45s cubic-bezier(.19, 1, .22, 1)
    width: 100%
    z-index: 997

    &-hasNoTransition
      transition: none

    &-list
      margin-top: 30px

    &-item
      float: none
      margin: 0

    &-link
      font-size: 1.25rem
      text-align: center

      &,
      &:hover
        color: $colorMenuLinkMobile

.navigationMain-isActive .menu
  +below('s')
    transform: translateX(0)
