.menu {
  @include reset-list;

  backface-visibility: hidden;
  background-color: $color-background;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.16);
  height: calc(100% - #{$navigation-height});
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  position: fixed;
  top: $navigation-height;
  transform: translateX(100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 99;

  &-item--current {
    .menu-link {
      color: $color-accent;
    }
  }

  &-link {
    color: $color-text;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 12px $container-padding-mobile;
    text-align: center;
    text-decoration: none;

    @media (min-width: $breakpoint-tablet) {
      padding-left: $container-padding-tablet;
      padding-right: $container-padding-tablet;
    }
  }
}

.container-isActive .menu {
  transform: translateX(0);
}
