[is='flynt-grid-posts-slider'] {
  .container {
    @include center;

    position: relative;
  }

  .gridPosts {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    padding: 0 0 20px;
  }

  .post {
    color: $color-text;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      width: 50%;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 25%;
    }

    &-link {
      background-color: $color-background;
      display: block;
      outline: 0;
      text-decoration: none;
    }

    .figure {
      background-color: $color-text;
      height: 100%;
      margin-bottom: 0;
    }

    .content {
      padding: 10px;
    }

    #{$heading-selectors} {
      color: $color-headline;
    }

    .title {
      margin-bottom: 0.1rem;
      padding-top: 0.1rem;
    }

    time {
      font-size: 0.8rem;
    }
  }

  .noPosts {
    padding: 40px 0 0;
  }

  .slider-pagination {
    margin-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      margin-top: 3rem;
    }

    .swiper-pagination-bullet {
      background-color: rgba($color-contrast, 0.2);
      height: 6px;
      opacity: 1;
      transition: width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.3s ease;
      width: 6px;

      &-active {
        background-color: $color-contrast;
        border-radius: 4px;
        width: 20px;
      }

      &:hover,
      &:focus {
        background-color: $color-contrast;
      }
    }
  }

  &.themeDark,
  &.themeHero {
    .swiper-pagination-bullet {
      background-color: rgba($color-background, 0.2);

      &-active,
      &:hover,
      &:focus {
        background-color: $color-background;
      }
    }
  }
}
