[is='flynt-grid-posts-slider'] {
  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-desktop 0 90px;

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop;
  }

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

    @media (min-width: $breakpoint-desktop) {
      max-width: 80%;
      padding: 0;
    }
  }

  .gridPosts {
    list-style: none;
    margin-top: 20px;
    padding: 0 0 20px;

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -20px;
    }
  }

  .post {
    display: none;
    height: 100%;
    margin-right: 20px;
    overflow: hidden;
    position: relative;

    @media (min-width: $breakpoint-desktop) {
      display: block;
      margin-bottom: 20px;
      margin-right: 0;
      padding-right: 20px;
      width: 25%;
    }

    &:first-child,
    &.slick-slide {
      display: block;
    }

    &-link {
      background-color: $color-background;
      display: block;
      outline: 0;
      text-decoration: none;
      transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    .figure {
      background-color: $color-text;
      height: 100%;
      margin-bottom: 0;
    }

    .content {
      padding: 10px;
    }

    .title {
      margin-bottom: 0.1rem;
      padding-top: 0.1rem;
    }

    time {
      font-size: 0.8rem;
    }
  }

  .noPosts {
    padding: 40px 0 0;
  }

  .slick-list,
  .slick-track {
    overflow: visible;
    width: 100%;
  }

  .slick-dots {
    bottom: -12px;
    height: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;

    > li {
      display: inline-block;
      margin: 0 4px;

      button {
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        cursor: pointer;
        height: 8px;
        outline: 0;
        pointer-events: all;
        text-indent: -99999px;
        transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        width: 8px;
      }

      &.slick-active button { // stylelint-disable-line selector-no-qualifying-type
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .ctaButton {
    bottom: -60px;
    position: absolute;
    right: 40px;

    @media (min-width: $breakpoint-desktop) {
      bottom: inherit;
      right: 21px;
      top: 0;
    }
  }

  .button--light {
    background: transparent;
    border: 0;
    padding: 0;
    position: relative;

    &::after {
      background: url('../Components/GridPostsSlider/Assets/arrow-right-button.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 17px;
      left: 6px;
      position: relative;
      top: 3px;
      width: 17px;
    }
  }
}
