.searchHead {
  .titleContent,
  .counter {
    @extend %resetContentMargins;

    padding: $container-padding 0;
  }

  .searchForm {
    .label {
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
    }

    .field {
      position: relative;
    }

    .submit {
      cursor: pointer;
      height: 80px;
      line-height: 1;
      outline: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
      width: 80px;

      svg {
        position: relative;
        right: -20px;
        transform: scale(0.8);

        g {
          fill: $color-accent;
          stroke: $color-accent;
        }
      }

      &:hover {
        background-color: $color-accent;

        svg {
          g {
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }

    .input {
      font-size: 30px;
      height: 80px;
      padding: 0 80px 0 20px;
      background-color: #fff;
      border: 2px solid $color-accent;
      color: #9b9b9b;
      font-weight: 800;
      margin: 0;
      width: 100%;
      transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);

      &:focus,
      &:active {
        outline: 0;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);

        .submit {
          svg {
            &:hover {
              background-color: $color-brand;
            }
          }
        }
      }
    }
  }
}
