div(class=$data('baseClasses') is='wps-main-template')
  .page-wrapper(role='document')
    .main-header
      != $area('mainHeader')
    main.main-content(role='main')
      != $area('pageHeader')
      != $area('pageModules')
    .main-footer
      != $area('mainFooter')
