<div class="flyntComponent" is="flynt-hero-text-image">
  <div class="container container--{{ contentAlignment }} centerMaxWidthContainer">
    <div class="column column--content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <div class="column column--image">
      <img class="image" src="{{ image.src|resize(0, 600) }}" alt="{{ image.alt|e }}">
    </div>
  </div>
</div>
