doctype html
html(class="no-js #{$data('bodyClass')} #{$data('baseClasses')}" lang=$data('lang') dir=$data('dir') is='wps-main-layout')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(href=$data('faviconPath') rel='shortcut icon' type='image/png')
    link(rel='alternate' type='application/rss+xml' title=$data('feedName') href=$data('feedHref'))
    link(rel='apple-touch-icon' href=$data('appleTouchIcon180x180Path'))
    != $callUserFunc('wp_head')
  body
    != $area('mainTemplate')
    != $callUserFunc('wp_footer')
    != $area('additionalFooter')
