flynt-component[name='BlockWysiwyg'] {
  .content {
    > :last-child {
      margin-block-end: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      br {
        content: '\00a0';
      }
    }
  }

  [data-text-align='left'] {
    text-align: start;
  }

  [data-text-align='center'] {
    text-align: center;
  }
}
