[is='flynt-block-wysiwyg'] {
  margin-bottom: $component-spacing;

  .container {
    @include center;
  }

  .content {
    margin: 0 auto;
    max-width: $content-max-width;
    text-align: inherit;

    &--textLeft {
      text-align: left;
    }

    &--textCenter {
      text-align: center;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
