<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-wysiwyg">
  <div class="container centerMaxWidthContainer">
    <div class="content content--{{ textAlignment }} centerContentMaxWidth">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
