$rupture.scale = lookup('$globalRuptureScale') || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 15px
$containerMaxWidth = 640px

.flyntComponent[is='flynt-block-wysiwyg']
  .container
    center($containerMaxWidth + 2 * $containerPadding, $containerPadding)
    padding-bottom: 2rem

  .content
    text-align: inherit

    &--textLeft
      text-align: left

    &--textCenter
      text-align: center
