$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

.flyntComponent[is='flynt-block-wysiwyg']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .blockWysiwyg
    center($containerMaxWidth, $gutterWidth)
