$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding     = lookup('$globalContainerPadding')   || 20px
$contentMaxWidth      = lookup('$globalContentMaxWidth')    || 600px

.flyntComponent[is='flynt-block-wysiwyg']
  .container
    margin: 0 auto
    padding: 0 $containerPadding

  .content
    margin: 0 auto
    max-width: $contentMaxWidth
    text-align: inherit

    &--textLeft
      text-align: left

    &--textCenter
      text-align: center

    > :last-child
      margin-bottom: 0
      padding-bottom: 0
