[is='flynt-block-image-text-cta'] {
  .box {
    margin: 0 auto;
    padding: $container-padding-tablet 0;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      margin: 0 -20px;
      max-width: none;
      padding: $container-padding-desktop 0;

      &-inner {
        padding: 0 20px;
      }

      &--imageLeft {
        flex-direction: row-reverse;
      }

      &--imageRight {
        flex-direction: row;
      }
    }

    &-inner {
      &--content {
        @include reset-content-margins;

        margin: $container-padding-tablet 0 1.5rem 0;
      }

      @media (min-width: $breakpoint-tablet) {
        &--image {
          width: 70%;
        }

        &--content {
          flex-direction: row;
          width: 30%;
        }
      }
    }
  }

  .figure {
    font-size: 0.8rem;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;

      &-caption {
        position: absolute;
      }
    }
  }
}
