[is='flynt-block-image-text-cta'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .box {
    margin: 0 auto;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      margin-left: -($gutter-width);
      margin-right: -($gutter-width);
      max-width: none;

      &-inner {
        padding: 0 $gutter-width;
      }

      &--imageLeft {
        flex-direction: row-reverse;
      }

      &--imageRight {
        flex-direction: row;
      }
    }

    &-inner {
      &--content {
        @include reset-content-margins;

        margin: $container-padding-tablet 0 1.5rem;
        max-width: $content-max-width;
      }

      @media (min-width: $breakpoint-tablet) {
        &--image {
          width: 70%;
        }

        &--content {
          flex-direction: row;
          width: 30%;
          min-width: 300px;
        }
      }
    }
  }

  .figure {
    font-size: 0.8rem;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }
  }
}
