[is='flynt-form-newsletter-mailchimp'] {
  .form {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-horizontal) {
      flex-direction: row;
    }

    &-input {
      background-color: $color-background;
      border-color: $color-background;
      border-radius: 4px;
      color: $color-headline;
      flex-grow: 1;
      margin-bottom: $container-padding-mobile;

      @media (min-width: $breakpoint-mobile-horizontal) {
        margin-bottom: 0;
        margin-right: 1.25rem;
      }
    }
  }

  &.themeLight,
  &.themeDefault {
    .formSubscribe {
      &-input {
        border-color: $color-border;
      }
    }
  }
}
