<div is="wps-main-template">
  <div class="page-wrapper" role="document">
    <div class="main-header">
      {{ area('mainHeader') }}
    </div>
    <main class="main-content" role="main">
      {{ area('pageHeader') }}
      {{ area('pageComponents') }}
    </main>
    <div class="main-footer">
      {{ area('mainFooter') }}
    </div>
  </div>
</div>
