<div is="wps-main-template">
  <section class="page-wrapper">
    <header class="main-header">
      {{ area('mainHeader') }}
    </header>
    <main class="main-content">
      {{ area('pageComponents') }}
    </main>
    <footer class="main-footer">
      {{ area('mainFooter') }}
    </footer>
  </section>
</div>
