[is='flynt-main-template']
  .pageWrapper
    height: 100%

  .pageWrapper
    display: table
    table-layout: fixed
    width: 100%

  .mainHeader,
  .mainContent,
  .mainFooter
    display: table-row
    height: 1px

  .mainContent
    height: 100%
