[is='flynt-document-default']
  .btn-primary
    background-color: $globalColorBrand
    color: $globalColorText

    &:hover
      background-color: $globalColorBrand
      text-decoration: none

  .btn
    border-radius: 5px
    border: 1px solid
    display: inline-block
    margin: 5px 0
    padding: 10px 14px
    transition: background-color .3s ease

    &.--block
      display: block
      text-align: center

    &:focus,
    &:active
      box-shadow: none
      outline: 0
