$colorBackground = lookup('$globalColorBackground') || #FFFFFF
$colorAccent = lookup('$globalColorAccent') || #F98928
$colorTextPrimary = lookup('$globalColorText') || #2A2A2A
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)

.flyntComponent[is='flynt-document-default']
  .btn,
  button,
  [type='button'],
  [type='submit'],
  [type='reset']
    appearance: none
    background: $colorBackground
    border-radius: 3px
    border: 1px solid $colorAccent
    color: $colorAccent
    cursor: pointer
    display: inline-block
    font-size: inherit
    line-height: inherit
    margin-bottom: 1em
    outline: 0
    padding: .5rem 1rem
    text-decoration: none
    transition: background .2s ease, border .2s ease, color .2s ease

    +above('xl')
      &:hover,
      &:focus
        border-color: darken($colorAccent, 10)
        color: darken($colorAccent, 10)

  .btn
    &--primary
      background-color: $colorAccent
      border-color: $colorAccent
      color: $colorBackground

      +above('xl')
        &:hover,
        &:focus
          background-color: darken($colorAccent, 10)
          color: $colorBackground

    &--block
      display: block
      text-align: center
      width: 100%
