$colorBackground = lookup('$globalColorBackground') || #FFFFFF
$colorBrand = lookup('$globalColorBrand') || #91C6C4
$colorAccent = lookup('$globalColorAccent') || #F98928
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)

.flyntComponent[is='flynt-document-default']
  *,
  *:before,
  *:after
    box-sizing: border-box

  img
    display: block
    height: auto
    max-width: 100%

  hr
    background-color: $colorBrand
    border: 0
    display: block
    height: 1px
    margin: 2rem 0

  img
    display: block
    max-width: 100%
    width: 100%

    &.lazyload--fade
      opacity: 0
      transition: opacity .2s

    &.lazyloaded
      opacity: 1
