[is='flynt-document-default']
  body
    background-color: $global-color-background
    color: $global-color-text
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px
    line-height: 1.3

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5
    color: $global-color-headline
    font-weight: normal

  h1, .h1
    font-size: 40px

  h2, .h2
    font-size: 30px

  h3, .h3
    font-size: 25px

  h4, .h4
    font-size: 18px

  h5, .h5
    font-size: 14px

  p, .paragraph
    margin: 15px 0

  a, .link
    color: $global-color-brand

    &:hover
      color: $global-color-brand
      text-decoration: underline
