$colorHeadline = lookup('$globalColorHeadline') || #000000
$colorAccent = lookup('$globalColorAccent') || #F98928
$colorText = lookup('$globalColorText') || #000000
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)

.flyntComponent[is='flynt-document-default']
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $colorBackground
  color: $colorText
  font-family: Helvetica, Arial, sans-serif
  font-size: 18px
  line-height: 1.5

  +below('m')
    font-size: 16px

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6
    color: $colorHeadline
    line-height: 1.3
    margin-bottom: .5rem
    margin-top: 0

  h1, .h1
    font-size: 2rem
    padding-top: 2rem

  h2, .h2
    font-size: 1.5rem
    padding-top: 1rem

  h3, .h3
    font-size: 1.3rem
    padding-top: .8rem

  h4, .h4
    font-size: 1rem
    padding-top: .5rem

  h5, .h5
    font-size: 1rem
    font-weight: normal
    padding-top: .5rem

  h6, .h6
    font-size: .8rem
    padding-top: .5rem

  a
    &, &:hover
      color: $colorAccent

  dt
    font-weight: bold

  p, .paragraph,
  ul, ol,
  dl, dd
    margin: 0 0 1rem

  ul, ol
    padding-left: 1.5rem

  blockquote, .blockquote
    border-left: 3px solid $colorBrand
    font-size: 1.3rem
    font-style: italic
    line-height: 1.3
    margin: 2rem auto
    max-width: 28rem
    padding: .5rem 1.5rem

    p:last-child
       margin-bottom: 0
