[is='flynt-block-text-image-crop'] {
  .box {
    margin-top: -40px;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      margin-top: 0;
    }

    &-inner {
      &--image {
        position: relative;

        @media (min-width: $breakpoint-tablet) {
          width: 45%;
        }
      }

      &--content {
        padding: $container-padding-mobile;

        @media (min-width: $breakpoint-tablet) {
          padding: $container-padding-tablet;
          width: 55%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: $container-padding-tablet ($container-padding-tablet * 2);
        }

        @media (min-width: $breakpoint-desktop) {
          padding: $container-padding-desktop ($container-padding-desktop * 2);
        }
      }
    }

    &-contentWrapper {
      @include reset-content-margins;

      max-width: $content-max-width;
    }

    &--imageRight {
      @media (min-width: $breakpoint-tablet) {
        flex-direction: row-reverse;

        .figure-caption {
          text-align: right;
        }

        .box-contentWrapper {
          margin-left: auto;
        }
      }
    }
  }

  .figure {
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }

    &-caption {
      padding: 0 $container-padding-mobile;
    }
  }
}
