$slideColor = #fff
$backgroundColor = $global-color-brand is defined ? $global-color-brand : #00ff00
$gutterWidth = $global-layout-gutterWidth is defined ? $global-layout-gutterWidth : 15px
$maxWidth = $global-layout-maxWidth is defined ? $global-layout-maxWidth : 1140px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='wps-slider-cols']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .slider
    center($maxWidth, $gutterWidth)

    &-row
      clearfix()
      margin: 30px 0

    &-item
      margin-bottom: $gutterWidth

      +above('m')
        column(1/4)
        margin-bottom: 0

    &-image
      display: block
      max-width: 100%

    &-content
      color: $slideColor
      background-color: $backgroundColor
      padding: 20px
