$global-color-text = #000
$global-color-headline = #153cab
$global-color-background = white
$global-color-brand = #254fc7

$global-layout-scale = 0 400px 800px 1200px
$global-layout-gutterWidth = 15px
$global-layout-maxWidth = 1140px
$global-layout-narrowWidth = 750px
