<?xml version="1.0"?>
<ruleset name="Flynt Theme PHP Coding Standards">
  <description>Coding Standards for Flynt Theme</description>

  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>./vendor/*</exclude-pattern>
  <exclude-pattern>./dist/*</exclude-pattern>

  <file>.</file>

  <arg name="extensions" value="php"/>
  <arg name="colors"/>

  <!-- Show sniff codes in all reports -->
  <arg value="s"/>
  <!-- Exclude Warnings -->
  <arg value="n"/>

  <rule ref="PSR12"/>
</ruleset>
