include ../MainLayout/PugMixins/picture.php.pug

- $mediaSliderTitle = true //- Show a title/caption for the Media Slider - true | false
- $mediaSliderTitlePosition = 'below' //- Should the Media Slider Title be above or below the slide? - above | below

div(is='wps-media-slider')
  .mediaSlider
    ul.mediaSlider-slides
      for mediaSlide in $data('mediaSlides')
        li.mediaSlider-slide
          - if $mediaSliderTitle && $mediaSliderTitlePosition == 'above'
            .mediaSlider-slideTitleWrapper
              .mediaSlider-slideTitle= $mediaSlide['titleText']
          if $mediaSlide['mediaType'] === 'image'
            - $image = $mediaSlide['image']
            +picture($image, 'mediaSlider')
          else
            //- oembed
          - if $mediaSliderTitle && $mediaSliderTitlePosition == 'below'
            .mediaSlider-slideTitleWrapper
              .mediaSlider-slideTitle= $mediaSlide['titleText']
