$maxWidth = lookup('$global-layout-maxWidth') || 1140px
// Note: When passing multiple values capsule them with paranthesis
rupture.scale = lookup('$global-layout-scale') || (0 400px 800px 1200px)

$containerMaxWidth = 1440px // Width for the container if not using a container
$useContainer = true // Use a container or a fluid wrapper

$useFixedHeight = true // Use a fixed height
$fixedHeightDesktop = 500px // Fixed Height for Desktop Resolutions
$fixedHeightMobile = 300px // Fixed Height for Mobile Resolutions

$slideTitleOverlay = false // Should the title overlay the media?
$slideTitleOffset = 15px // Offset of the title to the edges of the slider
$slideTitleVerticalPosition = 'top' // Defines if the title should be on top/bottom of slider 'top' | 'bottom'

$slideDotsOverlay = true // Should the navigation dots overlay the media?
$slideDotsOffset = 15px // Offset of the dots to the edges of the slider
$slideDotsVerticalPosition = 'top' // Defines if the dots should be on top/bottom of slider 'top' | 'bottom'
$slideDotsSpacing = 2px // Spacing between dot
$slideDotsSize = 12px // Size of a dot
$slideDotColor = #fff // Color of the dot

$arrowSize = 2em // Size of the arrows
$arrowColor = #fff // Color of the arrows

@font-face
  font-family: 'slick'
  font-weight: normal
  font-style: normal
  src: url('../../vendor/slick/slick.eot')
  src: url('../../vendor/slick/slick.eot?#iefix') format('embedded-opentype'), url('../../vendor/slick/slick.woff') format('woff'), url('../../vendor/slick/slick.ttf') format('truetype'), url('../../vendor/slick/slick.svg#slick') format('svg')

[is='wps-media-slider']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .mediaSlider
    position: relative

    if $useContainer
      center($maxWidth)
    else
      center($containerMaxWidth)
      padding-left: 0
      padding-right: 0

    &-slides
      list-style: none
      margin: 0
      padding: 0

    &-slide
      outline: 0
      position: relative

    &-slideTitleWrapper
      text-align: center
      width: 100%

      if $slideTitleOverlay
        left: 0
        position: absolute
        z-index: 2

        if $slideTitleVerticalPosition is 'top'
          top: $slideTitleOffset
        else
          bottom: $slideTitleOffset

    &-slideTitle
      background: #fff
      display: inline-block
      padding: 10px

    &-imageContainer
      display: block
      width: 100%

      if $useFixedHeight
        height: $fixedHeightDesktop

        +below(2)
          height: $fixedHeightMobile

    &-imageElement
      display: block

      if $useFixedHeight
        height: 100%
        object-fit: cover
        width: 100%
      else
        height: auto
        max-width: 100%

    &-prevButton,
    &-nextButton
      background: transparent
      border: 0
      color: $arrowColor
      cursor: pointer
      font-family: 'slick'
      font-size: $arrowSize
      margin: auto
      opacity: 1
      outline: 0
      position: absolute
      top: 50%
      transform: translateY(-100%)
      transition: all .25s
      visibility: visible
      z-index: 2

      &.slick-disabled
        opacity: 0
        visibility: hidden

    &-prevButton
      left: 15px

    &-nextButton
      right: 15px

    .slick-dots
      list-style: none
      margin: 0
      padding: 0
      text-align: center
      width: 100%

      if $slideDotsOverlay
        position: absolute
        left: 0

        if $slideDotsVerticalPosition is 'top'
          top: $slideDotsOffset
        else
          bottom: $slideDotsOffset

    .slick-dots > li
      display: inline-block
      margin: 0 $slideDotsSpacing

    .slick-dots > li button
      background: transparent
      border-radius: 50%
      border: 2px solid $slideDotColor
      color: transparent
      cursor: pointer
      display: block
      height: $slideDotsSize
      outline: 0
      padding: 0
      width: $slideDotsSize

    .slick-dots > li.slick-active button
      background: $slideDotColor
