@import 'Assets/grd';

[is='flynt-list-logos'] {
  margin: 64px 0 0;

  @at-root .themeDark#{&} {
    background-color: #000;
  }

  @media (min-width: $breakpoint-mobile-horizontal) {
    margin: 96px 0 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 128px 0 0;
  }

  .container {
    @include center;
  }

  .listLogos {
    display: block;
    padding-top: 80px;
    padding-bottom: 96px;
  }

  .header {
    text-align: center;

    @at-root .themeDark#{&} {
      h2, p {
        color: #fff;
      }
    }
  }

  .list {
    @include grd;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      @include grd-item(2, 18px, 18px);

      @media (min-width: 375px) {
        @include grd-item(3, 18px, 18px);
      }

      @media (min-width: $breakpoint-mobile-horizontal) {
        @include grd-item(4, 18px, 18px);
      }

      @media (min-width: $breakpoint-tablet) {
        @include grd-item(6, $gutter-width, $gutter-width);
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include grd-item(8, $gutter-width, $gutter-width);
      }
    }
  }

  .media {
    display: block;
    height: 0;
    padding-bottom: 70%;
    position: relative;

    @at-root .flyntComponent--card#{&} {
      background-color: #fff;
      padding-bottom: 100%;
    }
  }

  .logo {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @import 'Partials/Image/style';
}
