.alert
  padding: 20px

  h2,
  h3
    margin: 0 0 10px

  ul,
  ol
    margin: 0

  p:last-of-type
    margin-bottom: 0

  &.alert-info
    background: $brand-color-primary
    border-color: $brand-color-secondary
    color: #fff

  &.alert-info a
    color: #fff
    text-decoration: underline

  &.alert-info a:hover
    color: #fff

  &.alert-steps
    border: 3px solid #ddd
    margin-top: 40px
    padding: 30px
