[is='flynt-grid-posts'] {
  background-color: $color-background-light;
  padding: $component-spacing-desktop 0;

  .container {
    @include center;

    @media (min-width: $breakpoint-tablet) {
      @include center($padding: $container-padding-tablet);
    }

    @media (min-width: $breakpoint-desktop) {
      @include center($padding: $container-padding-desktop);
    }
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gridPosts {
    @include grid;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .noPosts {
    padding: 40px 0 0;
  }

  .post {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: $breakpoint-tablet) {
      @include grid-item(2, $gutter-width);
      margin-bottom: 0;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid-item(3, $gutter-width);
    }

    &-link {
      display: block;
      text-decoration: none;
      transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .figure {
      background-color: $color-text;
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 0.625rem;
      padding-top: 1.875rem;
    }

    .preview {
      margin-bottom: 0;
    }
  }

  @import 'Partials/Filter/style';
  @import 'Partials/PaginationButtons/style';
}
