[is='flynt-grid-posts'] {
  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-desktop 0;

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gridPosts {
    @include grid;
    list-style: none;
    margin: 0 -10px;
    padding: 0;
  }

  .noPosts {
    padding: 40px 0 0;
  }

  .post {
    @include grid-item(3, 24px)

    &-link {
      background-color: $color-background;
      display: block;
      text-decoration: none;
      transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    .figure {
      background-color: $color-text;
      margin-bottom: 0;
    }

    .content {
      padding: 10px;
    }

    .title {
      margin-bottom: 0.1rem;
      padding-top: 0.1rem;
    }

    time {
      font-size: 0.8rem;
    }
  }

  .pagination {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

    &-counter {
      margin: 0 5px;
    }

    .button {
      margin-bottom: 0;

      &--primary {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
