$containerPadding = lookup('$globalContainerPadding') || 20px
$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1280px
$contentMaxWidth = lookup('$globalContentMaxWidth') || 600px
$colorBackground = lookup('$globalColorBackground') || #ffffff
$colorText = lookup('$globalColorText') || #222222

.flyntComponent[is="flynt-grid-posts"]
  background-color: rgba(0, 0, 0, .03)
  padding: 60px 0

  .container
    margin: 0 auto
    padding: 0 $containerPadding
    max-width: $containerMaxWidth

  .preContent
    margin: 0 auto 50px
    max-width: $contentMaxWidth
    text-align: center

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0

  ul
    list-style: none
    margin: 0
    padding: 0

  .gridPosts
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none
    margin: 0 -10px
    padding: 0

  .noPosts
    padding: 40px 0 0

  .post
    padding: 0 10px 20px
    max-width: 360px
    width: 25%

    +below('l')
      width: 50%

    +below('s')
      width: 100%

    &-link
      background-color: $colorBackground
      display: block
      text-decoration: none
      transition: background-color .3s cubic-bezier(.250, .460, .450, .940)

      &:hover
        background-color: rgba(0, 0, 0, .03)

    .figure
      background-color: $colorText
      margin-bottom: 0

    .content
      padding: 10px

    .title
      padding-top: .1rem
      margin-bottom: .1rem

    time
      font-size: .8rem

  .pagination
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 40px

    &-counter
      margin: 0 5px

    .btn
      margin-bottom: 0

      &--primary
        &:hover
          color: #fff
