<div class="brandLogo">
  <div class="brandLogo-svgWrapper">
      <a class="brandLogo-homeLink" href="{{ bloginfo('url') }}">
        <img class="brandLogo-image" src="{{ logo }}" alt="{{ siteTitle }}"/>
      </a>
  </div>
</div>
