div(class=$data('baseClasses'))
  nav
    div
      ul(id='menu-main' class="menu")
        for item in $data('menuItems')
          li(class=item.css_classes)
            a(href=item.href title=item.title target=item.target)
              = item.text
