<article class="singlePost">
  <div class="singlePost-content">
    <div class="singlePost-thumbnailWrapper">
      {% include 'partials/PostThumbnail/index.twig' %}
    </div>
    <div class="singlePost-contentWrapper">
      {% include 'partials/PostHeader/index.twig' %}
      {% include 'partials/PostContent/index.twig' %}
      {% include 'partials/PostFooter/index.twig' %}
    </div>
  </div>
</article>
