<p>
  <button type="button" class="button">Button</button>
  <button type="button" class="button button--outlined">Button outlined</button>
</p>
<p>
  <button type="button" class="button" disabled>Button disabled</button>
  <button type="button" class="button button--outlined" disabled>Button outlined disabled</button>
</p>
<p>
  <button class="button button--text">Button Text</button>
  <button class="button button--text" disabled>Button Text disabled</button>
</p>
<p>
  <a class="button" href="https://www.google.com/search?q=HTML+Links" target="_blank">Link as Button</a>
  <a class="button button--outlined" href="https://www.google.com/search?q=HTML+Links" target="_blank">Link as Button outlined</a>
</p>
<p>
  <a class="button button--text" href="https://www.google.com/search?q=HTML+Links" target="_blank">Link as Button Text</a>
</p>
<p>
  <a href="https://www.google.com/search?q=HTML+Links" target="_blank">Regular Link</a>
</p>
