<ul class="flowContent">
  <li><code>.componentSpacing</code><br>Ensures consistent component top and bottom spacing.</li>
  <li><code>.centerMaxWidthContainer</code><br>Ensures consistent left and right padding and website max width.</li>
  <li><code>.centerContentMaxWidth</code><br>Ensures an optimal readability of text contents (optimal line length for text is between 50 and 75 characters).</li>
  <li><code>.flowContent</code><br>Ensures adds margin to child sibling elements, mostly perfect for flowing texts. For a closer examination of how it works, take a look at the <a href="#typography">2.&nbsp;Typography</a> section.</li>
  <li><code>.preContent</code><br>Ensures consistent positioning of content preceding the main section of a component.</li>
  <li><code>.postContent</code><br>Ensures consistent positioning of content following the main section of a component.</li>
  <li><code>.scrollableTableWrapper</code><br>Wrapping a table with a container element with this class makes the table scrollable on smaller screen sizes.</li>
  <li><code>.visuallyHidden</code><br>Visually hides text in a way that screen readers will still read it.</li>
</ul>
<div class="boxBorder boxPadding flowContent">
  <h3>Box Helpers</h3>
  <p>Box helper classes can be used alone or in combination to ensure consistent styling across components and easily create “cards”.</p>
  <ul class="flowContent">
    <li>Using the class <code>.boxBorder</code> allows you to consistently add borders.</li>
    <li>Using the class <code>.boxPadding</code> allows you to consistently style any content container as a responsive padding box.</li>
  </ul>
</div>
