<div class="scrollableTableWrapper">
  <table>
    <caption>Additionally demonstrates how tables typically appear</caption>
    <thead>
      <tr>
        <th scope="col">Example</th>
        <th scope="col">CSS variable</th>
        <th scope="col">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="background: var(--color-accent);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-accent</td>
        <td>Highlight elements or draw attention (e.g. Links or Buttons)</td>
      </tr>
      <tr>
      <tr>
        <th scope="row" style="background: var(--color-background);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-background</td>
        <td>Element Backgrounds</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-background-secondary);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-background-secondary</td>
        <td>More contrasted Element Backgrounds (e.g. inside Table Rows)</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-border);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-border</td>
        <td>Element Borders (e.g. Tables or Cards)</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-border-secondary);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-border-secondary</td>
        <td>More contrasted Element Borders (e.g. inputs)</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-text);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-text</td>
        <td>Texts and Elements</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-text-muted);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-text-muted</td>
        <td>Subtle Texts or Elements (e.g. Captions and Table Headers)</td>
      </tr>
      <tr>
        <th scope="row" style="background: var(--color-error);"><span class="visuallyHidden">Color example</span></th>
        <td>--color-error</td>
        <td>Indicate errors (e.g. on inputs)</td>
      </tr>
    </tbody>
  </table>
</div>
