<h3 class="h1">H1: The quick brown fox jumps over the lazy dog</h3>
<h3 class="h2">H2: The quick brown fox jumps over the lazy dog</h3>
<h3>H3: The quick brown fox jumps over the lazy dog</h3>
<h3 class="h4">H4: The quick brown fox jumps over the lazy dog</h3>
<h3 class="h5">H5: The quick brown fox jumps over the lazy dog</h3>
<h3 class="h6">H6: The quick brown fox jumps over the lazy dog</h3>
<p>Paragraph: The quick brown fox jumps over the lazy dog</h3>
<p><label>Label: The quick brown fox jumps over the lazy dog</label></p>
<p><figcaption>Caption: The quick brown fox jumps over the lazy dog</figcaption></p>

<p>Paragraphs can contain any number of words or other elements. It can also contain <a href="https://www.google.com/search?q=HTML+Links" target="_blank">links</a>, <strong>bold</strong>, <em>italic</em>, <u>underline</u>, <s>strikethrough</s>, <sub>sub</sub>, <sup>sup</sup>, <abbr title="Abbreviation">abbr.</abbr>, <mark>highlighted</mark>, <kbd>kbd</kbd>, <code>code</code> or other inline elements.</p>
<p>This paragraph is a placeholder and it can be skipped. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet venenatis urna cursus. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus.</p>
<blockquote>
  <p>“Base styling is done, when this page has a custom look and is visually structured so that all elements, their relationships, meanings and hierarchy are recognizable.”</p>
  <footer><cite>— a mysterious web developer</cite></footer>
</blockquote>
<p>This paragraph is a placeholder and it can be skipped. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet venenatis urna cursus. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus.</p>
<figure>
    <img src="https://via.placeholder.com/770x513?text=3:2%20ratio" alt="Placeholder">
    <figcaption>A caption for the image</figcaption>
 </figure>
 <h3>Lists</h3>
 <p>Make sure you're not resetting all list elements, because that might come in handy for styling other layout elements, but remain their purpose for formatted text.</p>
 <h4>What you need to consider?</h4>
 <ul>
   <li>What's the margin and padding of the list?</li>
   <li>Which list style is the default?</li>
   <li>Will there be custom list style icons like:
     <ol>
       <li>stars</li>
       <li>checkmarks</li>
       <li>colored bullets or list numbers</li>
     </ol>
   </li>
   <li>Nested list styles should have a different look.
     <ul>
       <li>The user agent stylesheet does that already.</li>
       <li>So custom styled lists should consider it as well.</li>
       <li>An option might be to only specifically style the top level list style icon to keep the browser defaults for nesting.</li>
     </ul>
   </li>
   <li>Also remember to test multiline list items like the one above.</li>
 </ul>
