[is='flynt-grid-posts-teaser'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .preContent {
    @include reset-content-margins;

    margin-bottom: 4.375rem;
  }

  .preContent,
  .postContent {
    text-align: center;
  }

  .grid {
    @include reset-list;
    @include grid(1, center);

    margin-bottom: 4.375rem;

    @for $i from 2 through 4 {
      &--length#{$i} {

        @media (min-width: $breakpoint-tablet) {
          @include grid(2, center);
        }

        @media (min-width: $breakpoint-desktop) {
          @include grid($i, center);
        }
      }
    }

    &-item {
      display: flex;
      max-width: $content-max-width;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    width: 100%; // IE11 bug fix

    &-image {
      flex-shrink: 0; // IE11 bug fix
    }

    &-inner {
      background-color: $color-background;
      flex-grow: 1;
      padding: 1.25rem;
    }

    &-title {
      color: $color-headline;
      padding-top: 0;
    }

    &-header {
      align-items: center;
      display: flex;
      font-size: 0.8125rem;
      justify-content: space-between;
      margin-bottom: 0.625rem;
    }

    &-block {
      max-width: 55%; // Prevent overflow in case of long text
    }
  }

  .time {
    align-items: center;
    display: flex;

    &-icon,
    &-main {
      color: $color-contrast;
    }

    &-icon {
      display: inline-block;
      line-height: 1rem;
      margin-right: 0.375rem;

      .feather {
        color: inherit;
        height: 1rem;
        top: 0;
        width: 1rem;
      }
    }
  }
}
