@import 'figure';
@import 'videoPlayButton';
@import 'videoLoader';

.video {
  margin: 0 auto;
  position: relative;

  &-player {
    height: 0;
    inset-block-start: 0;
    padding-block-end: calc(100% / 16 * 9);
    position: absolute;
    width: 100%;
    z-index: 10;

    &[data-state='isLoading'] {
      .video-loader {
        display: block;
      }

      .video-playButton {
        display: none;
      }
    }

    &[data-state='isLoaded'] {
      .video-loader,
      .video-playButton {
        display: none;
      }

      iframe {
        display: block;
      }
    }
  }

  iframe {
    display: none;
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
  }

  &[data-video-size='small'] {
    max-width: 375px;
  }

  &[data-video-size='medium'] {
    max-width: var(--content-max-width);
  }

  &[data-video-size='large'] {
    max-width: var(--content-max-width-large);
  }

  &[data-video-size='full'] {
    max-width: 100%;

    .figure-caption {
      margin-inline: auto;
      max-width: var(--container-max-width);
      padding-inline: var(--container-padding);
    }
  }
}
