<div class="video" data-video-size="{{ size }}">
  {% include 'Partials/_figure.twig' ignore missing with {image: image} only %}
  <div data-ref="videoPlayer" class="video-player">
    {{ video }}
    <div class="video-loader"></div>
    <button data-ref="playButton" class="video-playButton" type="button" aria-label="Play Video"></button>
  </div>
</div>
