.video-playButton {
  cursor: pointer;
  display: block;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  outline: 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &::before,
  &::after {
    content: '';
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    transition: 0.3s ease-in-out;
    will-change: transform;
  }

  &::before {
    background-color: rgba($color: #000, $alpha: 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 64px;
    width: 64px;

    @media (min-width: $breakpoint-tablet) {
      height: 96px;
      width: 96px;
    }
  }

  &::after {
    border-block-end: 16px solid transparent;
    border-block-start: 16px solid transparent;
    border-inline-start: 24px solid #fff;
    inset-inline-start: calc(50% + 2px);

    @media (min-width: $breakpoint-tablet) {
      border-block-end-width: 24px;
      border-block-start-width: 24px;
      border-inline-start-width: 40px;
      inset-inline-start: calc(50% + 6px);
    }
  }

  &:hover {
    &::before,
    &::after {
      transform: scale(1.1) translate(-50%, -50%);
    }
  }
}

[data-video-size='small'] {
  .video-playButton {
    &::before {
      height: 64px;
      width: 64px;
    }

    &::after {
      border-block-end-width: 16px;
      border-block-start-width: 16px;
      border-inline-start-width: 24px;
      inset-inline-start: calc(50% + 4px);
    }
  }
}
