.video-playButton {
  --button-width: 60px;
  --button-height: 60px;
  cursor: pointer;
  display: block;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  outline: 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &::before,
  &::after {
    content: '';
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    transition: 0.3s ease-in-out;
    will-change: transform;
  }

  &::before {
    background-color: var(--color-accent);
    border-radius: 50%;
    height: var(--button-width);
    width: var(--button-width);

    @media (min-width: $breakpoint-tablet) {
      --button-width: 80px;
      --button-height: 80px;
    }
  }

  &::after {
    border-block-end: 12px solid transparent;
    border-block-start: 12px solid transparent;
    border-inline-start: 18px solid var(--color-background);
    inset-inline-start: calc(50% + 2px);

    @media (min-width: $breakpoint-tablet) {
      border-block-end-width: 17px;
      border-block-start-width: 17px;
      border-inline-start-width: 27px;
      inset-inline-start: calc(50% + 4px);
    }
  }

  &:hover {
    &::before,
    &::after {
      transform: scale(1.1) translate(-50%, -50%);
    }
  }
}

[data-video-size='small'] .video-playButton {
  &::before {
    --button-width: 60px;
    --button-height: 60px;
  }

  &::after {
    border-block-end: 12px solid transparent;
    border-block-start: 12px solid transparent;
    border-inline-start: 18px solid var(--color-background);
    inset-inline-start: calc(50% + 3px);
  }
}
