.video-playButton {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &::before,
  &::after {
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    transition: 0.2s ease;
  }

  &::before {
    background-color: rgba($color: #000, $alpha: 0.5);
    border: var(--border-width) solid #fff;
    border-radius: 50%;
    height: 64px;
    width: 64px;

    @media (min-width: $breakpoint-tablet) {
      height: 96px;
      width: 96px;
    }
  }

  &::after {
    border-bottom: 16px solid transparent;
    border-left: 24px solid #fff;
    border-top: 16px solid transparent;
    left: calc(50% + var(--border-width));

    @media (min-width: $breakpoint-tablet) {
      border-bottom-width: 24px;
      border-left-width: 40px;
      border-top-width: 24px;
      left: calc(50% + 6px);
    }
  }

  &:hover {
    &::before,
    &::after {
      transform: scale(1.1) translate(-50%, -50%);
    }
  }
}

&.flyntComponent--sizeSmall {
  .video-playButton {
    &::before {
      height: 64px;
      width: 64px;
    }

    &::after {
      border-bottom-width: 16px;
      border-left-width: 24px;
      border-top-width: 16px;
      left: calc(50% + 4px);
    }
  }
}
