@import 'figure';
@import 'videoPlayButton';
@import 'videoLoader';

.video {
  margin: 0 auto;
  position: relative;

  &-player {
    height: 0;
    padding-bottom: calc(100% / 16 * 9);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &[data-state='isLoading'] {
      background: var(--color-border-alpha);
      transition: background 0.2s ease-out;

      .video-loader {
        display: block;
      }

      .video-playButton {
        display: none;
      }
    }

    &[data-state='isLoaded'] {
      .video-loader,
      .video-playButton {
        display: none;
      }

      iframe {
        display: block;
      }
    }
  }

  iframe {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &[data-video-size='small'] {
    max-width: 375px;
  }

  &[data-video-size='medium'] {
    max-width: var(--content-max-width);
  }

  &[data-video-size='large'] {
    max-width: var(--content-max-width-large);
  }

  &[data-video-size='huge'] {
    max-width: var(--container-max-width);
  }

  &[data-video-size='full'] {
    max-width: 100%;

    .figure-caption {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--container-max-width);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
    }
  }
}
