<ul class="buttonList">
  {% for page in pagination.pages %}
    <li class="buttonList-item">
      <a href="{{ page.link }}" class="buttonList-link {{ page.class }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>
