$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

[is='flynt-media-text-block']
  *,
  *:before,
  *:after
    box-sizing: border-box

  img
    height: auto
    width: 100%

  .mediaTextBlock
    center($containerMaxWidth, $gutterWidth)

    &-columnMedia,
    &-columnContentHtml
      column(1/2, $gutter: 2)

      +below('s')
        stack()

    &.mediaRight
      .mediaTextBlock-columnMedia
        move(1/2, $gutter: 2)

      .mediaTextBlock-columnContentHtml
        move(-1/2, $gutter: 2)

      .mediaTextBlock-columnMedia,
      .mediaTextBlock-columnContentHtml
        +below('s')
          unmove()

    &-imageElement
      height: auto
      width: 100%

    &-oembedVideoContainer
      position: relative

    &-imageWrapper
      cursor: pointer
      position: absolute
      transition: visibility $transitionTime $transitionEasing
      visibility: visible
      z-index: 1

      playButton($pseudoElementDefaults, $colorGray, $backgroundOpacity, $borderWidth, $colorWhite, $playButtonCircleDiameter, $colorWhite, $playButtonTriangleSize)

      &-isHidden
        visibility: hidden

    &-oembedVideo
      height: 0
      padding-bottom: percentage(9 / 16)
      visibility: hidden

      &-isVisible
        visibility: visible

      iframe
        display: block
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
