div(class=$data('baseClasses'))
  .image
    //- picture
    //-   <!--[if IE 9]><video style="display: none;"><![endif]-->
    //-   source(srcset="http://placehold.it/500x500, http://placehold.it/1000x1000 2x" media="screen and (max-width: 1400px)")
    //-     source(srcset="http://placehold.it/768x768, http://placehold.it/1536x1536 2x" media="screen and (max-width: 768px)")
    //-   <!--[if IE 9]></video><![endif]-->
    //-
    //-   <!--[if lt IE 9]>
    //-   img(src="#{ltIE9}")
    //-   <![endif]-->
    //-
    //-   <!--[if IE 9]>
    //-   img
    //-   <![endif]-->
    //-
    //-   <!--[if !IE]><!-->
    //-   img
    //-   <!-- <![endif]-->
