.social {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 410px;
  padding-bottom: 20px;

  @media (min-width: $breakpoint-mobile-horizontal) {
    padding-bottom: $component-spacing-mobile;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    margin: 0;
    padding-bottom: 0;
    width: 410px;
  }

  .logo {
    width: 100%;

    &-image {
      margin: 0 auto;
      padding-bottom: 14px;
      width: 140px;

      @media (min-width: $breakpoint-tablet-horizontal) {
        margin: 0;
        padding-bottom: 20px;
      }
    }

    &-text {
      font-size: 13px;
      margin: 0;
      padding-bottom: 7px;
      text-align: center;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        text-align: left;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 14px;
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: $breakpoint-tablet-horizontal) {
      justify-content: flex-start;
    }

    &-item {
      padding-right: 15px;
      text-decoration: none;

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-right: 20px;
      }

      .feather {
        color: $color-contrast;
        // fill: $color-contrast;
      }
    }

    &-item:nth-last-child(1) {
      padding: 0;
    }

  }

}
