<div class="flyntComponent" is="flynt-block-basestyle">
  <div class="baseStyle">
    <section>
      <h1>Base Style</h1>
      <p>This style guide exemplifies the base styles.</p>
    </section>
    <section>
      <p class="h3"><strong>We support our portfolio companies</strong> not only with capital, but with real operations know-how, access to an international network and active fundraising support.</p>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
      <hr>
      <p>Though the <a href="https://bleech.de">Strayhorn 1.5</a> version is the favorite for many, it is not as stable or as secure as the newest version 2.0.3. The best part of the new version is the security patch; the new “nonce” security key reduces the chances of a malicious hacker finding a way into your admin panel. Besides the security patch, though, several minor bugs have been squashed with this version. Though a major upgrade to 2.1 is due out soon, the 2.0.3 is something you should definitely download and install if only because of the security fixes, which were actually backported from the major upgrade files.</p>
      <blockquote><p>Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone?</p></blockquote>
      <p>In addition to the 2.0.3 install, you should be aware that some bugs have already been found, and that a plugin will need to be installed to repair those bugs. If you modify any of the files that this patch plugin fixes, you’ll need to either merge the changes with the new files or make those changes manually once again. You can find these issues by running a diff to locate changes; if the only changes you find are your own, then you’re fine, and otherwise you’ll need to merge them manually into the new files.</p>
      <hr>
      <form>
        <label>Text Input</label><br>
        <input type="text" name="text" placeholder="Placeholder"><br>
        <label>Email Input</label><br>
        <input type="email" name="email" placeholder="Placeholder"><br>
        <label>Search Input</label><br>
        <input type="search" name="search" placeholder="Placeholder"><br>
        <label>Your message</label><br>
        <textarea></textarea><br>
        <select name="select">
          <option value="select-value-1">Select Option #1</option>
          <option value="select-value-2">Select Option #2</option>
          <option value="select-value-3">Select Option #3</option>
        </select><br>
        <fieldset>
          <legend>Checkbox Inputs</legend>
          <label><input type="checkbox" name="checkbox" value="checkbox-value-1">Checkbox Label #1</label><br>
          <label><input type="checkbox" name="checkbox" value="checkbox-value-2">Checkbox Label #2</label><br>
          <label><input type="checkbox" name="checkbox" value="checkbox-value-3">Checkbox Label #3</label><br>
        </fieldset>
        <fieldset>
          <legend>Radio Inputs</legend>
          <label><input type="radio" name="radio" value="radio-value-1">Radio Label #1</label><br>
          <label><input type="radio" name="radio" value="radio-value-2">Radio Label #2</label><br>
          <label><input type="radio" name="radio" value="radio-value-3">Radio Label #3</label><br>
        </fieldset>
        <button>Button</button>
        <button class="btn--primary">Button Primary</button><br>
        <input type="button" value="Input Button">
        <input type="button" class="btn--primary" value="Input Button Primary"><br>
        <input type="submit" value="Input Submit Button">
        <input type="submit" class="btn--primary" value="Input Submit Button Primary"><br>
        <input type="reset" value="Input Reset Button">
        <input type="reset" class="btn--primary" value="Input Reset Button Primary"><br>
        <a class="btn">Link Button</a>
        <a class="btn btn--primary">Link Button Primary</a><br>
        <button disabled>Button Disabled</button>
        <button disabled class="btn--primary">Button Primary Disabled</button><br>
        <button class="btn--block">Button Block</button>
        <button class="btn--primary btn--block">Button Primary Block</button>
      </form>
      <hr>
      <h2>The best part of the new version</h2>
      <p>In addition to the 2.0.3 install, you should be aware that some bugs have already been found, and that a plugin will need to be installed to repair those bugs.</p>
      <ol>
        <li>premier free open-source blogging
        <li>several upgrades in its life</li>
        <li>definitely download and install</li>
        <li>free games for their Iphone</li>
        <li>modify any of the files</li>
      </ol>
      <p>If you modify any of the files that this patch plugin fixes, you’ll need to either merge the changes with the new files or make those changes manually once again. You can find these issues by running a diff to locate changes.</p>
      <ul>
        <li>premier free open-source blogging
        <li>several upgrades in its life</li>
        <li>definitely download and install</li>
        <li>free games for their Iphone</li>
        <li>modify any of the files</li>
      </ul>
      <p>Besides the security patch, though, several minor bugs have been squashed with this version. Though a major upgrade to 2.1 is due out soon, the 2.0.3 is something you should definitely download and install if only because of the security fixes.</p>
      <dl>
        <dt>Premier free open-source blogging</dt>
        <dd>If you modify any of the files that this patch plugin fixes, you’ll need to either merge the changes with the new files or make those changes manually once again. You can find these issues by running a diff to locate changes.</dd>
        <dt>Several upgrades in its life</dt>
        <dd>If you modify any of the files that this patch plugin fixes, you’ll need to either merge the changes with the new files or make those changes manually once again. You can find these issues by running a diff to locate changes.</dd>
        <dt>Definitely download and install</dt>
        <dd>If you modify any of the files that this patch plugin fixes, you’ll need to either merge the changes with the new files or make those changes manually once again. You can find these issues by running a diff to locate changes.</dd>
      </dl>
      <h2>Headline H2</h2>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
      <h3>Headline H3</h3>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
      <h4>Headline H4</h4>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
      <h5>Headline H5</h5>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
      <h6>Headline H6</h6>
      <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life. Today it’s one of the most popular blogging tools on the Internet; it’s easy to use, powerful, and very versatile. It also has a very active base of skilled users who are eager to improve the product and to help out those who haven’t tried it before.</p>
    </section>
  </div>
</div>
