$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px

.flyntComponent[is='flynt-block-basestyle']
  display: flex
  justify-content: center

  .baseStyle
    max-width: $containerMaxWidth
    padding: 0 $containerPadding
