[is='flynt-hero-image-cta'] {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 420px;

  @media (min-width: $breakpoint-tablet) {
    min-height: 640px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 20px;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      padding: 210px 0;
    }

    &-wrapper {
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-items: center;
      max-width: $content-max-width;
    }

    &-html {
      @include reset-content-margins;

      color: $color-background;
      position: relative;
      text-align: center;
      width: 100%;

      #{$heading-selectors} {
        color: inherit;
      }
    }

    &-html--hasCta {
      margin-bottom: 20px;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 40px;
      }
    }

    &-cta {
      text-align: center;
    }

    &-picture {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }


    @media (max-width: $breakpoint-tablet - 1) {
      &-image--isLeftAlignMobile {
        object-position: left center;
      }

      &-image--isRightAlignMobile {
        object-position: left center;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      &-image--isLeftAlignDesktop {
        object-position: left center;
      }

      &-image--isRightAlignDesktop {
        object-position: left center;
      }
    }
  }
}
