[is='flynt-hero-image-cta'] {
  align-items: center;
  display: flex;
  justify-content: center;

  // NOTE: remove container if image should go full width
  .container {
    @include center;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      @include center($container-max-width, $padding: 0);
    }
  }

  &,
  .content,
  .content-wrapper {
    min-height: 420px;
  }

  @media (min-width: $breakpoint-tablet) {
    &,
    .content,
    .content-wrapper {
      min-height: 640px;
    }
  }

  .content {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px $container-padding-mobile;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      padding: 100px 0;
    }

    &-wrapper {
      align-content: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      justify-items: center;
      max-width: $content-max-width;
      width: 100%;
    }

    &-html {
      @include reset-content-margins;

      color: $color-background;
      position: relative;
      text-align: center;
      width: 100%;

      #{$heading-selectors} {
        color: inherit;
      }
    }

    &-html--hasCta {
      margin-bottom: 20px;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 40px;
      }
    }

    &-cta {
      text-align: center;
    }

    &-pictureWrapper {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;


      @media (min-width: $breakpoint-tablet) {
        left: $container-padding-tablet;
        right: $container-padding-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        left: $container-padding-desktop;
        right: $container-padding-desktop;
      }
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      width: 100%;
    }


    @media (max-width: $breakpoint-tablet - 1) {
      &-image--isCenterAlignMobile {
        object-position: center center;
      }

      &-image--isLeftAlignMobile {
        object-position: left center;
      }

      &-image--isRightAlignMobile {
        object-position: left center;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      &-image--isCenterAlignDesktop {
        object-position: center center;
      }

      &-image--isLeftAlignDesktop {
        object-position: left center;
      }

      &-image--isRightAlignDesktop {
        object-position: left center;
      }
    }
  }
}
