
[is=flynt-list-post-cards] {
  background-color: rgba(0, 0, 0, 0.03);

  .container {
    margin: 0 auto;
    max-width: $container-max-width;
    padding: 40px $container-padding;
  }

  .preContent {
    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;

    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .postContent {
    margin: 0 auto;
    max-width: $content-max-width;
    text-align: center;
  }

  .listPostCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 -10px;
    padding: 0;
  }

  .post {
    padding: 0 10px 20px;
    max-width: 400px;
    width: 100%;

    @media (min-width: $breakpoint-mobile-horizontal) {
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      width: 25%;
    }

    &-link {
      background-color: $color-background;
      display: block;
      text-decoration: none;

      @media (min-width: $breakpoint-tablet) {
        transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }

    .figure {
      background-color: $color-text;
      margin-bottom: 0;
    }

    .content {
      padding: 10px;

      &-title {
        padding-top: 0.1rem;
        margin-bottom: 0.1rem;
      }

      &-date {
        font-size: 0.8rem;
      }
    }
  }
}
