<nav is="flynt-navigation-simple" class="flyntComponent">
  <div class="wrapper">
    <div class="container centerMaxWidthContainer">
      <img class="logo" src="{{ logo.src }}" alt="{{ logo.alt }}">
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item">
              <a class="menu-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
