 <ul class="filter">
    {% for term in terms %}
        <li class="filter-item"><a href="{{ term.link }}" class="filter-button {{ term.isActive ? 'active' }}">{{ term.title }}</a></li>
    {% endfor %}
</ul>
