 <ul class="filter">
  {% for term in terms %}
    <li class="item">
      <a href="{{ term.link }}" class="button button--small {{- term.isActive ? '' : ' button--ghost' }}">
        <span class="visuallyHidden">{{ labels.filterBy }}</span>{{ term.title }}
      </a>
    </li>
  {% endfor %}
</ul>
