.filter {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-width);
  justify-content: center;
  margin-bottom: calc(var(--component-spacing) / 2);

  .item {
    @include reset-list-item;
  }
}
