 <ul class="filter">
  {% for term in terms %}
    <li class="filter-item">
      <a href="{{ term.link }}" class="filter-button button button--small {{ term.isActive ?: 'button--ghost' }}">
        <span class="visuallyHidden">{{ __("Filter by", "flynt") }}</span>{{ term.title }}
      </a>
    </li>
  {% endfor %}
</ul>
