.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 3rem;
  }

  &--center {
    justify-content: center;
  }

  &--prevDisabled {
    justify-content: flex-end;
  }

  .button {
    white-space: nowrap;
  }

  .arrow {
    color: var(--color-background);
    top: -1px;
  }

  &-next {
    .arrow {
      margin-right: -5px;
    }
  }

  &-previous {
    .arrow {
      margin-left: -5px;
    }
  }
}
