$colorBars = lookup('$globalColorAccent') || #333
$colorBarsActive = lookup('$globalColorBackground') || #fff

.hamburger
  background: transparent
  border: 0
  cursor: pointer
  display: none
  height: 22px
  outline: 0
  position: fixed
  right: 20px
  top: 22px
  width: 30px
  z-index: 11

  &:before,
  &:after
    content: ''

  &:before,
  &:after,
  &-barPrimary,
  &-barSecondary
    background: $colorBars
    display: block
    height: 2px
    left: 0
    position: absolute
    width: 30px
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, background .2s ease-in-out

  &:before
    top: 0

  &-barPrimary,
  &-barSecondary
    top: 10px

  &:after
    top: 20px

  +below('s')
    display: block

.navigationMain-isActive .hamburger
  &:before,
  &:after
    opacity: 0

  &:before
    transform: scale(0) translateY(10px)

  &:after
    transform: scale(0) translateY(-10px)

  &-barPrimary
    transform: rotate(45deg)

  &-barSecondary
    transform: rotate(-45deg)

