.acf-field {
  .anchorLink {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &-url {
      margin: 0 0 -10px;
      pointer-events: initial;
    }

    &-button {
      align-items: center;
      display: flex;
    }

    [data-copy-anchor-link] {
      align-items: center;
      display: flex;

      svg {
        width: 100%;
      }
    }

    &-message {
      color: #008000;
      display: none;
      inset-block-start: -22px;
      inset-inline-end: 0;
      position: absolute;
    }
  }
}
