@import '../../_config.styl'

.postTags
  column(1/2, 0, 2)

  +below('m')
    stack()

  &-list
    list-style: none
    margin: 0
    padding: 0

  &-item
    display: inline-block
    margin-right: 5px

  &-link
    background: $colors.postTagBackground
    color: $colors.postTagLink
    display: block

    &:hover
      background: darken($colors.postTagBackground, 5)
      color: $colors.postTagLink
