<div class="postTags">
  <ul class="postTags-list">
    {% for tag in post.terms('tag') %}
      <li class="postTags-item">
        <a class="postTags-link" href="{{ tag.link }}" title="{{ tag.title }}">{{ tag.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
