<div class="flyntComponent themeLight" is="flynt-navigation-footer">
  <div class="container centerMaxWidthContainer">
    {% if menu %}
      <nav class="navigation" aria-label="{{ __("Footer", "flynt") }}">
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      </nav>
    {% endif %}
    {% if contentHtml %}
      <div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
    {% endif %}
  </div>
</div>
