<div class="flyntComponent" is="flynt-navigation-footer">
  <div class="container centerMaxWidthContainer">
    <nav class="navigation">
      {% if menu %}
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      {% endif %}
    </nav>
  </div>
</div>
