[is=flynt-navigation-footer] {
  .container {
    margin: 0 auto;
    max-width: $container-max-width;
    padding: 0 $container-padding;
  }

  .navigation {
    padding: 2rem 0;
  }

  @import 'Partials/Menu/_style';
}
