// GRID
$pageMaxWidth = lookup('$globalPageMaxWidth') || 2560px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1376px
$containerPadding = lookup('$globalContainerPadding') || 32px
$containerPaddingMobile = lookup('$globalContainerPaddingMobile') || 16px
// BREAKPOINTS
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1280px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
// FONT
$fontHeadingLineHeight = lookup('$globalFontHeadingLineHeight') || 1.3
// COLOR
$colorBlack = lookup('$globalColorPrimaryBlack') || #222
$colorRed = lookup('$globalColorPrimaryRed') || #FA5046
$colorWhite = lookup('$globalColorPrimaryWhite') || #FFF

// ##NAVIGATION-FOOTER
// =============================================================

[is='flynt-navigation-footer']
  &.flyntComponent
    .wrapper
      background-color: $colorBlack

    .container
      center($containerMaxWidth, $containerPadding)

      +below('m')
        center($containerMaxWidth, $containerPaddingMobile)

    @import 'Partials/Menu/_style'

    .navigationFooter
      display: flex
      justify-content: space-between
      padding-bottom: 3rem
      padding-top: 2.5rem

      +below('l')
        flex-direction: column
        padding-top: 2rem

      +below('xs')
        padding-bottom: 2.5rem

      &-menu
        +above('l')
          flex-grow: 1
          margin-bottom: 4rem
          padding-right: 32px

        +below('m')
          margin-bottom: 3.5rem

      &-info
        max-width: 400px

        > *
          color: $colorWhite

        p
          margin: 0

      &-logo
        display: inline-block
        margin: 0 0 1rem

        svg
          display: block

// THEME-DFP
// -------------------------------------------------------------

[is='flynt-navigation-footer']
  &.flyntComponent
    &--themeDfp
      .navigationFooter
        &-logo
          transition: color .3s

          &:focus,
          &:hover
            color: $colorRed

// THEME-DFA
// -------------------------------------------------------------

[is='flynt-navigation-footer']
  &.flyntComponent
    &--themeDfa
      .navigationFooter
        &-logo
          transition: opacity .4s

          &:focus,
          &:hover
            color: $colorWhite
            opacity: .5
