$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 15px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px

.flyntComponent[is='flynt-navigation-footer']
  .container
    center($containerMaxWidth, $containerPadding)

  .navigation
    padding: 2rem 0

  @import 'Partials/Menu/_style'
