<section class="postList-postItemContent">
  <p class="postList-postExcerpt">{{ post.excerpt }}</p>
  <a class="postList-postReadMoreLink" href="{{ post.permalink }}" title="{{ readMoreLabel }}">{{ readMoreLabel }}</a>
</section>
