<section class="postList-itemContent">
  <p class="postList-excerpt">{{ post.excerpt }}</p>
  <a class="postList-readMoreLink" href="{{ post.permalink }}" title="{{ readMoreLabel }}">{{ readMoreLabel }}</a>
</section>
