@import '../../config.styl'

&-itemContent
  margin-bottom: 2em

&-excerpt
  font-size: 16px
  margin: 0 0 .5em

&-readMoreLink
  color: $colors.readMoreLink
  font-size: 12px
  font-weight: 600
  text-transform: uppercase
  text-decoration: none

  &:hover
    color: lighten($colors.readMoreLink, 30)
    text-decoration: none
