.searchPagination
  display: flex
  justify-content: space-around
  margin: 50px auto

  .navigation
    border-bottom: 1px solid $colorAccent
    border-top: 1px solid $colorAccent
    display: flex

    div
      border-right: 1px solid $colorAccent

      &:first-child
        border-left: 1px solid $colorAccent

    .browselinks
      display: flex

    // .prev
    // .next
    // .browselinks
    span
    a
      height: 60px
      width: @height
      display: flex
      justify-content: space-around
      align-items: center
      text-decoration: none
      line-height: 0

    .browselinks
    .next
    .prev
      a
        &:hover
          background-color: $colorAccent
          color: #fff

          svg
            path
              fill: #fff


    span
      display: none


    .page-number
      &.current
        background-color: $colorAccent
        color: #fff
