.searchPagination
  display: flex
  justify-content: space-around
  margin: 50px auto

  .navigation
    border-bottom: 1px solid $colorAccent
    border-top: 1px solid $colorAccent
    display: flex

    > *
      border-right: 1px solid $colorAccent

      &:first-child
        border-left: 1px solid $colorAccent

    &-item
      align-items: center
      display: flex
      height: 60px
      justify-content: space-around
      text-decoration: none
      width: @height

      &--hide
        display: none

  a.navigation-item
    &:hover
      background-color: $colorAccent
      color: #fff

      svg
        path
          fill: #fff

  .page-number
    &.current
      align-items: center
      background-color: $colorAccent
      color: #fff
      display: flex
      height: 60px
      justify-content: space-around
      width: @height

