<header class="postHeader">
  <h2 class="postHeader-title">
    <a class="postHeader-link" href="{{ post.permalink }}" title="{{ readMoreLabel }}: {{ post.title }}">{{ post.title }}</a>
  </h2>
  <p class="postHeader-meta">
    {% include 'partials/PostAuthor/index.twig' %}
    {% include 'partials/PostDate/index.twig' %}
  </p>
</header>
