.hamburger {
  cursor: pointer;
  display: block;
  height: 18px;
  outline: 0;
  position: relative;
  width: 30px;

  &::before,
  &::after {
    content: '';
  }

  &::before,
  &::after,
  &-barPrimary,
  &-barSecondary {
    background: $color-accent;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
      background 0.2s ease-in-out;
    width: 30px;
  }

  &::before {
    top: 0;
  }

  &-barPrimary,
  &-barSecondary {
    top: 8px;
  }

  &::after {
    top: 16px;
  }
}

.container-menuIsOpen .hamburger {
  &::before,
  &::after {
    opacity: 0;
  }

  &::before {
    transform: scale(0) translateY(8px);
  }

  &::after {
    transform: scale(0) translateY(-8px);
  }

  &-barPrimary {
    transform: rotate(45deg);
  }

  &-barSecondary {
    transform: rotate(-45deg);
  }
}
