$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px
$fullWidth = lookup('$global-layout-fullWidth') || 100%
$narrowWidth = lookup('$global-layout-narrowWidth') || 650px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='wps-wysiwyg']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .wysiwyg
    center($maxWidth, $gutterWidth)

    &-fullwidth
      center($fullwidthWidth, $gutterWidth)

    &-narrow
      center($narrowWidth, $gutterWidth)
