$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px
$narrowWidth = lookup('$global-layout-narrowWidth') || 650px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='wps-wysiwyg']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .wysiwyg
    center($maxWidth, $gutterWidth)

    &.narrow
      center($narrowWidth, $gutterWidth)
