<flynt-component name="BlockR3F" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  {% if contentHtml %}
    <div class="container">
      <div class="rightContent">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  {% endif %}
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div data-ref="canvasPlaceholder" class="scene" data-gltf-file-url={{ gltfModel.url }}></div>
</flynt-component>
