<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    <div class="header">
      {% include 'Partials/Header/index.twig' %}
    </div>
    <div class="searchList">
      {% include 'Partials/Results/index.twig' %}
    </div>
    {% if pagination %}
      <div class="pagination">
        {% include 'Partials/Pagination/index.twig' %}
      </div>
    {% endif %}
  </div>
</div>
