<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    <div class="searchHead">
      {% include 'Partials/SearchHead/index.twig' %}
    </div>
    <div class="searchList">
      {% include 'Partials/SearchList/index.twig' %}
    </div>
    {% if pagination %}
      <div class="searchPagination">
        {% include 'Partials/SearchPagination/index.twig' %}
      </div>
    {% endif %}
  </div>
</div>
