<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    {% include 'Partials/Header/index.twig' %}
    {% include 'Partials/Results/index.twig' %}
    {% if pagination %}
      {% include 'Partials/Pagination/index.twig' %}
    {% endif %}
  </div>
</div>
