<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    <div class="searchHead">
      {% include 'Partials/SearchHead/index.twig' %}
    </div>
    <div class="searchList">
      {% include 'Partials/SearchList/index.twig' %}
    </div>
    <div class="searchPagination">
      {% if pagination.pages %}
        {% include 'Partials/SearchPagination/index.twig' %}
      {% endif %}
    </div>
  </div>
</div>
