<flynt-component name="ListSearchResults" class="componentSpacing">
  <div class="container">
    <div data-size="medium" data-align="center" data-flow="layout">
      {% include 'Partials/_header.twig' %}
      {% include 'Partials/_results.twig' %}
      {% if pagination.pages %}
        {% include 'Partials/_pagination.twig' %}
      {% endif %}
    </div>
  </div>
</flynt-component>
