<flynt-component name="ListSearchResults" class="componentSpacing">
  <div class="container centerContainer maxWidthContainer">
    <div class="centerContainer maxWidthContent">
      {% include 'Partials/_header.twig' %}
      {% include 'Partials/_results.twig' %}
      {% if pagination.pages %}
        {% include 'Partials/_pagination.twig' %}
      {% endif %}
    </div>
  </div>
</flynt-component>
