$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$contentMaxWidth      = lookup('$globalContentMaxWidth')    || 600px
$rupture.anti-overlap = lookup('$globalRuptureOverlap')     || -1px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$colorAccent          = lookup('$globalColorAccent')        || #F98928
$colorBrand           = lookup('$globalColorBrand')         || #91C6C4
$headings             = 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6'

.flyntComponent[is="flynt-list-search-results"]
  *,
  *:before,
  *:after
    box-sizing: border-box

  .container
    center($containerMaxWidth, $containerPadding)

    @import 'Partials/SearchHead/_style'
    @import 'Partials/SearchList/_style'
    @import 'Partials/SearchPagination/_style'
