$containerPadding = lookup('$globalContainerPadding') || 20px
$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)

.flyntComponent[is="flynt-list-search-results"]
  *,
  *:before,
  *:after
    box-sizing: border-box
