{% if isArchive %}
  <div class="listHeader">
    <h1 class="listHeader-title">
      {% if filterTitle %}
        <span class="listHeader-filterType">{{ filterTitle }}</span>
      {% endif %}
      <span class="listHeader-filterValue">{{ archiveTitle }}</span>
    </h1>
  </div>
{% endif %}
