[is='flynt-block-image'] {
  &.flyntComponent--sizeSmall,
  &.flyntComponent--sizeMedium,
  &.flyntComponent--sizeLarge,
  &.flyntComponent--sizeHuge {
    .container {
      @include center;
    }

    .content {
      margin: 0 auto;
    }
  }

  &.flyntComponent--sizeSmall {
    @at-root .single-post #{&} {
      .content {
        max-width: 375px;
      }
    }
  }

  &.flyntComponent--sizeMedium {
    @at-root .single-post #{&} {
      .content {
        max-width: $content-max-width;
      }
    }
  }

  &.flyntComponent--sizeLarge {
    @at-root .single-post #{&} {
      .content {
        max-width: 960px;
      }
    }
  }

  &.flyntComponent--sizeHuge {
    @at-root .single-post #{&} {
      .content {
        max-width: $container-max-width;
      }
    }
  }

  &.flyntComponent--sizeFull {
    @at-root .single-post #{&} {
      .content {
        max-width: 100%;
      }
    }
  }

  .figure {
    margin: 0;

    &-caption {
      position: absolute;
    }
  }
}
