flynt-component[name='BlockImage'] {
  .figure {
    margin: 0 auto;

    &[data-image-size='small'] {
      max-inline-size: 375px;
    }

    &[data-image-size='medium'] {
      max-inline-size: var(--content-max-width);
    }

    &[data-image-size='large'] {
      max-inline-size: var(--content-max-width-large);
    }

    &[data-image-size='full'] {
      max-inline-size: 100%;

      .caption {
        margin-inline: auto;
        max-inline-size: var(--container-max-width);
        padding-inline: var(--container-padding-inline);
      }
    }
  }
}
