$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px
$containerPadding = lookup('$globalContainerPadding') || 15px

.flyntComponent[is='flynt-block-image']
  .container
    center($containerMaxWidth, $containerPadding)
