[is=flynt-grid-teaser-tiles] {
  margin: $component-spacing 0;

  .container {
    @include centerMaxWidthContainer;
  }

  .teaserGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
    }

    .teaser-item {
      width: 100%;
      position: relative;
      margin-top: 1%;

      @media (min-width: $breakpoint-mobile-horizontal) {
        width: 49.5%;

        &:nth-child(odd) {
          margin-right: 1%;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        width: 32.6%;

        &:nth-child(odd) {
          margin-right: 0%;
        }

        &:not(:nth-child(3n)) {
          margin-right: 1%;
        }
      }

      &::before {
        content: '';
        float: left;
        padding-top: 100%;
      }

      .teaser-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
      }

      .content {
        @include resetContentMargins;

        align-self: flex-end;
        padding: 20px;
        z-index: 10;

        h4 {
          color: #fff;
          text-decoration: none;
        }
      }

      .teaser-image {
        /* stylelint-disable-next-line */
        font-family: 'object-fit: cover; object-position: center center;';
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        width: 100%;
      }

      &.noImage {
        .teaser-wrapper {
          .contentBig {
            align-self: center;
            padding: 0 20px;
          }
        }
      }
    }
  }
}
