$rupture                  = rupture

$globalContainerMaxWidth  = 1140px
$globalContainerPadding   = 15px
$globalGutterWidth        = 2.5
$globalRuptureAntiOverlap = -1px
$globalRuptureScale       = 0 426px 576px 768px 992px 1200px

$globalColorBackground    = #ffffff
$globalColorBrand         = #91C6C4
$globalColorAccent        = #F98928
$globalColorHeadline      = #000000
$globalColorText          = #000000

// set jeet defaults
if $jeet
  $jeet.gutter              = $globalGutterWidth
  $jeet.max-width           = $globalContainerMaxWidth
