$rupture                  = rupture

$globalContainerMaxWidth  = 1270px
$globalContainerPadding   = 20px
$globalGutterWidth        = 1.5
$globalRuptureAntiOverlap = -1px
$globalRuptureScale       = 0 426px 576px 768px 992px 1200px

if $jeet
  $jeet.gutter            = $globalGutterWidth
  $jeet.max-width         = $globalContainerMaxWidth

$globalColorBackground    = #FFFFFF
$globalColorBrand         = #91C6C4
$globalColorAccent        = #F98928
$globalColorHeadline      = #2A2A2A
$globalColorText          = #222222

$globalNavHeight          = 64px
