$rupture = rupture

$global-color-gray = #333
$global-color-white = #fff
$global-color-text = #000
$global-color-headline = #153cab
$global-color-background = #fff
$global-color-brand = #254fc7

$global-layout-scale = 0 575px 767px 991px 1200px
$global-layout-containerMaxWidth = 1140px
$global-layout-gutterWidth = 15px
