<nav class="menu">
  <ul class="list">
    {% for item in items %}
      <li class="list-item">
        <h3>{{ item.title|e }}</h3>
        {% for child in item.children %}
          <a class="list-link" {% if child.url %} href="{{ child.url|e('esc_url') }}"{% endif %} {{ child.target == '_blank' ? 'target="_blank" rel="nofollow noreferrer noopener"' : 'rel="nofollow"' }}>{{ child.title|e }}</a>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</nav>
