[is='flynt-hero-slider'] {
  $content-max-width: 800px;

  display: flex;
  min-height: 420px;

  @media (min-width: $breakpoint-tablet) {
    min-height: 640px;
  }

  .container {
    @include center($padding: 0);

    display: flex;
    height: 100%;

    &::before {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .slider {
    display: flex;
    width: 100%;

    &-button {
      align-items: center;
      background-color: rgba($color-background-dark, 0.5);
      border-radius: 50%;
      cursor: pointer;
      display: none;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease, background-color 0.2s ease;
      width: 40px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      @media (min-width: $breakpoint-tablet) {
        display: flex;
      }

      .feather {
        color: $color-background;
        height: auto;
        top: 0;
        width: 80%;
      }

      &--prev {
        left: 15px;

        @media (min-width: $breakpoint-tablet-horizontal) {
          left: 45px;
        }
      }

      &--next {
        right: 15px;

        @media (min-width: $breakpoint-tablet-horizontal) {
          right: 45px;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        &:hover,
        &:focus {
          background-color: $color-accent;
        }
      }
    }

    &-pagination {
      bottom: 10px;
      display: block;
      left: 0;
      margin-top: 0;
      position: absolute;
      right: 0;
      text-align: center;
      z-index: 1;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }

      .swiper-pagination-bullet {
        background-color: rgba($color-background, 0.2);
        height: 6px;
        opacity: 1;
        transition: width 0.2s $ease-out-cubic, background-color 0.3s ease;
        width: 6px;

        &-active {
          background-color: $color-background;
          border-radius: 4px;
          width: 20px;
        }

        &:hover,
        &:focus {
          background-color: $color-background;
        }
      }
    }
  }

  .content {
    @include reset-content-margins;

    color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: $content-max-width;
    padding: $container-padding-tablet $container-padding-mobile;
    position: relative;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      padding: $container-padding-tablet $container-padding-tablet * 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      padding-bottom: $container-padding-desktop;
      padding-left: $container-padding-desktop * 2;
    }

    &-picture {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }

    &-image--leftAlignMobile {
      object-position: left center;
    }

    &-image--rightAlignMobile {
      object-position: right center;
    }

    @media (min-width: $breakpoint-tablet) {
      &-image--leftAlignDesktop {
        object-position: left center;
      }

      &-image--rightAlignDesktop {
        object-position: right center;
      }
    }
  }
}
