.bottom {
  color: $color-contrast;
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  margin-top: 40px;
  text-align: center;
  width: 100%;

  @media (min-width: $breakpoint-mobile-horizontal) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 78px;
  }

  &-copyright {
    margin: 15px 0 0;

    @media (min-width: $breakpoint-mobile-horizontal) {
      margin: 0;
    }
  }

  &-links a {
    color: $color-contrast;
    padding-right: 12px;
    text-decoration: none;

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding-right: 29px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &-links a:nth-last-child(1) {
    padding-right: 0;
  }
}
