<div class="bottom">
  <p class="bottom-copyright">{{ copyright }}</p>
  <div class="bottom-links">
    <a href="">Privacy Policy</a>
    <a href="">Terms of Service</a>
    <a href="">Disclaimer</a>
</div>
