include ../MainLayout/PugMixins/picture.php.pug
- $image = $data('image')
- $posterImage = $data('posterImage')

div(is='wps-media-text-block')
  .mediaTextBlock(class=$data('mediaPosition'))
    .mediaTextBlock-columnMedia
      if $data('mediaType') == 'mediaImage'
        .mediaTextBlock-image
          +picture($image, 'mediaTextBlock')
      else
        .mediaTextBlock-oembedVideoContainer
          .mediaTextBlock-oembedPosterImage
            +picture($posterImage, 'mediaTextBlock')
          .mediaTextBlock-oembedVideo
            !=$data('oembedLazyLoad')
    .mediaTextBlock-columnContentHtml
      !=$data('contentHTML')
