[is='flynt-slider-image-gallery'] {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-desktop) {
    margin: $component-spacing-desktop 0;
  }

  .preContent {
    @include reset-content-margins;

    margin-bottom: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      margin-bottom: 3rem;
    }
  }

  .sliderMain {
    background: $color-contrast;
    height: 250px;
    position: relative;

    @media (min-width: $breakpoint-mobile-horizontal) {
      height: 385px;
    }

    @media (min-width: $breakpoint-tablet) {
      height: 512px;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      height: 650px;
    }

    &-item {
      .figure {
        height: 100%;

        &-image {
          height: 100%;
          margin: 0 auto;
          width: auto;
        }

        &-caption {
          background: rgba($color-background-dark, 0.5);
          bottom: 0;
          color: #fff;
          display: inline-block;
          font-size: 0.8rem;
          padding: 0.25rem 0.5rem;
          position: absolute;
          right: 0;
        }
      }
    }

    &-button {
      align-items: center;
      background-color: rgba($color-background-dark, 0.5);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease;
      width: 40px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
      }

      svg {
        color: $color-background;
        height: auto;
        top: 0;
        width: 80%;
      }

      &--prev {
        left: 15px;
      }

      &--next {
        right: 15px;
      }
    }
  }

  .sliderThumb {
    margin: 1rem 0;

    &-item {
      cursor: pointer;
      height: 65px;
      opacity: 0.5;
      padding: 0 5px;
      transition: opacity 0.2s ease-out;
      width: auto;

      @media (min-width: $breakpoint-desktop) {
        &:hover,
        &:focus {
          opacity: 1;
        }
      }

      &.swiper-slide-active {
        cursor: default;
        opacity: 1;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
