$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px
$containerPadding = lookup('$globalContainerPadding') || 15px
$colorText = lookup('$globalColorText') || #222222

.flyntComponent[is="flynt-slider-image-gallery"]
  .container
    margin: 0 auto 2rem
    padding: 0 $containerPadding
    max-width: $containerMaxWidth

    +below($containerMaxWidth)
      padding: 0

  .slider
    position: relative

  .slide
    display: none
    outline: 0

    +below($containerMaxWidth)
      padding: 0 $containerPadding

    &:first-child,
    &.slick-slide
      display: block

  .slider-thumb
    .slide
      cursor: pointer
      opacity: .5
      padding: 0 5px
      transition: opacity .2s ease-out

      img
        width: auto

      +above('xl')
        &:hover
          opacity: 1

      &.slick-current
        cursor: default
        opacity: 1

  // SLICK ARROWS
  .slick-arrow
    cursor: pointer
    display: none
    height: 50px
    outline: 0
    position: absolute
    text-indent: -99999px
    top: 50%
    transform: translateY(-50%)
    width: 30px
    z-index: 2

    &.slick-prev
      background: url('../../Components/SliderImages/Assets/arrow-left.svg') no-repeat center
      left: 10px

      +below($containerMaxWidth)
        left: 10px + $containerPadding

    &.slick-next
      background: url('../../Components/SliderImages/Assets/arrow-right.svg') no-repeat center
      right: 10px

      +below($containerMaxWidth)
        right: 10px + $containerPadding

    &.slick-disabled
      opacity: 0
      transition: opacity .2s ease-out, visibility 0s linear .2s
      visibility: hidden

  // SLICK DOTS
  .slick-dots
    left: 0
    list-style: none
    margin: 0
    padding: 0
    position: absolute
    right: 0
    text-align: center
    top: 80%

    > li
      display: inline-block
      margin: 0 4px
      vertical-align: middle

      button
        background: transparent
        border-radius: 50%
        border: 1px solid #ffffff
        cursor: pointer
        display: block
        height: 8px
        outline: 0
        pointer-events: all
        text-indent: -99999px
        width: @height

      &.slick-active
        button
          background: #ffffff
