<div class="flyntComponent" is="flynt-block-share">
  <div class="wrapper">
    <div class="content">
      {{ contentHtml }}
    </div>
    <ul class="shareList">
      {% for shares in share %}
        <li class="shareList-item">
          <a class="shareList-link" href="{{ shares.url }}" target="_blank" rel="noopener noreferrer">
            {{ shares.icon }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
