{% extends 'twig/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {{ renderFlexibleContent(post.meta('postComponents')) }}
    </section>
    <footer class="post-footer">
      <section class="post-meta">
        {{ renderComponent('BlockPostFooter', { post: post }) }}
      </section>
      <section class="post-related">
        {{ renderComponent('GridPostsLatest', {'taxonomies': post.categories(), 'options': {'theme': 'themeLight', 'postCount': 3}}) }}
      </section>
    </footer>
  </article>
{% endblock %}
