/* Frontend Preview Images */
[is=flynt-component-preview] {
  height: 100%;
  left: 50%;
  max-width: 1280px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10000;

  .componentPreview {
    &-imageDesktop {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &-imageMobile {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
