$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)

.layout-component-preview
  background: #fff
  border: 1px solid #e1e1e1
  bottom: 5px
  display: inline-block
  height: 36px
  margin-left: 5px
  padding: 2px
  position: absolute

  img
    display: block
    height: 100%
    width: auto

  .label
    bottom: 4px
    left: 100%
    padding-left: 8px
    position: absolute
    white-space: nowrap

.add-component-preview-image-wrapper
  bottom: 0
  position: absolute
  right: 105%

  .add-component-preview-image
    border-radius: 3px
    border: 3px solid #333739
    bottom: 0
    display: block
    position: absolute

  .add-component-preview-image-desktop
    height: 250px
    right: 30px

  .add-component-preview-image-mobile
    height: 150px
    right: 0

.component-preview-image-desktop
  +below('s')
    display: none

.component-preview-image-mobile
  +above('m')
    display: none

html.admin-bar
  margin-bottom: 32px !important
  margin-top: 0 !important

  #wpadminbar
    background: #000
    bottom: 0
    top: auto
    z-index: 10

    #adminbarsearch
      &.adminbar-focused:before,
      &.adminbar-focused:hover:before
        color: #000 !important

      &:hover:before
        color: #fff !important

    #wp-admin-bar-wp-logo
      display: none

    .menupop .ab-sub-wrapper
      bottom: 100%

  #wpadminbar .ab-top-menu>li.hover>.ab-item,
  #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
  #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
  #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus
    background: #000
    color: #fff

    &:before,
    .ab-icon:before,
    .ab-label
      color: #fff !important

  #wpadminbar .menupop .ab-sub-wrapper,
  #wpadminbar .shortlink-input
    background: #000

  #wp-admin-bar-toggleComponentPreviews
    &.hover > div,
    &.active > div
      background: #f00 !important

  @media (max-width: 600px)
    html.admin-bar
      margin-bottom: 46px !important

    #wpadminbar
      position: fixed
