[is='flynt-list-icons'] {
  .main {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 70px;
    }

    &-content {
      *:first-child {
        margin-bottom: 17px;
        padding: 0;
      }
    }
  }

  .items {
    @include reset-list;

    @include grid(1,
    $gutter-vertical: ($gutter-width * 2));

    @media (min-width: $breakpoint-mobile-horizontal) {
      @include grid(2,
      center,
      $gutter-vertical: ($gutter-width * 2));
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(4,
      $gutter-vertical: ($gutter-width * 2));
    }
  }

  .feather {
    height: auto;
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column;
    max-width: 320px;

    &-icon {
      height: 45px;
      margin-bottom: 15px;
      width: 45px;
    }

    &-content {
      @include reset-content-margins;

      flex-grow: 1;
    }

    &-link {
      padding-bottom: 0;
      padding-top: 0;
      text-decoration: none;

      &::before {
        bottom: 0;
      }
    }

    &--centered {
      text-align: center;

      .item-icon {
        align-items: center;
        background-color: $color-background-hero;
        border-radius: 50%;
        display: flex;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
      }

      .feather {
        color: $color-background-light;
        height: auto;
        margin: 0 auto;
        top: 0;
        width: 40px;
      }
    }
  }

  &.themeHero {
    .item--centered {
      .item-icon {
        background-color: $color-background-dark;
      }
    }
  }
}
