flynt-component[name='BlockVideoOembed'] {
  .video {
    position: relative;

    &-player {
      block-size: 0;
      inline-size: 100%;
      inset-block-start: 0;
      margin-block-start: 0;
      padding-block-end: calc(100% / 16 * 9);
      position: absolute;
      z-index: 10;

      &[data-state='isLoading'] {
        .video-loader {
          display: block;
        }

        .video-playButton {
          display: none;
        }
      }

      &[data-state='isLoaded'] {
        .video-loader,
        .video-playButton {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    iframe {
      block-size: 100%;
      display: none;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }
  }

  @import 'Partials/figure';
  @import 'Partials/videoPlayButton';
  @import 'Partials/videoLoader';
}
