[is='flynt-block-video-oembed'] {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    margin: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: $component-spacing-desktop 0;
  }

  .container {
    @include center;
  }

  @import 'Partials/Video/style';
}
