flynt-component[name='BlockVideoOembed'] {
  .video {
    margin: 0 auto;
    position: relative;

    &-player {
      block-size: 0;
      inline-size: 100%;
      inset-block-start: 0;
      margin-block-start: 0;
      padding-block-end: calc(100% / 16 * 9);
      position: absolute;
      z-index: 10;

      &[data-state='isLoading'] {
        .video-loader {
          display: block;
        }

        .video-playButton {
          display: none;
        }
      }

      &[data-state='isLoaded'] {
        .video-loader,
        .video-playButton {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    iframe {
      block-size: 100%;
      display: none;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }

    &[data-video-size='small'] {
      max-inline-size: 375px;
    }

    &[data-video-size='medium'] {
      max-inline-size: var(--content-max-width);
    }

    &[data-video-size='wide'] {
      max-inline-size: var(--content-max-width-wide);
    }

    &[data-video-size='full'] {
      max-inline-size: 100%;

      .figure-caption {
        margin-inline: auto;
        max-inline-size: var(--container-max-width);
        padding-inline: var(--container-spacing);
      }
    }
  }

  @import 'Partials/figure';
  @import 'Partials/videoPlayButton';
  @import 'Partials/videoLoader';
}
