<flynt-component client:visible name="BlockVideoOembed">
  <div class="flyntComponent componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} is="flynt-block-video-oembed">
    <div class="container {{ options.size != 'sizeFull' ? 'centerMaxWidthContainer' }}">
      {% include 'Partials/_video.twig' ignore missing with {video: video, image: posterImage, size: options.size} only %}
    </div>
  </div>
</flynt-component>
