<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-video-oembed">
  <div class="container centerMaxWidthContainer">
    {% include 'Partials/_video.twig' ignore missing with {video: video, image: posterImage} only %}
  </div>
</div>
