<div is="flynt-block-video-oembed" class="flyntComponent">
  <div class="container centerMaxWidthContainer">
    {% include 'Partials/Video/index.twig' ignore missing with {video: video, image: posterImage} only %}
  </div>
</div>
