$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

[is='flynt-block-video-oembed']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .blockVideoOembed
    center($containerMaxWidth, $gutterWidth)

    @import 'Partials/OembedVideo/_style.styl'
