$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1280px
$containerPadding = lookup('$globalContainerPadding') || 20px

.flyntComponent[is='flynt-block-video-oembed']
  .wrapper
    margin: 80px 0

  .container
    margin: 0 auto
    padding: 0 $containerPadding
    max-width: $containerMaxWidth

  @import 'Partials/Video/_style'
