fontFace($family, $file, $weight = 400, $style = 'normal', $basePath = '../../Components/DocumentDefault/Fonts/')
  @font-face
    font-family: $family
    src: url($basePath + $file + '.eot')
    src: url($basePath + $file + '.eot?#iefix') format('embedded-opentype'), url($basePath + $file + '.woff') format('woff'), url($basePath + $file + '.svg#'+ $family) format('svg')
    font-style: unquote($style)
    font-weight: $weight
