$slideDotsOverlay = false // Should the navigation dots overlay the media?
$slideDotsOffset = 15px // Offset of the dots to the edges of the slider
$slideDotsVerticalPosition = 'top' // Defines if the dots should be on top/bottom of slider 'top' | 'bottom'
$slideDotsSize = 12px // Size of a dot
$slideDotColor = #fff // Color of the dot

&-prevButton,
&-nextButton
  background: transparent
  border: 0
  color: #fff // Color of the arrows
  cursor: pointer
  font-family: 'slick'
  font-size: 2em // Size of the arrows
  margin: auto
  opacity: 1
  outline: 0
  position: absolute
  top: 50%
  transform: translateY(-100%)
  transition: all .25s
  visibility: visible
  z-index: 2

  &.slick-disabled
    opacity: 0
    visibility: hidden

&-prevButton
  left: 15px

&-nextButton
  right: 15px

.slick-dots
  line-height: 0
  list-style: none
  margin: 0
  padding: 0
  text-align: center
  width: 100%

  if $slideDotsOverlay
    position: absolute
    left: 0

    if $slideDotsVerticalPosition is 'top'
      top: $slideDotsOffset
    else
      bottom: $slideDotsOffset

.slick-dots > li
  display: inline-block
  margin: 0 2px // Spacing between dot

.slick-dots > li button
  background: transparent
  border-radius: 50%
  border: 2px solid $slideDotColor
  color: transparent
  cursor: pointer
  display: block
  height: $slideDotsSize
  outline: 0
  padding: 0
  width: $slideDotsSize

.slick-dots > li.slick-active button
  background: $slideDotColor
