@import '../DocumentDefault/BaseStyles/Mixins/_fontFace'

$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

fontFace('slick', 'slick', normal, normal, '../../vendor/slick/')

.flyntComponent[is='flynt-slider-media']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .sliderMedia
    center($containerMaxWidth, $gutterWidth)
    opacity: 1
    position: relative
    transition: opacity .1s ease-in-out

    &-isHidden
      opacity: 0


    &-slides
      list-style: none
      margin: 0
      padding: 0

    &-slide
      outline: 0
      position: relative

    @import '_slickSliderStyling'
    @import 'Partials/Image/_style'
    @import 'Partials/OembedVideo/_style'
    @import 'Partials/SlideTitle/_style'
