[is='flynt-block-not-found'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .content {
    @include reset-content-margins;

    text-align: center;
  }
}
