<div is="flynt-block-not-found" class="flyntComponent">
  <div class="blockNotFound">
    {{ contentHtml }}
    {% if backLinkLabel %}
      <p>
        <a href="{{ function('home_url') }}">{{ backLinkLabel }}</a>
      </p>
    {% endif %}
  </div>
</div>
