<flynt-component name="BlockNotFound" class="componentSpacing">
  <div class="container centerContainer maxWidthContainer">
    <div class="centerContainer maxWidthContent">
      {{ contentHtml|e('wp_kses_post') }}
      <p>
        <a class="button button--text" href="{{ function('home_url') }}">
          {{ backLinkLabel|e }}
        </a>
      </p>
    </div>
  </div>
</flynt-component>
