<div is="flynt-block-not-found" class="flyntComponent">
  <div class="container">
    {{ contentHtml|e('wp_kses_post') }}
    {% if backLinkLabel %}
      <p>
        <a href="{{ function('home_url') }}">{{ backLinkLabel|e }}</a>
      </p>
    {% endif %}
  </div>
</div>
