[is='flynt-list-facts'] {
  padding: $component-spacing 0;

  .container {
    @include center-max-width-container;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  .listFacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: -20px -10px 0;
    padding: 0;
  }

  .fact {
    max-width: 400px;
    padding: 20px 50px 0;
    text-align: center;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      width: 33.33%;
    }

    .title {
      color: $color-accent;
      display: flex;
      justify-content: center;
      letter-spacing: 0.1rem;
      padding-top: 0.8rem;
    }
  }

  .content {
    @include reset-content-margins;
  }
}
