$global = {
  color: {
    text: #000,
    headline: #fc0111,
    background: white,
    brand: blue
  },

  layout: {
    scale: '0 400px 800px 1200px',
    gutterWidth: '15px',
    maxWidth: '1140px'
  }
}
