@import '_playButton'
@import '_loader'

.video
  position: relative

  &-posterImage
    cursor: pointer
    position: absolute
    visibility: visible
    opacity: 1
    transition: opacity .2s, visibility 0s linear .2s
    width: 100%
    z-index: 1

    &-isHidden
      opacity: 0
      visibility: hidden

  &-imageElement
    display: block
    height: auto
    width: 100%

  &-content
    height: 0
    padding-bottom: percentage(9 / 16)
    visibility: hidden

    &-isVisible
      visibility: visible

    iframe
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%

  @import '../Figure/_style'
