<div class="video">
  <div class="video-posterImage">
    <div class="loader"></div>
    <div class="play"></div>
    {% include 'Partials/Figure/index.twig' ignore missing with {image: image} only %}
  </div>
  <div class="video-content">
    {{ video }}
  </div>
</div>
