<ul class="postList-categories">
  {% for category in post.categories %}
    <li class="postList-categoryItem">
      <a class="postList-categoryLink" href="{{ category.permalink }}" title="{{ category.title }}">{{ category.title }}</a>
    </li>
  {% endfor %}
</ul>
