html .editor-styles-wrapper,
html :where(.editor-styles-wrapper) p {
  @import
    'styles/variables',
    'styles/base';

  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  line-height: 1.5;
}
