@import
  'styles/mixins',
  'styles/variables',
  'styles/global';

html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-size-adjust: none;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
