<div is="flynt-block-wysiwyg-sidebar" class="flyntComponent {{ options.theme }}">
  <div class="container centerMaxWidthContainer">
    <div class="contentWrapper centerContentMaxWidth">
      <aside class="sidebar">
        {{ sidebarHtml|e('wp_kses_post') }}
      </aside>
      <div class="content">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  </div>
</div>
