$search-form-spacing: 6px;

.header {
  &-title {
    text-align: center;

    > * {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.25;
      padding-top: 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        margin-bottom: 0.8em;
      }

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 1.75em;
      }
    }
  }
}

.searchForm {
  position: relative;

  &-label {
    left: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &-icon {
    color: $color-headline;
  }

  &-field {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $search-form-spacing;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-mobile-horizontal) {
      flex-direction: row;
    }
  }

  &-box {
    flex-grow: 1;
    padding-left: 50px;
    padding-right: $search-form-spacing;
    position: relative;
  }

  &-input {
    border: 0;
    color: #9b9b9b;
    flex-shrink: 1;
    font-size: 0.875rem;
    height: 100%;
    line-height: 1.85;
    margin: 0;
    outline: none;
    padding: 1.25rem 0;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
    width: 100%;

    // Remove auto-complete styles on Chrome
    &:-webkit-autofill {
      &,
      &:hover,
      &:focus,
      &:active {
        transition-delay: 9999s;
        transition-property: background-color, color;
      }
    }

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding: 0;
    }
  }

  &-submit {
    cursor: pointer;
    outline: 0;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
  }
}
