$search-form-spacing: 6px;

.preContent {
  text-align: center;
}

.searchForm {
  position: relative;

  &-label {
    left: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &-icon {
    color: $color-headline;
  }

  &-field {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    padding: $search-form-spacing;
    position: relative;

    @media (min-width: $breakpoint-mobile-horizontal) {
      flex-direction: row;
    }
  }

  &-box {
    flex-grow: 1;
    position: relative;

    @media (min-width: $breakpoint-mobile-horizontal) {
      margin-right: $search-form-spacing;
    }
  }

  &-input {
    border: 0;
    height: 100%;
    line-height: 1.85;
    margin: 0;
    min-height: 44px;
    outline: none;
    padding: 0 1.25rem 0 3.125rem;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
    width: 100%;
  }

  &-submit {
    cursor: pointer;
    outline: 0;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
  }
}
