.header {
  &-title {
    @include reset-content-margins;

    padding: $container-padding-desktop 0;
  }
}

.searchForm {
  &-label {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  &-field {
    position: relative;
  }

  &-input {
    background-color: #fff;
    border: 2px solid $color-accent;
    color: #9b9b9b;
    font-size: 30px;
    font-weight: 700;
    height: 80px;
    margin: 0;
    padding: 0 80px 0 20px;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
    width: 100%;

    &:focus,
    &:active {
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
      outline: 0;
    }
  }

  &-submit {
    color: $color-accent;
    cursor: pointer;
    height: 80px;
    line-height: 1;
    outline: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 0.275);
    width: 80px;

    svg {
      position: relative;
      right: -25px;
      transform: scale(0.8);
    }
  }
}
