flynt-component[name='GridImageText'] {
  .grid {
    --grid-columns: 1;
    display: grid;
    gap: var(--column-gap);
    grid-template-columns: repeat(var(--grid-columns), minmax(300px, 1fr));
    list-style: none;
    padding: 0;

    &[data-max-columns='1'] {
      @media (min-width: $breakpoint-tablet) {
        margin-inline: auto;
        max-inline-size: calc(100% / 2 - var(--flow-space));
      }
    }

    &[data-max-columns='2'],
    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet) {
        --grid-columns: 2;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        max-inline-size: max-content;
      }
    }

    &[data-max-columns='3'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
      }
    }

    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 4;
      }
    }

    &[data-card='true']{
      --column-gap: var(--flow-space);

      .content {
        margin-block-start: 0;
      }
    }
  }

  .item {
    ul {
      list-style-position: outside;
      list-style-type: initial;
      padding-inline-start: 0;

      li {
        margin-inline-start: 1em;
      }
    }

    .figure-image-svg {
      aspect-ratio: 3 / 2;
    }
  }
}
