flynt-component[name='GridImageText'] {
  .grid {
    @include reset-list;
    @include grid(1, center);

    &[data-max-columns='2'],
    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet) {
        --grid-columns: 2;
      }
    }

    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
      }
    }

    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-desktop) {
        --grid-columns: 4;
      }
    }
  }

  .item {
    @include reset-list-item;
    max-width: var(--content-max-width);

    .content {
      @include reset-content-margins('bottom');
    }
  }
}
