[is='flynt-accordion-default'] {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    margin: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: $component-spacing-desktop 0;
  }

  .content {
    margin: 0 auto;
    max-width: $content-max-width;
  }

  .accordion {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .panel {
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
    }

    &-trigger {
      cursor: pointer;
      margin: 0;
      outline: 0;
      padding: 15px 30px 15px 0;
      position: relative;
      width: 100%;

      &::after {
        $color-text-rgb: red($color-contrast), green($color-contrast), blue($color-contrast);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='rgb(#{$color-text-rgb})' stroke-width='2' points='2,9 16,25 30,9 '/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 30px;
      }

      &[aria-expanded='true'] {
        &::after {
          transform: rotateX(180deg);
        }
      }
    }

    // do not add margins or padding to this, it will break the layout
    &-content {
      display: none;
      margin: 0;
      padding: 0;
    }

    // add custom paddings here
    &-inner {
      padding: 0;
    }
  }
}
