$colorText = lookup('$globalColorText') || #222222
$containerPadding = lookup('$globalContainerPadding') || 15px
$containerMaxWidth = 640px

$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px

.flyntComponent[is="flynt-accordion-default"]
  .container
    center($containerMaxWidth + 2 * $containerPadding, $containerPadding)

  .accordion
    list-style: none
    margin: 0
    padding: 0

  .panel
    padding-bottom: 15px

    &-trigger
      cursor: pointer
      outline: 0
      margin: 0
      padding: 15px 30px 15px 0
      position: relative
      width: 100%

    &-arrow
      display: block
      height: 20px
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      width: 30px

      &::before,
      &::after
        background-color: $colorText
        content: ''
        height: 100%
        position: absolute
        transition: transform .2s cubic-bezier(.165, .840, .440, 1.000)
        width: 2px

      &::before
        left: 8px
        transform: rotate(140deg)

      &::after
        right: 8px
        transform: rotate(-140deg)

  [aria-expanded="true"]
    .panel-arrow
      &::before
        transform: rotate(40deg)

      &::after
        transform: rotate(-40deg)

  .panel-content
    display: none

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0
