[is='flynt-block-post-header'] {
  .header {
    margin-bottom: calc(var(--component-spacing-mobile) / 2);
    padding: var(--component-spacing) 0 calc(var(--component-spacing-mobile) / 2);

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: calc(var(--component-spacing-tablet) / 2);
      padding: var(--component-spacing-tablet) 0 calc(var(--component-spacing-tablet) / 2);
    }

    &--hasFeaturedImage {
      margin-bottom: 0;
      padding: var(--component-spacing) 0 var(--component-spacing-desktop);

      @media (min-width: $breakpoint-tablet) {
        padding: var(--component-spacing) 0 calc(var(--component-spacing-tablet) * 2);
      }
    }
  }

  .content {
    @include reset-content-margins;
  }

  .meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    padding-left: 2rem;

    > *:not(:last-child) {
      &::after {
        background-color: var(--color-border);
        content: '';
        display: inline-block;
        height: 2px;
        margin: 0 0.5rem;
        vertical-align: middle;
        width: 8px;

        @media (min-width: $breakpoint-mobile-horizontal) {
          margin: 0 0.75rem;
        }
      }
    }

    &-author,
    &-category,
    &-date,
    &-readingtime {
      @include reset-link;
      color: var(--color-text);
      font-family: var(--elements-font-family);
      font-size: 0.875rem;
      font-weight: var(--elements-font-weight);
      letter-spacing: 0.0125em;
    }

    &-author,
    &-category {
      &:hover {
        color: var(--color-accent);
      }
    }

    &-author {
      align-items: center;
      display: flex;
      text-decoration: none;
    }

    &-avatar {
      margin-left: -2rem;
      margin-right: 0.5rem;
    }

    &-avatarImage {
      border-radius: 100%;
      height: 1.5rem;
      width: 1.5rem;

      @media (min-width: $breakpoint-mobile-horizontal) {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .excerpt {
    margin-top: 1.5rem;
  }

  .featuredImage {
    margin-bottom: calc(var(--component-spacing-tablet) / 3);
    margin-top: calc(-1 * var(--component-spacing-tablet));

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: var(--component-spacing-mobile);
      margin-top: calc(-1 * var(--component-spacing-desktop));
    }

    .figure {
      &-image {
        border-radius: var(--box-border-radius);
        overflow: hidden;
        position: relative;
        transform: translateZ(0);
        z-index: 1;
      }
    }
  }
}
