[is='flynt-block-post-header'] {

  // ##BLOCK-POST-HEADER
  // =============================================================

  // SPACING
  // -------------------------------------------------------------

  .blockPostHeader {
    padding-top: 1.125rem;

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding-top: 1.5rem;
    }

    @media (min-width: $breakpoint-tablet) {
      padding-top: 2rem;
    }

    &-meta,
    &-intro {
      margin: 1.375rem 0 0;

      @media (min-width: $breakpoint-tablet) {
        margin-top: 1.625rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &-media {
      margin: 1.25rem 0 0;

      @media (min-width: $breakpoint-tablet) {
        margin-top: 2.5rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &-title,
    &-meta,
    &-intro {
      margin-left: auto;
      margin-right: auto;
      max-width: $content-max-width;
    }

    &-media {
      [is='flynt-block-image'] {
        margin-top: 0;
      }
    }

    &-meta + .blockPostHeader-intro {
      margin-top: 1rem;

      @media (min-width: $breakpoint-tablet) {
        margin-top: 1.125rem;
      }
    }
  }

  // STYLE
  // -------------------------------------------------------------

  .blockPostHeader {
    &-h1 {
      font-size: 2rem;
      line-height: 1.175;
      margin: 0;
      padding: 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        font-size: 2.5rem;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 2.75rem;
      }
    }

    &-meta {
      color: $color-text;
      font-size: 14px;
      line-height: 1.5;
    }

    &-category {
      margin-right: 0.25rem;
    }

    &-readingtime {
      margin-left: 0.25rem;
    }

    &-intro {
      .h3 {
        color: $color-text;
        font-weight: 400;

        &:first-child {
          padding-top: 0;
        }

        &:only-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
