[is='flynt-block-post-header'] {
  .header {
    padding: $component-spacing-mobile 0 $component-spacing-desktop;

    @media (min-width: $breakpoint-tablet) {
      padding: $component-spacing-tablet 0 $component-spacing-tablet*2;
    }
  }

  .content {
    @include reset-content-margins;
  }

  .meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;

    a {
      @include reset-link;
    }

    > * {
      margin-right: 0.5rem;
    }

    &-author {
      align-items: center;
      color: var(--color-text);
      display: flex;
      text-decoration: none;
    }

    &-avatar {
      display: none;
      margin-right: 0.5rem;

      @media (min-width: $breakpoint-mobile-horizontal) {
        display: block;
      }
    }

    &-avatarImage {
      border-radius: 50px;
      height: 32px;
      width: 32px;
    }

    &-divider,
    &-label {
      opacity: 0.5;
    }
  }

  .excerpt {
    color: var(--color-text);
    margin-top: 1.5rem;
  }

  .featuredImage {
    margin-top: -#{$component-spacing-tablet};
    margin-bottom: $component-spacing-mobile;

    @media (min-width: $breakpoint-tablet) {
      margin-top: -#{$component-spacing-desktop};
    }
  }
}
