// stylelint-disable-next-line selector-max-id
#wpwrap {
  overflow-x: hidden;
}

.flyntStudio {
  .scale-slider {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  .acf-form-fields > .acf-field {
    padding: 0 !important;
  }

  @import "Partials/iframes";
  @import "Partials/component-select";
}
