// Placeholder color
$placeholder-color()
  &::-webkit-input-placeholder
    color: $white

  &:-moz-placeholder
    color: $white

  &::-moz-placeholder
    color: $white

  &:-ms-input-placeholder
    color: $white

  &:focus
    &::-webkit-input-placeholder
      opacity: .5

    &:-moz-placeholder
      opacity: .5

    &::-moz-placeholder
      opacity: .5

    &:-ms-input-placeholder
      opacity: .5

$centerAbsolute($offsetTop = null, $offsetRight = null, $offsetBottom = null, $offsetLeft = null)
  if not $offsetTop
    $offsetTop = 0
  if not $offsetRight
    $offsetRight = 0
  if not $offsetBottom
    $offsetBottom = 0
  if not $offsetLeft
    $offsetLeft = 0

  bottom: $offsetBottom
  left: $offsetLeft
  margin: auto
  position: absolute
  right: $offsetRight
  top: $offsetTop

$centerTable(className)
  display: table

  {className}
    display: table-cell
    vertical-align: middle
