/**
 * Button Factory
 * Arguments
 *  name (not required) = additional helper classname
 *  fontColor = font color of the button
 *  backgroundColor = background color of the button
 */

generateButton($name = null, $backgroundColor, $fontColor)
  if $name
    $name = '.btn.--' + $name
  else
    $name = '.btn'

  {$name}
    background: $backgroundColor
    border-color: $backgroundColor
    color: $fontColor

    &:hover
      background: darken($backgroundColor, 10)
      border-color: darken($backgroundColor, 10)
      color: $fontColor

    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus,
    &:active:focus
      background: darken($backgroundColor, 15)
      border-color: darken($backgroundColor, 15)
