/**
 * Typography
 */

// Applies a consistent margin for most common elements.
:where(#{$heading-selectors}, p, .paragraph, ul, ol, pre, table, figure, blockquote, form, fieldset, dl, address, details, hr, aside, video, fieldset) {
  + * {
    margin-block-start: var(--flow-space);
  }

  // Required to override margin for core/image block.
  + .wp-block-image {
    margin-block-start: var(--flow-space);
  }
}

body,
.paragraph {
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  line-height: 1.5;
}

#{$heading-selectors} {
  --flow-space: 2.5rem;
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: calc(1em + 0.5rem);
}

h1,
.h1 {
  --flow-space: 3.75rem;
  font-size: 2.8125rem;
  font-weight: 700;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: 3.125rem;
  }
}

h2,
.h2 {
  font-size: 2.3125rem;
  font-weight: 700;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: 2.5625rem;
  }
}

h3,
.h3 {
  font-size: 1.9375rem;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: 2.1875rem;
  }
}

h4,
.h4 {
  font-size: 1.625rem;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: 1.825rem;
  }
}

h5,
.h5 {
  font-size: 1.375rem;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: 1.5rem;
  }
}

h6,
.h6 {
  color: var(--color-text-muted);
  font-size: 1.0625rem;
}

a {
  color: var(--color-accent);
  text-underline-offset: 0.3ex;
}

hr {
  --flow-space: var(--component-spacing);
  border: 0;
  margin: var(--flow-space) auto;

  &::after {
    background-color: var(--color-text);
    block-size: 2px;
    content: '';
    display: block;
    opacity: 0.28;
  }
}

kbd,
code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.375em;
  word-break: break-word;
}

img {
  block-size: initial;
  inline-size: 100%;

  .wp-block-image & {
    inline-size: unset;
  }
}

figcaption {
  color: var(--color-text-muted);
  font-size: var(--font-size-body-small);
  margin-block-start: 0.25rem;
}

blockquote,
.blockquote {
  border-inline-start: 5px solid var(--color-accent);
  display: block;
  font-size: 1.44rem;
  font-style: normal;
  font-weight: 500;
  line-height: calc(1em + 0.75rem);
  margin: var(--flow-space) 0 var(--flow-space) 2.5rem;
  padding-inline-start: 0.8rem;

  cite {
    color: var(--color-text-muted);
    display: block;
    font-size: var(--font-size-body);
    font-style: normal;
    margin-block-start: 0.25rem;
  }
}

small {
  font-size: var(--font-size-body-small);
}

/**
 * Lists & Tables
 */

ul:not([class]),
ol:not([class]) {
  --item-spacing: 0.66em;
  padding-inline-start: 1.5rem;

  li + li {
    margin-block-start: var(--item-spacing);
  }

  li {
    > ul, ol {
      --item-spacing: 0.33em;
      margin-block-start: var(--item-spacing);
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color-text);
  font-size: var(--font-size-body-small);
  inline-size: 100%;
  max-inline-size: 100%;

  caption {
    caption-side: bottom;
    color: var(--color-text-muted);
    margin-block-start: calc(var(--flow-space) / 2);
    text-align: start;
  }

  td,
  th {
    padding: 0.9rem 1rem;
    text-align: inherit;
    vertical-align: top;
  }

  th {
    color: var(--color-text-muted);
    font-weight: 500;
  }

  td {
    min-inline-size: 25ch;
  }

  thead {
    background-color: var(--color-background-secondary);
    border-block-end: solid 1px var(--color-border);
  }

  tr {
    &:nth-child(even) {
      border-block-end: solid 1px var(--color-border);
      border-block-start: solid 1px var(--color-border);
    }
  }
}

/**
 * Buttons
 */

.button,
.wp-block-button > .wp-block-button__link {
  --button-background-color: var(--color-accent);
  --button-border-color: var(--color-accent);
  --button-border-width: 2px;
  --button-border-radius: 0;
  --button-font-weight: 700;
  --button-text-color: var(--color-background);
  --button-padding-inline: calc(1.125rem - var(--button-border-width));
  --button-padding-block: calc(0.625rem - var(--button-border-width));

  appearance: none;
  background-color: var(--button-background-color);
  border: solid var(--button-border-width) var(--button-border-color);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: var(--button-font-weight);
  letter-spacing: 0;
  padding: var(--button-padding-block) var(--button-padding-inline);
  text-align: center;
  text-decoration: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--outlined {
    --button-text-color: var(--color-accent);
    --button-background-color: transparent;
  }

  &--text {
    --button-background-color: transparent;
    --button-text-color: var(--color-accent);
    border: 0;
    padding: 0;
  }
}

.wp-block-button {
  color: var(--button-text-color);

  &.is-style-outline {
    --button-text-color: var(--color-accent);

    .wp-block-button__link {
      --button-text-color: var(--color-accent);
      border: solid var(--button-border-width) var(--color-accent);
      color: var(--button-text-color);
      padding: var(--button-padding-block) var(--button-padding-inline);
    }
  }
}

/**
 * Forms
 */

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: 700;
  padding: 0;
}

label {
  color: var(--color-text-muted);
  font-size: var(--font-size-body-small);
  font-weight: 500;
}

#{$input-selectors} {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-border-secondary);
  border-radius: 0;
  caret-color: var(--color-text);
  color: var(--color-text);
  font-size: var(--font-size-body-small);
  max-inline-size: 100%;
  padding: 0.75rem 0.625rem;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--color-border-secondary);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='rgb(48, 48, 48)' stroke-width='5'  points='2,9 16,25 30,9 '/%3E%3C/svg%3E");
  background-position: calc(100% - 0.75rem) center;
  background-repeat: no-repeat;
  background-size: 1rem;
  line-height: 1.5;
  padding-inline-end: 45px;
}

textarea {
  inline-size: 100%;
  min-block-size: 150px;
  resize: vertical;
  vertical-align: top;
}

[type='checkbox'],
[type='radio'] {
  accent-color: var(--color-accent);
  block-size: 20px;
  display: inline-block;
  inline-size: 20px;
  margin-block-start: 4px;
  margin-inline-end: 8px;
  vertical-align: top;

  + label {
    color: var(--color-text);
    display: inline-block;
    font: inherit;
    inline-size: calc(100% - 33px);
  }
}

/**
 * Helpers
 */

flynt-component {
  display: block;
  position: relative;
}

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100%;

  .admin-bar & {
    padding-block-start: var(--wp-admin--admin-bar--height);
  }
}

.componentSpacing {
  margin: var(--component-spacing) 0;

  &[data-theme] {
    margin: 0;
    padding: var(--component-spacing) 0;
  }

  // Use flow-space as componentSpacing for all components in single post layouts.
  .post-main & {
    --component-spacing: var(--flow-space);
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flow-space);
}

.centerContainer {
  margin-inline: auto;
}

.flowContent {
  > * + * {
    margin-block-start: var(--flow-space);
  }
}

.maxWidth {
  max-inline-size: 100%;

  &--container {
    max-inline-size: var(--container-max-width);
    padding-inline: var(--container-spacing);
  }

  &--containerWide {
    max-inline-size: var(--container-max-width-wide);
    padding-inline: var(--container-spacing);
  }

  &--content {
    max-inline-size: var(--content-max-width);
  }

  &--contentWide {
    max-inline-size: var(--content-max-width-wide);
  }
}

.preContent {
  margin: 0 auto calc(var(--component-spacing) / 2) 0;
  max-inline-size: var(--content-max-width);

  &--center {
    margin: 0 auto calc(var(--component-spacing) / 2);
    max-inline-size: var(--content-max-width);
    text-align: center;
  }
}

.postContent {
  margin: calc(var(--component-spacing) / 2) 0 0;
  max-inline-size: var(--content-max-width);

  &--center {
    margin: calc(var(--component-spacing) / 2) auto 0;
    max-inline-size: var(--content-max-width);
    text-align: center;
  }
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

// Class for text that should only be visible to screen readers.
.visuallyHidden {
  block-size: 1px !important;
  clip: rect(0, 0, 0, 0) !important;
  inline-size: 1px !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}

// Skip link behavior.
.skipLink {
  inset-block-start: -100px;
  position: fixed;
  z-index: 999;

  &:focus {
    inset-block-start: 0;
  }
}

/**
 * Box Helpers
 */

.boxPadding {
  padding-block: var(--box-spacing);
  padding-inline: var(--box-spacing);
}

.boxBorder {
  border: solid 2px var(--color-border);
}

/**
 * Themes
 */

[data-theme] {
  background-color: var(--color-background);
  color: var(--color-text);
}
