/**
* 1.0 Root
*
* Top level styles every element should inherit.
*/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-background;
  box-sizing: border-box;
  color: $color-text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

/**
* 2.0 Layout
*
* Overall page layout.
*/

html,
body,
.pageWrapper {
  height: 100%;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;

  > .flyntComponent {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container--centerMaxWidthContainer {
  @include centerMaxWidthContainer;
}

.content--centerContentMaxWidth {
  margin: 0 auto;
  max-width: $content-max-width;
}

/**
* 3.0 Base Style
*
* Styling all likely used HTML elements.
*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $color-headline;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 2rem;
  padding-top: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
}

h3,
.h3 {
  font-size: 1.3rem;
  padding-top: 0.8rem;
}

h4,
.h4 {
  font-size: 1rem;
  padding-top: 0.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
}

h6,
.h6 {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

a {
  color: $color-accent;

  @media (min-width: $breakpoint-tablet) {
    &:hover {
      color: $color-accent;
    }
  }
}

dt {
  font-weight: bold;
}

p,
.paragraph,
ul,
ol,
dl,
dd,
table,
figure {
  margin: 0 0 1rem;
}

ul,
ol {
  padding-left: 1.5rem;

  ul,
  ol {
    margin-bottom: 0;
  }
}

hr {
  background-color: $color-brand;
  border: 0;
  display: block;
  height: 1px;
  margin: 2rem 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

figcaption {
  margin-top: 0.4rem;
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.1rem 0.3rem;
}

blockquote,
.blockquote {
  border-left: 3px solid $color-brand;
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.3;
  margin: 2rem auto;
  max-width: 28rem;
  padding: 0.5rem 1.5rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

td,
th {
  padding: 0.75rem;
  text-align: inherit;
  vertical-align: top;
}

thead {
  th {
    border-bottom: 2px solid $color-brand;
    vertical-align: bottom;
    white-space: nowrap;
  }
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

/**
* 3.1 Buttons
*
* Global button elements, including reset on standard button element.
*/

button {
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
}

.btn {
  appearance: none;
  background: $color-background;
  border-radius: 3px;
  border: 1px solid $color-accent;
  color: $color-accent;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
  user-select: none;

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.65;
    pointer-events: none;
  }

  @media (min-width: $breakpoint-tablet) {
    &:hover,
    &:focus {
      border-color: darken($color-accent, 10);
      color: darken($color-accent, 10);
    }
  }

  &--primary {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-background;

    @media (min-width: $breakpoint-tablet) {
      &:hover,
      &:focus {
        background-color: darken($color-accent, 10);
        color: $color-background;
      }
    }
  }

  &--block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
  }
}

/**
* 3.2 Forms
*
* Global form elements, including structering wrapper elements.
*/

fieldset {
  border: 0;
  margin: 0 0 1rem;
  padding: 0;

  *:last-child {
    margin-bottom: 0;
  }
}

legend {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
  margin-bottom: 0.2rem;
}

[type=text],
[type=email],
[type=search],
[type=password],
textarea,
select {
  appearance: none;
  background-color: $color-background;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
}

input,
select,
textarea {
  margin: 0 0 1rem;
  padding: 10px;
}

select {
  $color-text-rgb: red($color-text), green($color-text), blue($color-text);

  background-image: url("data:image/svg+xml;utf8,<svg width='32' height='32' xmlns='http://www.w3.org/2000/svg'><polyline fill='none' stroke='rgb(#{$color-text-rgb})' stroke-width='3'  points='2,9 16,25 30,9 '/></svg>");
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-right: 48px;
}

[type=checkbox],
[type=radio] {
  margin: 0 0.5rem 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
