@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/public-sans-v14-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/public-sans-v14-latin-italic.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/public-sans-v14-latin-500.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/public-sans-v14-latin-500italic.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/public-sans-v14-latin-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/public-sans-v14-latin-700italic.woff2') format('woff2');
  }
