/**
*  Converts a hex value into the hsl equivalent or
*  change its hue, saturation or lightness.
*
* @param {string} hex - the hexadecimal value to convert.
* @param {string} hue - hue value to add or subtract.
* @param {string} saturation - saturation value to add or subtract.
* @param {string} lightness - lightness value to add or subtract.
* @return {string} comma separated hsl values
*/
@function hex-to-hsl($hex, $hue: 0, $saturation: 0, $lightness: 0) {
  @return hue($hex) + $hue, saturation($hex) + $saturation, lightness($hex) + $lightness;
}

/**
*  Converts a string into kebab case.
*
* @param {string} input - the string to convert.
* @return {string} the input as kebab case.
*/
@function string-to-kebab($input) {
  $str: '';
  $capital: false;
  $hyphen: false;

  @for $i from 1 through str-length($input) {
    $char: str-slice($input, $i, $i);

    @if $char != '-' {
      $str: $str + if($capital, to-upper-case($char), $char);

      $capital: false;
      $hyphen: false;
    } @else {
      // Allowing double hyphen for BEM syntax
      @if $hyphen {
        $str: $str + '--';
        $hyphen: false;
      } @else {
        $hyphen: true;
      }

      $capital: true;
    }
  }

  @return $str;
}
