// Shorthands to help writing easier to understand code.

@mixin font-face(
  $family,
  $file,
  $weight: 'normal',
  $style: 'normal',
  $woff2: true,
  $base-path: 'fonts/'
) {
  @font-face {
    font-family: $family;

    font-style: unquote($style);
    font-weight: unquote($weight);

    @if $woff2 {
      src: url($base-path+$file+'.woff2') format('woff2'),
        url($base-path+$file+'.woff') format('woff');
    } @else {
      src: url($base-path+$file+'.woff') format('woff');
    }
  }
}

@mixin center(
  $max-width: $container-max-width,
  $padding: $container-padding-mobile
) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin reset-content-margins($direction: 'both') {
  @if ($direction == 'both' or $direction == 'top') {
    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @if ($direction == 'both' or $direction == 'bottom') {
    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@mixin reset-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

// SIMPLE FLEXBOX GRID MIXIN
@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

@mixin grid-item($columns: 4, $gutter: 15px) {
  width: calc((#{100% / $columns}) - (#{$columns - 1}/#{$columns} * #{$gutter}));

  &:nth-child(n) {
    margin-right: $gutter;
    margin-top: 0;
  }

  &:nth-child(1n + #{$columns + 1}) {
    margin-top: $gutter;
  }

  &:nth-child(#{$columns}n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: auto;
  }
}
