// Shorthands to help writing easier to understand code.
@import 'functions';

@mixin font-face(
  $family,
  $file,
  $weight: 'normal',
  $style: 'normal',
  $woff2: true,
  $base-path: '../assets/fonts/'
) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: unquote($style);
    font-weight: unquote($weight);
    @if $woff2 {
      src: url($base-path+$file+'.woff2') format('woff2'),
        url($base-path+$file+'.woff') format('woff');
    } @else {
      src: url($base-path+$file+'.woff') format('woff');
    }
  }
}

@mixin center(
  $max-width: var(--container-max-width),
  $padding: var(--container-padding)
) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@function heading-combinations($i, $from, $to, $leading, $following) {
  @if ($i == $to) {
    @return '#{$leading}#{$from} + #{$following}#{$from}';
  } @else {
    @return '#{$leading}#{$from} + #{$following}#{$i+1}, ' + heading-combinations($i + 1, $from, $to, $leading, $following);
  }
}

@mixin headings-following-headings($from: 1, $to: 6) {
  $headings: '';

  // h + h
  @for $i from $from through $to {
    $heading: heading-combinations($i, $i, $to, 'h', 'h');
    $headings: '#{$headings} #{$heading}, ';
  }

  // h + .h
  @for $i from $from through $to {
    $heading: heading-combinations($i, $i, $to, 'h', '.h');
    $headings: '#{$headings} #{$heading}, ';
  }

  // .h + .h
  @for $i from $from through $to {
    $heading: heading-combinations($i, $i, $to, '.h', '.h');
    $headings: '#{$headings} #{$heading}, ';
  }

  #{$headings} {
    @content;
  }
}

@mixin reset-content-margins($direction: 'both') {
  @if ($direction == 'both' or $direction == 'top') {
    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @if ($direction == 'both' or $direction == 'bottom') {
    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@mixin reset-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-list-item {
  margin-bottom: 0;
}

@mixin reset-link {
  background-image: none;
}

/**
* Grid Mixin
*
* Applies a flexbox grid to a container element. All direct children will be modified to create a column based grid.
*/
@mixin grid(
  $columns,
  $alignment: flex-start,
  $gutter-horizontal: var(--gutter-width),
  $gutter-vertical: var(--gutter-width)
) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $alignment;
  width: 100%;

  > * {
    width: calc((#{100% / $columns}) -
    (#{$columns - 1} / #{$columns} * #{$gutter-horizontal}));

    &:nth-child(n) {
      margin-right: $gutter-horizontal;
      margin-top: 0;
    }

    &:nth-child(1n + #{$columns + 1}) {
      margin-top: $gutter-vertical;
    }

    &:nth-child(#{$columns}n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin reset-grid {
  display: block;

  > * {
    width: auto;

    &:nth-child(n) {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

/**
*  Create native css variables and classes.
*
* @param {sass:map} $variables - the string to convert.
* @return css variables inside :root and classes based on sass:map.
*/
@mixin create-native-css-variables-and-classes($variables: '') {
  @if not ($variables == '') {
    // Create theme variables inside :root
    :root {
      @each $theme, $variables in $variables {
        @each $variable, $values in $variables {
          @each $value in $values {
            @if ($theme == ':root') {
              --#{$variable}: #{$value};
            } @else {
              --#{$theme}-#{$variable}: #{$value};
            }
          }
        }
      }
    }

    // Create theme class and map them with variables inside :root
    @each $theme, $variables in $variables {
      @if not ($theme == ':root') {
        $theme-class-name: '.' + string-to-kebab($theme);

        @if $theme == 'theme-default' {
          $theme-class-name: ':root, .themeReset';
        } @else {
          $theme-class-name: '.' + string-to-kebab($theme);
        }
        #{$theme-class-name} {
          @each $variable, $values in $variables {
            @each $value in $values {
              --#{$variable}: var(--#{$theme}-#{$variable});
            }
          }
        }
      }
    }
  }
}
