
// Printstyles for Front-Page

@media print {
  //General Page Styling
  [is='flynt-navigation-main'],
  [is='flynt-navigation-burger'],
  [is='flynt-navigation-footer'],
  [is="flynt-block-cookie-notice"],
  .button {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

  * ,
  ul,
  .themeLight,
  .themeHero,
  .themeReset {
    background-color: #fff;
    box-shadow: none;
    color: #000 !important;
  }

  // FRONT-PAGE STYLING
  .page-id-963 {
    // [is='flynt-navigation-main'],
    // [is='flynt-navigation-burger'],
    // [is='flynt-navigation-footer'],
    // [is="flynt-block-cookie-notice"],
    // .button {
    //   display: none !important;
    // }

    // a {
    //   text-decoration: none;
    // }

    // * ,
    // ul,
    // .themeLight,
    // .themeHero,
    // .themeReset
    // {
    //   background-color: #fff;
    //   box-shadow: none;
    //   color: #000 !important;

    // }

    [is="flynt-list-icons"] {
      h2 {
        break-before: page;
      }
    }


    [is="flynt-block-image-text"] {
      .container {
        max-width: inherit;
        padding: 0 40px;
      }

      .box-inner--image {
        display: none;
      }
    }

    [is='flynt-grid-image-text'] {
      .grid {
        flex-wrap: unset;

        &--columns1 {
          display: block;
        }

        &--columns3 {
          text-align: center;

          .content-image {
          margin: 0 auto;
          max-width: 85%;
          }

          .content-inner {
            margin: 0 auto;
            width: 100%;
          }
        }

        &--columns4 {
          .content {
            display: inline-block;
            text-align: center;
            width: 100%;

            .iconList{
              li {
                padding-left: 0rem;
              }
            }
          }
        }
      }
    }

    [is='flynt-block-text-image-crop'] {
      .box-inner--content,
      .box-inner--image {
        width: unset;
      }

      .box-contentWrapper {
        max-width: 100%;
        padding: 0 40px;
      }

      .figure {
        display: none;
      }
    }
  }

  // Printstyle for Base Components Page
  .page-id-5 {

    [is='flynt-list-components'] {
      .preContent {
        margin-bottom: 0px;

        h1 {
          font-size: 1.25rem;
          margin-bottom: 0px;
        }

        p {
          font-size: .8rem;
          margin-bottom: 20px;
        }
      }

      .components {
        display: block;
        width: 100%;

          li:nth-child(odd) {
            margin-right: 90px;
          }

          li:nth-child(2) {
            margin-top: 0px;
          }
      }

    .component {
      display: inline-block;
      vertical-align: top;
      width: 42%;

      &-image {
        width: 100%;
      }

      &-imageWrapper {
          border: 1px solid rgb(160, 158, 158);
          border-radius: 4px;

      }

      &-description {
        h3 {
          font-size: 1rem ;
        }

        p {
          font-size: .9rem;
          line-height: 1.2;
        }
      }

      &-footer {
        display: none;
      }
    }

    .boxShadow {
      box-shadow: none;
    }
  }

  [is="flynt-hero-cta"] {
    display: none;
  }
  }
}





