
// Printstyles for Front-Page
@media print {
  [is='flynt-navigation-main'],
  [is='flynt-navigation-burger'],
  [is='flynt-navigation-footer'],
  [is="flynt-block-cookie-notice"],
  .button
   {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

  * ,
  ul,
  .themeLight,
  .themeHero,
  .themeReset
  {
    background-color: #fff;
    box-shadow: none;
    color: #000 !important;

  }

  [is="flynt-list-icons"] {
    h2 {
      break-before: page;
    }
  }


  [is="flynt-block-image-text"] {
    .container {
      max-width: inherit;
      padding: 0 40px;
    }

    .box-inner--image {
      display: none;
    }
  }

  [is='flynt-grid-image-text'] {
    .grid {
      flex-wrap: unset;

      &--columns1 {
        display: block;
      }

      &--columns3 {
        text-align: center;

        .content-image {
        margin: 0 auto;
        max-width: 85%;
        }

        .content-inner {
          margin: 0 auto;
          width: 100%;
        }
      }

      &--columns4 {
        .content {
          display: inline-block;
          text-align: center;
          width: 100%;

          .iconList{
            li {
              padding-left: 0rem;
            }
          }
        }
      }
    }
  }

  [is='flynt-block-text-image-crop'] {
    .box-inner--content,
    .box-inner--image {
      width: unset;
    }

    .box-contentWrapper {
      max-width: 100%;
      padding: 0 40px;
    }

    .figure {
      display: none;
    }

  }

  // Printstyle for Base Components Page

  [is='flynt-list-components'] {
   .components {
    display: block;
    border: 2px solid red;
    width: 100%;



    // &::before,
    // &::after {
    //   content: " ";
    //   clear: both;
    //   display: table;
    // }

  }

  .component {
    display: inline-block;
    // float: left;
    width: 300px;


      // &::before,
      // &::after {
      //   content: " ";
      //   clear: both;
      //   display: table;
      // }

      &-footer {
        display: inline-block;
      }
    }
  }
}





