$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

$container-max-width: 1440px;
$container-padding-desktop: 60px;
$container-padding-tablet: 40px;
$container-padding-mobile: 15px;
$content-max-width: 720px;
$content-max-width-large: 860px;
$component-spacing-desktop: 128px;
$component-spacing-tablet: 96px;
$component-spacing-mobile: 48px;
$gutter-width: 24px;

// Theming variables
:root,
.themeReset {
  --color-background: var(--theme-color-background-default, #fff);
  --color-headline: var(--theme-color-headline-default, #212121);
  --color-text: var(--theme-color-text-default, #383838);
  --color-border: var(--theme-color-border-default, #636e98);
  --color-accent: var(--theme-color-accent-default, #2b44df);
  --color-accent-alpha: var(--theme-color-accent-alpha-default, #{rgba(#2b44df, 0.4)});
  --color-accent-hover: var(--theme-color-accent-hover-default, #{darken(#2b44df, 5)});
  --color-transparent: transparent; // needs for ie11-custom-propertiess polyfill to work properly
  --color-error: #e80242;
}

.themeLight {
  --color-background: var(--theme-color-background-light, #f8f9fd);
  --color-headline: var(--theme-color-headline-light, #212121);
  --color-text: var(--theme-color-text-light, #383838);
  --color-border: var(--theme-color-border-light, #636e98);
  --color-accent: var(--theme-color-accent-light, #2b44df);
  --color-accent-alpha: var(--theme-color-accent-alpha-light, #{rgba(#2b44df, 0.4)});
  --color-accent-hover: var(--theme-color-accent-hover-light, #{darken(#2b44df, 5)});
}

.themeDark {
  --color-background: var(--theme-color-background-dark, #10205a);
  --color-headline: var(--theme-color-headline-dark, #fbfbfb);
  --color-text: var(--theme-color-text-dark, #e9e9ec);
  --color-border: var(--theme-color-border-dark, #7e7e8e);
  --color-accent: var(--theme-color-accent-dark, #fff);
  --color-accent-alpha: var(--theme-color-accent-alpha-dark, #{rgba(#fff, 0.4)});
  --color-accent-hover: var(--theme-color-accent-hover-dark, #{darken(#fff, 5)});
}

.themeHero {
  --color-background: var(--theme-color-background-hero, #2b44df);
  --color-headline: var(--theme-color-headline-hero, #fbfcfc);
  --color-text: var(--theme-color-text-hero, #d4dfe0);
  --color-border: var(--theme-color-border-hero, #9cb6b5);
  --color-accent: var(--theme-color-accent-hero, #fff);
  --color-accent-alpha: var(--theme-color-accent-alpha-hero, #{rgba(#fff, 0.4)});
  --color-accent-hover: var(--theme-color-accent-hover-hero, #{darken(#fff, 5)});
}

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';
