$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$contentMaxWidth      = lookup('$globalContentMaxWidth')    || 600px

.flyntComponent[is="flynt-grid-download-portrait"]
  .container
    margin: 0 auto 2rem
    max-width: $containerMaxWidth
    padding: 0 $containerPadding

  .preContent
    margin: 0 auto 1rem
    max-width: $contentMaxWidth
    text-align: center

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0

  .downloadList
    display: flex
    justify-content: center
    list-style-type: none
    flex-direction: row
    flex-wrap: wrap
    list-style: none
    margin: -6px -3px 0
    padding: 0

  .download
    max-width: 246px
    padding: 6px 3px 0
    position: relative
    width: percentage(1/6)

    +below('l')
      width: percentage(1/3)

    +below('s')
      width: percentage(1/2)

    &-wrapper
      background: rgba(0, 0, 0, .8)
      position: relative

      &:hover
        .download-image
          opacity: .15

        .download-link
          opacity: 1

    &-image
      backface-visibility: hidden
      transition: opacity .2s ease-out

    &-link
      align-items: center
      display: flex
      height: 100%
      justify-content: center
      opacity: 0
      padding: 6px
      position: absolute
      text-align: center
      text-decoration: none
      width: 100%
      word-break: break-word
      z-index: 2

    &-title
      color: #fff
      margin-bottom: 0
      padding-top: 0

    &-fileSize
      display: block
      font-size: .8rem
      padding-top: .1rem
