$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

$containerMaxWidth = 1440px // Width for the container if not using a container
$useContainer = true // Use a container or a fluid wrapper

$useFixedHeight = false // Use a fixed height
$fixedHeightDesktop = 500px // Fixed Height for Desktop Resolutions
$fixedHeightMobile = 300px // Fixed Height for Mobile Resolutions

[is='flynt-image-hero']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .imageHero
    if $useContainer
      center($maxWidth, $gutterWidth)
    else
      center($containerMaxWidth)
      padding-left: 0
      padding-right: 0

    &-imageContainer
      display: block
      width: 100%

      if $useFixedHeight
        height: $fixedHeightDesktop

        +below(2)
          height: $fixedHeightMobile

    &-imageElement
      display: block

      if $useFixedHeight
        height: 100%
        object-fit: cover
        width: 100%
      else
        height: auto
        max-width: 100%
