$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

[is='flynt-image-hero']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .imageHero
    center($containerMaxWidth, $gutterWidth)

    &-imageContainer
      display: block
      width: 100%

    &-imageElement
      display: block
      height: auto
      max-width: 100%
