[is='flynt-list-posts'] {
  margin: $component-spacing-desktop 0;

  .listPosts {
    @include center;

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @import 'Partials/PostTeaser/style';
    @import 'Partials/PaginationButtons/style';
  }
}
