rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px

$colors = {
  postLink: lookup('$global-color-headline') || #1e1e1e,
  postMeta: lookup('$global-color-meta') || #999,
  postAuthorLink: lookup('$global-color-brand' || #333),
  postTagLink: lookup('$global-color-text') || #1e1e1e,
  postTagBackground: lookup('$global-color-tags') || #ccc,
  postCategoryLink: lookup('$global-color-text') || #1e1e1e,
  readMoreLink: lookup('$global-color-text') || #1e1e1e
}
