<div is="flynt-list-posts componentSpacing" class="flyntComponent">
  <div class="listPosts centerMaxWidthContainer">
    {% if posts %}
      <ul class="listPosts-list">
        {% for post in posts %}
          {% include 'Partials/_postteaser.twig' %}
        {% endfor %}
      </ul>
      {% include 'Partials/_paginationbuttons.twig' %}
    {% else %}
      <p class="listPosts-noPosts">{{ noPostsFoundText }}</p>
    {% endif %}
  </div>
</div>
