<div is="flynt-list-posts" class="flyntComponent">
  <div class="listPosts">
    {% if posts %}
      <ul class="listPosts-list">
        {% for post in posts %}
          {% include 'Partials/PostTeaser/index.twig' %}
        {% endfor %}
      </ul>
      {% include 'Partials/PaginationButtons/index.twig' %}
    {% else %}
      <p class="listPosts-noPosts">{{ noPostsFoundText }}</p>
    {% endif %}
  </div>
</div>
