<section is="flynt-list-posts" class="flyntComponent">
  {% if posts %}
    <div class="postList">
      <div class="postList-posts">
        {% for post in posts %}
          {% include 'partials/SinglePost/index.twig' %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="noPosts">
      <div class="noPosts-message">
        {{ noPostsFoundLabel }}
      </div>
    </div>
  {% endif %}
</section>
