@import '_config.styl'

.flyntComponent[is="flynt-list-posts"]
  *,
  *:before,
  *:after
    box-sizing: border-box

  .postList
    center($containerMaxWidth, $gutterWidth)

  @import 'partials/PostAuthor/*.styl'
  @import 'partials/PostCategories/*.styl'
  @import 'partials/PostContent/*.styl'
  @import 'partials/PostDate/*.styl'
  @import 'partials/PostFooter/*.styl'
  @import 'partials/PostHeader/*.styl'
  @import 'partials/PostTags/*.styl'
  @import 'partials/PostThumbnail/*.styl'
  @import 'partials/SinglePost/*.styl'
