$rupture.scale = lookup('$globalRuptureScale') || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 15px
$gutterWidth = lookup('$globalGutterWidth') || 15px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px

.flyntComponent[is="flynt-list-posts"]
  *,
  *:before,
  *:after
    box-sizing: border-box

  .listPosts
    center($containerMaxWidth, $containerPadding)

    &-list
      list-style-type: none
      margin: 0
      padding: 0

    @import 'partials/PostTeaser/_style'
    @import 'partials/PaginationButtons/_style'
