[is=flynt-list-posts] {
  margin: $component-spacing 0;

  .listPosts {
    @include centerMaxWidthContainer;

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @import 'Partials/PostTeaser/_style';
    @import 'Partials/PaginationButtons/_style';
  }
}
