$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 20px
$gutterWidth = lookup('$globalGutterWidth') || 20px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1280px

.flyntComponent[is="flynt-list-posts"]
  *,
  *:before,
  *:after
    box-sizing: border-box

  .listPosts
    center($containerMaxWidth, $containerPadding)

    &-list
      list-style-type: none
      margin: 0
      padding: 0

    @import 'Partials/PostTeaser/_style'
    @import 'Partials/PaginationButtons/_style'
