<button class="hamburger" type="button" data-toggle-menu aria-expanded="false" aria-controls="navigationBurger-menu">
  <span class="visuallyHidden">{{ __("Toggle Menu", "flynt") }}</span>
  <span class="hamburger-barPrimary"></span>
  <span class="hamburger-barSecondary"></span>
</button>
