<button class="hamburger" type="button" data-toggle-menu aria-label="{{ aria.toggleMenuButton|e }}">
  <span class="hamburger-barPrimary"></span>
  <span class="hamburger-barSecondary"></span>
</button>
