<button class="hamburger" type="button" data-toggle-menu aria-expanded="false" aria-controls="navigationBurger-menu">
  <span class="hamburger-lines">
    <span class="visuallyHidden">{{ __("Toggle Menu", "flynt") }}</span>
    <span class="hamburger-lines--primary"></span>
    <span class="hamburger-lines--secondary"></span>
  </span>
</button>
