.hamburger {
  --line-width: 29px;
  --line-border-width: 2px;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  margin-inline-end: -10px;
  position: relative;
  width: 48px;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &-lines {
    height: 18px;
    position: relative;
    width: var(--line-width);

    &::before,
    &::after {
      content: '';
    }

    &::before,
    &::after,
    &--primary,
    &--text {
      background-color: var(--color-text);
      border-radius: 6px;
      display: block;
      height: var(--line-border-width);
      inset-inline-start: 0;
      position: absolute;
      transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
      width: var(--line-width);
      will-change: opacity, transform;
    }

    &::before {
      inset-block-start: 0;
    }

    &--primary,
    &--text {
      inset-block-start: 9px;
      transition-delay: 0s;
    }

    &::after {
      inset-block-start: 18px;
    }
  }
}

&[data-status='menuIsOpen'] {
  .hamburger-lines {
    &::before,
    &::after {
      opacity: 0;
      transition-delay: 0s;
    }

    &::before {
      transform: translateY(9px);
    }

    &::after {
      transform: translateY(-9px);
    }

    &--primary {
      transform: rotate(45deg);
      transition-delay: 0.2s;
    }

    &--text {
      transform: rotate(-45deg);
      transition-delay: 0.2s;
    }

    &::before,
    &::after {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}
