.hamburger {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  margin-right: -9px;
  position: relative;
  width: 48px;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &-lines {
    height: 21px;
    position: relative;
    width: 30px;

    &::before,
    &::after {
      content: '';
    }

    &::before,
    &::after,
    &--primary,
    &--secondary {
      background-color: var(--color-text);
      border-radius: 6px;
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s,
        background-color 0.2s ease-in-out 0s;
      width: 30px;
    }

    &::before {
      top: 0;
    }

    &--primary,
    &--secondary {
      top: 9px;
      transition-delay: 0s;
    }

    &::after {
      top: 18px;
    }
  }
}

&.flyntComponent-menuIsOpen .hamburger-lines {
  &::before,
  &::after {
    opacity: 0;
    transition-delay: 0s;
  }

  &::before {
    transform: translateY(9px);
  }

  &::after {
    transform: translateY(-9px);
  }

  &--primary {
    transform: rotate(45deg);
    transition-delay: 0.2s;
  }

  &--secondary {
    transform: rotate(-45deg);
    transition-delay: 0.2s;
  }

  &::before,
  &::after {
    opacity: 0;
    transition-delay: 0s;
  }
}
