.menu {
  @include reset-list;
  backface-visibility: hidden;
  background-color: var(--color-background);
  height: calc(100% - var(--navigation-height));
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  position: fixed;
  top: var(--navigation-height);
  transform: translateX(100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 100%;
  z-index: 98;

  .admin-bar & {
    top: calc(var(--navigation-height) + 46px);

    @media (min-width: 783px) {
      top: calc(var(--navigation-height) + 32px);
    }
  }

  &-item {
    @include reset-list-item;
  }

  &-item--current {
    .menu-link {
      color: var(--color-accent);
    }
  }

  &-link {
    @include reset-link;
    color: var(--color-text);
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px var(--container-padding-mobile);
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-out;

    &:focus {
      color: var(--color-accent);
    }

    @media (min-width: $breakpoint-tablet) {
      padding-left: var(--container-padding-tablet);
      padding-right: var(--container-padding-tablet);
    }
  }
}

&.flyntComponent-menuIsOpen .menu {
  transform: translateX(0);
  visibility: visible;
}
