.menu {
  @include reset-list;
  backface-visibility: hidden;
  background-color: var(--color-background);
  height: calc(100% - var(--navigation-height));
  inset-block-start: var(--navigation-height);
  inset-inline-start: 0;
  margin: 0;
  overflow-y: auto;
  padding: var(--component-spacing) var(--container-padding);
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 100%;
  will-change: transform;
  z-index: 98;

  .admin-bar & {
    height: calc(100% - var(--navigation-height) - var(--wp-admin--admin-bar--height));
    inset-block-start: calc(var(--navigation-height) + var(--wp-admin--admin-bar--height));
  }

  .link {
    @include reset-link;
    color: var(--color-text);
    display: block;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 0.9rem 1.25rem;
    text-decoration: none;
  }

  .current-menu-item {
    .link {
      color: var(--color-accent);
      text-decoration: underline;
    }
  }
}

&[data-status='menuIsOpen'] {
  .menu {
    transform: translateX(0);
    visibility: visible;
  }
}
