[is='flynt-grid-list-steps'] {
  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing 0;

  .container {
    @include center-max-width-container;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  .stepsList {
    counter-reset: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: -20px -10px 0;
    padding: 0;
  }

  .step {
    max-width: 400px;
    padding: 20px 10px 0;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      width: 33.33%;
    }
  }

  .content {
    @include reset-content-margins;

    background-color: $color-background;
    padding: 20px 15px 20px 60px;
    position: relative;

    &::before {
      border: 2px solid $color-accent;
      border-radius: 50%;
      content: counter(section);
      counter-increment: section;
      display: block;
      font-weight: bold;
      height: 35px;
      left: 14px;
      line-height: 32px;
      position: absolute;
      text-align: center;
      top: 20px;
      width: 35px;
    }
  }
}
