[is='flynt-grid-list-steps'] {
  $step-list-spacing: 20px;
  $step-list-max-width: 380px;

  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  .stepsList {
    @include grid(
      $columns: 1,
      $gutter-horizontal: $step-list-spacing,
      $gutter-vertical: $step-list-spacing
    );
    @include reset-list;

    align-items: center;
    counter-reset: section;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: $step-list-max-width;

    @media (min-width: $breakpoint-tablet) {
      @include grid(2, center, $step-list-spacing, $step-list-spacing);

      align-items: stretch;
      flex-direction: row;
      max-width: $step-list-max-width * 2 + $step-list-spacing;

    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3, center, $step-list-spacing, 0);

      max-width: $step-list-max-width * 3 + $step-list-spacing * 2;
    }
  }

  .step {
    display: flex;
  }

  .content {
    @include reset-content-margins;

    background-color: $color-background;
    padding: 20px 15px 20px 60px;
    position: relative;

    &::before {
      border: 2px solid $color-accent;
      border-radius: 50%;
      content: counter(section);
      counter-increment: section;
      display: block;
      font-weight: 700;
      height: 35px;
      left: 14px;
      line-height: 32px;
      position: absolute;
      text-align: center;
      top: 20px;
      width: 35px;
    }
  }
}
