[is='flynt-grid-list-steps'] {
  $step-gutter: 20px;

  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  .stepsList {
    align-items: center;
    counter-reset: section;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      @include grid(2, center, $step-gutter, $step-gutter / 2);

      align-items: stretch;
      flex-direction: row;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3, center, $step-gutter, $step-gutter / 2);
    }
  }

  .step {
    display: flex;
    max-width: 380px;
    padding-top: 10px;
  }

  .content {
    @include reset-content-margins;

    background-color: $color-background;
    padding: 20px 15px 20px 60px;
    position: relative;

    &::before {
      border: 2px solid $color-accent;
      border-radius: 50%;
      content: counter(section);
      counter-increment: section;
      display: block;
      font-weight: 700;
      height: 35px;
      left: 14px;
      line-height: 32px;
      position: absolute;
      text-align: center;
      top: 20px;
      width: 35px;
    }
  }
}
