$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$contentMaxWidth      = lookup('$globalContentMaxWidth')    || 600px
$colorAccent = lookup('$globalColorAccent') || #F98928
$colorBackground = lookup('$globalColorBackground') || #ffffff

.flyntComponent[is="flynt-grid-list-steps"]
  background-color: rgba(0, 0, 0, .03)
  padding: 60px 0

  .container
    margin: 0 auto
    padding: 0 $containerPadding
    max-width: $containerMaxWidth

  .preContent
    margin: 0 auto 50px
    max-width: $contentMaxWidth
    text-align: center

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0

  .stepsList
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    list-style-type: none
    list-style: none
    margin: -20px -10px 0
    padding: 0
    counter-reset: section

  .step
    max-width: 360px
    padding: 20px 10px 0
    width: 25%

    +below('l')
      width: 50%

    +below('s')
      width: 100%

  .content
    background-color: $colorBackground
    padding: 10px 15px 10px 60px
    position: relative

    &::before
      counter-increment: section
      content: counter(section)
      border-radius: 50%
      border: 2px solid $colorAccent
      display: block
      font-weight: bold
      height: 35px
      left: 14px
      line-height: 32px
      position: absolute
      text-align: center
      top: 10px
      width: 35px

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0
