.post {
  &-hasMedia {
    @media (min-width: $breakpoint-mobile-horizontal) {
      display: flex;
    }
  }

  .media {
    display: none;

    @media (min-width: $breakpoint-mobile-horizontal) {
      display: flex;
      font-size: 1.125rem;
      flex-basis: 128px;
      flex-shrink: 0;
      order: 2;
      padding-top: 2.625rem;
    }

    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      flex-basis: 160px;
      padding-top: 0;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      display: block;
      flex-basis: 220px;
      order: 1;
    }

    @media (min-width: $breakpoint-desktop) {
      flex-basis: 280px;
    }

    &-link {
      display: block;
    }
  }

  .content {
    @media (min-width: $breakpoint-tablet) {
      order: 1;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      order: 2;
    }

    @at-root [is='flynt-list-posts'] .media + .content {
      @media (min-width: $breakpoint-mobile-horizontal) {
        padding: 0 2.5rem 0 0;
      }

      @media (min-width: $breakpoint-tablet) {
        padding-right: 4;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-left: 8rem;
        padding-right: 0;
      }

      @media (min-width: $breakpoint-desktop) {
        padding-left: 10rem;
      }
    }
  }

  .meta {
    font-size: 0.75rem;
    line-height: 1.425;

    @media (min-width: $breakpoint-mobile-horizontal) {
      font-size: 0.8125rem;
      line-height: 1;
    }
  }

  .headline {
    font-size: 1rem;
    margin: 1.5rem 0 0.5rem;
    padding: 0;

    @media (min-width: $breakpoint-mobile-horizontal) {
      font-size: 1.125rem;
    }

    @media (min-width: $breakpoint-tablet) {
      margin-top: 1.25rem;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.25rem;
      margin-bottom: 0.625rem;
      margin-top: 1.625rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .preview {
    display: inline;
    font-size: 0.9375rem;

    @media (min-width: $breakpoint-desktop) {
      font-size: 1rem;
    }
  }
}
