<header class="postList-header">
  <h2 class="postList-title">
    <a class="postList-link" href="{{ post.permalink }}" title="{{ readMoreLabel }}: {{ post.title }}">{{ post.title }}</a>
  </h2>
  <p class="postList-meta">
    {% include 'partials/PostAuthor/index.twig' %}
    {% include 'partials/PostDate/index.twig' %}
  </p>
</header>
