@import '../../config.styl'

&-header
  margin-bottom: 2em

&-title
  font-size: 28px
  font-weight: 600
  margin: 0 0 .2em

&-link
  color: $colors.postLink
  text-decoration: none

  &:hover
    color: darken($colors.postLink, 15)
    text-decoration: none

&-meta
  color: $colors.postMeta
  margin: 0
