.image {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;

  &-tag {
    display: block;
    height: auto;
    width: 100%;
  }

  svg {
    display: block;
    height: auto;
    width: 100%;
  }
}
