[is='flynt-block-image-text-parallax'] {
  overflow: hidden;
  padding-bottom: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-mobile 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  figure {
    margin-bottom: 0;
  }

  .box {
    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      display: flex;
    }

    &-inner {
      position: relative;

      &--content {
        @media (min-width: $breakpoint-tablet) {
          padding: $container-padding-tablet;
          width: 50%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: ($container-padding-desktop * 2) $container-padding-desktop;
          width: 40%;
        }
      }

      &::after {
        background-color: inherit;
        bottom: -36vw;
        content: '';
        display: block;
        left: -$container-padding-mobile;
        position: absolute;
        right: -$container-padding-mobile;
        top: 0;
        z-index: -1;

        @media (min-width: $breakpoint-tablet) {
          bottom: auto;
          height: 100%;
          left: 100%;
          top: 0;
          width: 56%;
        }
      }

      &--image {
        position: relative;
        z-index: 10;

        @media (min-width: $breakpoint-tablet) {
          width: 50%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          width: 60%;
        }
      }
    }

    &--imageLeft {
      flex-direction: row-reverse;

      .box-inner--content {
        &::after {
          @media (min-width: $breakpoint-tablet) {
            left: auto;
            right: 100%;
          }
        }
      }
    }

    &-copy {
      @include reset-content-margins;

      padding: $container-padding-tablet 0;

      @media (min-width: $breakpoint-tablet) {
        max-width: 440px;
        padding: 0;
      }
    }
  }
}
