[is='flynt-block-image-text-parallax'] {
  overflow: hidden;
  padding-bottom: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  figure {
    margin-bottom: 0;
  }

  .box {
    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: center;
      display: flex;
    }

    &-inner {
      position: relative;

      &--content {
        @media (min-width: $breakpoint-tablet) {
          margin-right: auto;
          max-width: $content-max-width;
          position: relative;
          z-index: 20;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          max-width: 100%;
          padding: ($container-padding-tablet * 2) $container-padding-tablet;
          width: 50%;
          z-index: 0;
        }

        @media (min-width: $breakpoint-desktop) {
          padding: ($container-padding-desktop * 2) $container-padding-desktop;
          width: 40%;
        }

        &::after {
          background-color: inherit;
          bottom: calc((50vw - #{$container-padding-mobile}) / (-1.5)); // image aspect ratio 3:2 (3/2 = 1.5);
          content: '';
          display: block;
          left: -$container-padding-mobile;
          position: absolute;
          right: -$container-padding-mobile;
          top: 0;

          @media (min-width: ($content-max-width + $container-padding-mobile * 2)) {
            bottom: ($content-max-width * 0.5) / (-1.5);
          }

          @media (min-width: $breakpoint-tablet) {
            display: none;
          }

          @media (min-width: $breakpoint-tablet-horizontal) {
            bottom: auto;
            display: block;
            height: 100%;
            left: 100%;
            top: 0;
            width: 56%;
          }
        }
      }

      &--image {
        margin-left: auto;
        margin-right: auto;
        max-width: $content-max-width;
        position: relative;
        z-index: 10;

        @media (min-width: $breakpoint-tablet) {
          bottom: 40px;
          margin-right: 0;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          bottom: auto;
          max-width: 100%;
          width: 50%;
        }

        @media (min-width: $breakpoint-desktop) {
          width: 60%;
        }
      }
    }

    &--imageLeft {

      @media (min-width: $breakpoint-tablet-horizontal) {
        flex-direction: row-reverse;
      }

      .box-inner--content {
        &::after {
          @media (min-width: $breakpoint-tablet-horizontal) {
            left: auto;
            right: 100%;
          }
        }
      }
    }

    &-copy {
      @include reset-content-margins;

      margin-left: auto;
      margin-right: auto;
      max-width: $content-max-width;
      padding: $container-padding-tablet 0 $container-padding-tablet * 0.5 0;
      position: relative;
      z-index: 10;

      @media (min-width: $breakpoint-tablet) {
        padding: $container-padding-tablet;

      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        max-width: 440px;
        padding: 0;
      }
    }
  }
}
