.flyntComponentScreenshot {
  align-items: center;
  display: flex;
  gap: 8px;

  &-imageWrapper {
    inset-block-end: 0;
    inset-inline-end: 100%;
    position: absolute;
  }

  &-previewImageLarge {
    background: #fff;
    block-size: auto;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    display: block;
    inline-size: 33vw;
    inset-block-end: 0;
    inset-inline-end: 12px;
    max-inline-size: 400px;
    object-fit: cover;
    position: absolute;
  }

  &-previewImageSmall {
    block-size: 38px;
    border: 1px solid #ccd0d4;
    display: block;
    inline-size: auto;
    max-block-size: 40px;
  }

  &-label {
    white-space: nowrap
  }
}

a[data-layout]:has(.flyntComponentScreenshot-imageWrapper) {
  overflow: visible;
}

[data-renamed="1"] .acf-fc-layout-original-title:has(.flyntComponentScreenshot) {
    align-items: center;
    display: inline-flex;
}
