.flyntComponentScreenshot {
  align-items: center;
  display: flex;
  height: 40px;
  margin-left: 5px;

  &-imageWrapper {
    bottom: 0;
    position: absolute;
    right: 100%;
  }

  &-previewImageLarge {
    background: #fff;
    border: 3px solid #2f353e;
    border-radius: 3px;
    bottom: 0;
    display: block;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    width: 33vw;
  }

  &-previewImageSmall {
    border: 1px solid #ccd0d4;
    display: block;
    height: 40px;
    max-height: 40px;
    width: auto;

  }

  &-label {
    left: 100%;
    padding-left: 10px;
    white-space: nowrap;
  }
}
