.flyntComponentSearch {
  display: flex;
  flex-direction: column;
  margin-block: 5px;

  &-field[type='text']{
    border-radius: 4px;

    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    }
  }

  &-noResults {
    color: #101828;
    padding-block: 5px;
    padding-inline: 10px;
  }
}
