.menu {
  @include reset-list;
  align-items: center;
  display: flex;
  margin-inline-end: -1rem;
  padding-inline-start: 2rem;

  .link {
    @include reset-link;
    color: var(--color-text);
    display: inline-block;
    font-size: 1.063rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
  }

  .current-menu-item {
    .link {
      color: var(--color-accent);
      text-decoration: underline;
    }
  }
}
