.pagination {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    &--center {
        justify-content: center
    }

    .button {
      white-space: nowrap;
    }

    .arrow {
      color: $color-background;
      width: 16px;
      height: 18px;
    }

    &-nextLink {

       .arrow{
         margin-left: 5px;
       }

    }

    &-prevLink {

      .arrow{
        margin-right: 5px;
      }

   }
}
