
[is='flynt-grid-content-lists'] {
  $link-list-spacing: 20px;
  $link-list-max-width: 380px;

  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  ul {
    @include reset-list;
  }

  .gridLinkList {
    @include grid(
      $columns: 1,
      $gutter-horizontal: 0,
      $gutter-vertical: $link-list-spacing
    );

    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: $link-list-max-width;

    @media (min-width: $breakpoint-tablet) {
      @include grid(2, center, $link-list-spacing, $link-list-spacing);

      flex-direction: row;
      max-width: $link-list-max-width * 2 + $link-list-spacing;
    }

    @media (min-width: $breakpoint-desktop) {
      @include grid(4, center, $link-list-spacing, $link-list-spacing);

      flex-direction: row;
      max-width: $link-list-max-width * 4 + $link-list-spacing * 3;
    }
  }

  .content {
    @include reset-content-margins;

    background-color: $color-background;
    height: 100%;
    padding: 25px 30px;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      padding: 5px 0;

      &:last-child {
        border-bottom: 0;
      }

      > a {
        color: $color-text;
        position: relative;
        text-decoration: none;
        transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);

        &::after {
          content: '\00a0➟';
        }

        &:hover {
          color: $color-accent;
        }
      }
    }
  }
}
