
[is='flynt-grid-content-lists'] {
  background-color: rgba(0, 0, 0, 0.03);
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  ul {
    @include reset-list;
  }

  .gridLinkList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px -10px 0;

    &-item {
      max-width: 400px;
      padding: 20px 10px 0;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        width: 50%;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        width: 25%;
      }
    }
  }

  .content {
    @include reset-content-margins;

    background-color: $color-background;
    height: 100%;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      padding: 5px 0;

      &:last-child {
        border-bottom: 0;
      }

      > a {
        color: $color-text;
        position: relative;
        text-decoration: none;
        transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);

        &::after {
          content: '\00a0➟';
        }

        &:hover {
          color: $color-accent;
        }
      }
    }
  }
}
