<div class="flyntComponent" is="flynt-grid-content-lists">
  <div class="container">
    <ul class="gridLinkList">
      {% for block in blocks %}
        <li class="gridLinkList-item">
          <div class="content">
          {{ block.contentHtml }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
