<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-content-lists">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <ul class="gridLinkList">
      {% for singleBlock in blocks %}
        <li class="gridLinkList-item">
          <div class="content boxPadding boxShadow">
          {{ singleBlock.contentHtml|e('wp_kses_post') }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
