[is='flynt-block-wysiwyg-two-col'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .preContent {
    @include reset-content-margins;

    margin-bottom: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      margin-bottom: 3rem;
    }
  }

  .content {
    max-width: 800px;
    text-align: left;

    @media (min-width: $content-max-width + 2 * $container-padding-mobile) {
      column-count: 2;
      column-gap: 2rem;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
