[is='flynt-block-wysiwyg-two-col'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .content {
    @include reset-content-margins;

    max-width: 800px;
    text-align: left;

    @media (min-width: $content-max-width + 2 * $container-padding-mobile) {
      column-count: 2;
      column-gap: 2rem;
    }
  }
}
