$maxWidth = lookup('$global-layout-maxWidth') || 1140px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
// Note: When passing multiple values capsule them with paranthesis
rupture.scale = lookup('$global-layout-scale') || (0 400px 800px 1200px)

$containerMaxWidth = 1440px // Width for the container if not using a container
$useContainer = true // Use a container or a fluid wrapper

$useFixedHeight = true // Use a fixed height
$fixedHeightDesktop = 500px // Fixed Height for Desktop Resolutions
$fixedHeightMobile = 300px // Fixed Height for Mobile Resolutions

$slideTitleOverlay = false // Should the title overlay the media?
$slideTitleOffset = 15px // Offset of the title to the edges of the slider
$slideTitleVerticalPosition = 'top' // Defines if the title should be on top/bottom of slider 'top' | 'bottom'

$slideDotsOverlay = true // Should the navigation dots overlay the media?
$slideDotsOffset = 15px // Offset of the dots to the edges of the slider
$slideDotsVerticalPosition = 'top' // Defines if the dots should be on top/bottom of slider 'top' | 'bottom'
$slideDotsSpacing = 2px // Spacing between dot
$slideDotsSize = 12px // Size of a dot
$slideDotColor = #fff // Color of the dot

$arrowSize = 2em // Size of the arrows
$arrowColor = #fff // Color of the arrows

$playTriangleColor = #fff // Color of the play triangle
$playButtonColor = rgba(0, 0, 0, .5) // Color of the play bubble

@font-face
  font-family: 'slick'
  font-weight: normal
  font-style: normal
  src: url('../../vendor/slick/slick.eot')
  src: url('../../vendor/slick/slick.eot?#iefix') format('embedded-opentype'), url('../../vendor/slick/slick.woff') format('woff'), url('../../vendor/slick/slick.ttf') format('truetype'), url('../../vendor/slick/slick.svg#slick') format('svg')

[is='wps-media-slider']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .mediaSlider
    position: relative

    if $useContainer
      center($maxWidth, $gutterWidth)
    else
      center($containerMaxWidth)
      padding-left: 0
      padding-right: 0

    @import "./sliderStyling"

    &-slides
      list-style: none
      margin: 0
      padding: 0

    &-slide
      outline: 0
      position: relative

    &-slideTitleWrapper
      text-align: center
      width: 100%

      if $slideTitleOverlay
        left: 0
        position: absolute
        z-index: 2

        if $slideTitleVerticalPosition is 'top'
          top: $slideTitleOffset
        else
          bottom: $slideTitleOffset

    &-slideTitle
      background: #fff
      display: inline-block
      padding: 10px

    &-imageContainer
      display: block
      width: 100%

      if $useFixedHeight
        height: $fixedHeightDesktop

        +below(2)
          height: $fixedHeightMobile

    &-imageElement
      display: block

      if $useFixedHeight
        height: 100%
        object-fit: cover
        width: 100%
      else
        height: auto
        max-width: 100%

    &-oembedVideo
      height: 0
      padding-bottom: percentage(9 / 16)

    &-oembedVideo iframe
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%

    &-oembedPosterImage
      cursor: pointer
      height: 100%
      left: 0
      overflow: hidden
      position: absolute
      top: 0
      width: 100%
      z-index: 2

      $pseudoElements = {
        left: 50%
        position: absolute
        top: 50%
        transition: transform .2s ease
      }

      &::before
        {$pseudoElements}
        background-color: $playButtonColor
        border-radius: 50px
        content: ''
        height: 100px
        margin: -50px 0 0 -50px
        width: 100px

        +below('s')
          height: 60px
          margin: -30px 0 0 -30px
          width: 60px

      &::after
        {$pseudoElements}
        border-bottom: 20px solid transparent
        border-left: 40px solid $playTriangleColor
        border-top: 20px solid transparent
        content: ''
        height: 0
        margin: -20px 0 0 -15px
        width: 0

        +below('s')
          border-bottom: 12px solid transparent
          border-left: 20px solid $playTriangleColor
          border-top: 12px solid transparent
          margin: -10px 0 0 -8px

      &:before,
      &:after
        z-index: 100

      &:hover::before,
      &:hover::after
        transform: scale(1.1)

    &-oembedPosterImage-isHidden
      display: none

    &-oembedPosterImage .mediaSlider-imageContainer
      height: 100%
      position: relative

    &-oembedPosterImage .mediaSlider-imageElement
      height: auto

    &-oembedVideoContainer
      position: relative
