.searchList {
  background-color: $color-background;
  border-radius: 4px;
  list-style: none;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;

  &-item {
    border-bottom: 1px solid #ececec;
    color: $color-contrast;
    position: relative;

    &:last-child {
      border: 0;
    }
  }

  .previewImage {
    margin-bottom: 10px;

    @media (min-width: 1100px) {
      height: 150px;
      margin-right: 20px;
      max-width: 200px;
      position: absolute;
      right: 100%;
      width: 200px;

      img {
        font-family: 'object-fit: cover; object-position: center center;';
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }
}

.post {
  @include reset-content-margins;

  &-title {
    @include reset-content-margins('top');

    text-decoration: none;
  }

  &-excerpt {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &-footer {
    display: inline-block;
    padding-top: 1em;
  }
}
