.searchList {
  background-color: $color-background;
  border-radius: 4px;
  box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.06);
  list-style: none;
  margin-top: 1.25rem;
  overflow: hidden;
  padding: 0;

  &-item {
    border-bottom: 1px solid #ececec;
    color: $color-contrast;
    padding: 1.25rem;
    position: relative;

    &:last-child {
      border: 0;
    }
  }

  .postLink {
    text-decoration: none;

    &:hover {
      .postTitle {
        color: $color-accent;
      }
    }

    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .previewImage {
    margin-bottom: 10px;

    @media (min-width: 1100px) {
      height: 150px;
      margin-right: 20px;
      max-width: 200px;
      position: absolute;
      right: 100%;
      width: 200px;

      img {
        font-family: 'object-fit: cover; object-position: center center;';
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }

}

.post {
  &-title {
    color: $color-headline;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &-excerpt {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &-excerpt,
  &-footer {
    font-size: 0.875rem;
  }

  &-footer {
    display: block;
    margin-top: 0.71em;
  }
}
