{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main centerMaxWidthContainer">
      <div class="centerContentMaxWidth componentSpacing">
        {{ post.content }}
      </div>
    </section>
    <footer class="post-meta">
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer>
    <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories(), 'options': {'theme': 'light', 'maxColumns': 3}}) }}
    </section>
  </article>
{% endblock %}
