{% extends 'templates/_document.twig' %}

{% block content %}
  <article>
    <header>
      {{ renderComponent('BlockPostHeader', {post: post}) }}
    </header>
    <section class="wp-block-post-content has-global-padding is-layout-constrained">
        {{ post.content }}
    </section>
    <footer>
      {{ renderComponent('BlockPostFooter', {post: post}) }}
    </footer>
    <section>
      {{ renderComponent('GridPostsLatest', {'taxonomies': post.categories(), 'options': {'theme': 'light', 'maxColumns': 3}}) }}
    </section>
  </article>
{% endblock %}
