[is='flynt-hero-image-text'] {
  position: relative;

  .image {
    background: rgba(0, 0, 0, 0.8);
    background: $color-contrast;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .content {
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0 $container-padding;
    position: absolute;
    top: 0;
    width: 100%;

    &-inner {
      @include reset-content-margins;

      color: $color-background;
      max-width: $content-max-width;
      text-align: center;

      #{$heading-selectors} {
        color: inherit;
      }
    }
  }

  @media (max-width: $content-max-width - 1px) {
    br {
      content: '\00a0';
    }
  }
}
