<div class="flyntComponent" is="flynt-hero-image-text">
  {% if heroFullscreenOption %}
    {% include 'Partials/Fullwidth/index.twig' %}
  {% else %}
    {% include 'Partials/Boxed/index.twig' %}
  {% endif %}
</div>
