[is='flynt-block-cookie-notice'] {
  background-color: $color-background;
  border-top: 1px solid $color-brand;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  .container {
    @include center;

    padding-bottom: $container-padding;
    padding-top: $container-padding;

    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    @include reset-content-margins;

    font-size: 0.8rem;
    padding-bottom: $container-padding;

    @media (min-width: $breakpoint-tablet) {
      padding-bottom: 0;
    }
  }

  .button--close {
    margin-left: 0;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      margin-left: 30px;
    }
  }

  &.cookieNotice--isVisible {
    display: block;
  }
}
