[is='flynt-block-cookie-notice'] {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  .container {
    padding-bottom: $container-padding-mobile;
    padding-top: $container-padding-mobile;
  }

  .content {
    @include reset-content-margins;
    font-size: 0.8rem;
    padding-bottom: $container-padding-mobile;
  }

  &.cookieNotice--isVisible {
    display: block;
  }

  &.layoutBottom {
    @media (min-width: $breakpoint-tablet) {
      .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 30px;
      }

      .content {
        padding-bottom: 0;
        padding-right: 30px;
      }
    }
  }

  &.layoutFloating {
    @media (min-width: $breakpoint-mobile-horizontal) {
      bottom: $container-padding-mobile;
      left: $container-padding-mobile;
      max-width: 380px;
      width: calc(100% - (#{$container-padding-mobile} * 2));

      .container {
        padding: 30px;
      }
    }
  }
}
