<div is="flynt-block-cookie-notice" class="flyntComponent">
  <div class="container">
    <div class="content">
      {{ contentHtml }}
    </div>
    <button type="button" class="btn btn--primary btnClose" aria-label="{{ closeButtonLabel }}">{{ closeButtonLabel }}</button>
  </div>
</div>
