<div is="flynt-block-cookie-notice" class="flyntComponent">
  <div class="container">
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <button type="button" class="button button--primary button--close" aria-label="Close" data-close>{{ closeButtonLabel|e }}</button>
  </div>
</div>
