$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$rupture.anti-overlap = lookup('$globalRuptureOverlap')     || -1px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$colorWhite           = lookup('$globalColorBackground')    || #FFFFFF
$colorBrand           = lookup('$globalColorBrand')         || #91C6C4


.flyntComponent[is='flynt-block-cookie-notice']
  background-color: $colorWhite
  border-top: 1px solid $colorBrand
  bottom: 0
  display: none
  left: 0
  position: fixed
  right: 0
  z-index: 999

  .container
    align-items: center
    display: flex
    justify-content: space-between
    margin: 0 auto
    max-width: $containerMaxWidth
    padding: 1rem $containerPadding

    +below('s')
      display: block

    .content
      font-size: .8rem
      padding: 1rem 0

      > :first-child
        margin-top: 0
        padding-top: 0

      > :last-child
        margin-bottom: 0
        padding-bottom: 0

    .btnClose
      margin-bottom: 0
      margin-left: 30px

      +below('s')
        margin-bottom: 1rem
        margin-left: 0

  &.cookieNotice--isVisible
    display: block
