$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$rupture.anti-overlap = lookup('$globalRuptureOverlap')     || -1px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$colorWhite           = lookup('$globalColorBackground')    || #FFFFFF
$colorBrand           = lookup('$globalColorBrand')         || #91C6C4


.flyntComponent[is='flynt-block-cookie-notice']
  background-color: $colorWhite
  border-top: 1px solid $colorBrand
  bottom: 0
  display: none
  left: 0
  position: fixed
  right: 0
  z-index: 999

  .container
    align-items: center
    display: flex
    margin: 0 auto
    max-width: $containerMaxWidth
    padding: $containerPadding

    +below('s')
      display: block

    .content
      font-size: .8rem
      padding: 1rem 0

      +below('s')
        float: left

      > :first-child
        margin-top: 0
        padding-top: 0

      > :last-child
        margin-bottom: 0
        padding-bottom: 0

    .btnClose
      background-color: transparent
      background-image: url('../../Components/BlockCookieNotice/Assets/close.svg')
      background-position: center center
      background-repeat: no-repeat
      background-size: contain
      border: 0
      cursor: pointer
      height: 20px
      margin-left: 30px
      outline: 0
      width: 20px

      span
        visibility: hidden

      &.desktop
        +below('s')
          display: none

      &.mobile
        +above('s')
          display: none

        +below('s')
          display: block
          float: right
          margin-left: 10px
