$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$rupture.anti-overlap = lookup('$globalRuptureOverlap')     || -1px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$colorWhite           = lookup('$globalColorBackground')    || #FFFFFF

.flyntComponent[is='flynt-block-cookie-notice']
  background-color: $colorWhite
  border-top: 1px solid #000
  bottom: 0
  display: none
  font-size: 14px
  left: 0
  padding: 18px 0
  position: fixed
  right: 0
  z-index: 99

  .container
    display: flex
    justify-content: space-between
    margin: 0 auto
    max-width: $containerMaxWidth
    padding: $containerPadding

  p:last-of-type
    margin-bottom: 0

  .btn-close
    appearance: none
    background-color: transparent
    background-image: url('../../Components/BlockCookieNotice/Assets/close.svg')
    background-position: center center
    background-repeat: no-repeat
    background-size: 46px auto
    border: 0
    cursor: pointer
    display: block
    height: 100%
    opacity: 1
    padding: 0
    position: absolute
    right: 36px
    top: 50%
    transform: translateY(-50%)
    width: 12px
    height: 12px

    &:focus
      outline: 0

    +below('m')
      height: 12px
      right: 20px
      top: 30px
