[is='flynt-list-social'] {
  background-color: $color-brand;
  color: #fff;
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .content {
    @include reset-content-margins;

    margin: 10px auto;
    max-width: $content-max-width;
    text-align: center;

    #{$heading-selectors} {
      color: inherit;
    }
  }

  .socialList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &-link {
      cursor: pointer;
      display: block;
      height: 70px;
      padding: 15px;

      svg {
        display: block;
        height: 100%;
        width: auto;

        path {
          transition: fill 0.2s cubic-bezier(0.175, 0.885, 0.32, 0.275);
        }
      }

      &:hover {
        svg {
          path {
            fill: #808080;
          }
        }
      }
    }
  }
}
