[is='flynt-list-social'] {
  padding: $component-spacing-mobile 0;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    padding: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .socialList {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-link {
      display: inline-block;

      svg {
        display: block;
        height: 70px;
        padding: 15px;
        width: auto;

        path {
          fill: $color-headline;
          transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 0.275);
        }
      }

      &:hover {
        svg {
          opacity: 0.7;
        }
      }
    }
  }

  &.themeDark,
  &.themeHero {
    .socialList {
      &-link {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
