<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-list-social">
  <div class="container centerMaxWidthContainer">
    <div class="centerContentMaxWidth">
      {% if contentHtml %}
        {{ contentHtml|e('wp_kses_post') }}
      {% endif %}
      {% if social %}
        <ul class="socialList">
          {% for socials in social %}
            <li>
              <a class="socialList-link" href="{{ socials.url }}" target="_blank" rel="noopener noreferrer">
                {{- socials.icon -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
