<div class="flyntComponent" is="flynt-list-social">
  <div class="container centerMaxWidthContainer">
    {% if contentHtml %}
      <div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
    {% endif %}
    <ul class="socialList">
      {% for socials in social %}
        <li class="socialList-item">
          <a class="socialList-link" href="{{ socials.url }}" target="_blank" rel="noopener noreferrer">
            {{- socials.icon -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
