[is=flynt-list-social] {
  background-color: $color-brand;
  padding: $component-spacing 0;

  .container {
    @extend %centerMaxWidthContainer;
  }

  .content {
    @extend %resetContentMargins;

    color: #fff;
    margin: 10px auto;
    max-width: $content-max-width;
    text-align: center;

    #{$heading-selectors} {
      color: inherit;
    }
  }

  .socialList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &-link {
      cursor: pointer;
      display: block;
      height: 70px;
      padding: 15px;

      svg {
        display: block;
        height: 100%;
        width: auto;

        path {
          transition: fill 0.2s cubic-bezier(0.175, 0.885, 0.32, 0.275);
        }
      }

      &:hover {
        svg {
          path {
            fill: gray;
          }
        }
      }
    }
  }
}
