.preContent {
  text-align: center;
}

.searchForm {
  &-field {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-horizontal) {
      flex-direction: row;
    }
  }
}
