.oneInputForm {
  --form-inner-space: 6px;
  border: 2px solid var(--color-border);
  display: flex;
  padding: var(--form-inner-space);

  .input {
    border: 0;
    flex-grow: 1;
    inline-size: 100%;
    margin-block-end: 0;
    padding-block: var(--box-spacing);
    padding-inline: var(--form-inner-space) var(--box-spacing);

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding-block: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
