.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--flow-space);
  justify-content: space-between;
  margin-top: calc(var(--component-spacing) / 2);

  .button {
    margin-top: 0;

    &-next {
      margin-left: auto;

      &::after {
        border-right: 2px solid currentColor;
        border-top: 2px solid currentColor;
        content: '';
        display: inline-block;
        height: 0.5em;
        margin-bottom: 0.07em;
        margin-left: 0.5em;
        transform: rotate(45deg);
        vertical-align: baseline;
        width: 0.5em;
      }
    }

    &-previous {
      &::before {
        border-left: 2px solid currentColor;
        border-top: 2px solid currentColor;
        content: '';
        display: inline-block;
        height: 0.5em;
        margin-bottom: 0.07em;
        margin-right: 0.5em;
        transform: rotate(-45deg);
        vertical-align: baseline;
        width: 0.5em;
      }
    }
  }
}
