<div class="pagination">
  {% if pagination.prev %}
    <a href="{{ pagination.prev.link }}" class="button button-previous">{{ labels.previous }}</a>
  {% endif %}
  {% if pagination.next %}
    <a href="{{ pagination.next.link }}" class="button button-next">{{ labels.next }}</a>
  {% endif %}
</div>
