<div class="pagination">
  {% if pagination.prev %}
    <a class="pagination-nav pagination-nav--previous button button--small" href="{{ pagination.prev.link }}"><i data-feather="arrow-left" class="arrow"></i> <span>{{ labels.previousLabel }}</span></a>
  {% endif %}
  {% if pagination.next %}
    <a class="pagination-nav pagination-nav--next button button--small" href="{{ pagination.next.link }}"><span>{{ labels.nextLabel }}</span> <i data-feather="arrow-right" class="arrow"></i></a>
  {% endif %}
</div>
