.pagination {
  margin-top: 30px;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  &-nav {
    &--previous {
      float: left;
    }

    &--next {
      float: right;
    }
  }

  .button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-width: 110px;
    white-space: nowrap;
  }

  .arrow {
    color: var(--theme-color-background);
    height: 18px;
    stroke-width: 2px;
    top: 0;
    width: 18px;
  }

  &-nav--next {
    .arrow {
      margin-left: 5px;
      margin-right: -5px;
    }
  }

  &-nav--previous {
    .arrow {
      margin-left: -5px;
      margin-right: 5px;
    }
  }
}
