.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--flow-space);
  justify-content: space-between;

  .button {
    margin-block-start: 0;

    &-next {
      margin-inline-start: auto;

      &::after {
        block-size: 0.5em;
        border-block-start: 2px solid currentColor;
        border-inline-end: 2px solid currentColor;
        content: '';
        display: inline-block;
        inline-size: 0.5em;
        margin-block-end: 0.07em;
        margin-inline-start: 0.5em;
        transform: rotate(45deg);
        vertical-align: baseline;
      }
    }

    &-previous {
      &::before {
        block-size: 0.5em;
        border-block-start: 2px solid currentColor;
        border-inline-start: 2px solid currentColor;
        content: '';
        display: inline-block;
        inline-size: 0.5em;
        margin-block-end: 0.07em;
        margin-inline-end: 0.5em;
        transform: rotate(-45deg);
        vertical-align: baseline;
      }
    }
  }
}
