<div class="pagination">
  {% if pagination.prev %}
    <a class="pagination-previous button button--small" href="{{ pagination.prev.link }}">{{ labels.previousLabel }}</a>
  {% endif %}
  {% if pagination.next %}
    <a class="pagination-next button button--small" href="{{ pagination.next.link }}">{{ labels.nextLabel }}</a>
  {% endif %}
</div>
