.searchList {
  @include reset-list;
  margin-top: 4rem;

  &-item {
    margin-bottom: 1rem;
    position: relative;

    &:last-child {
      border: 0;
    }
  }
}

.post {
  @include reset-content-margins;

  a {
    @include reset-link;
  }

  &-footer {
    text-align: right;
  }
}

.noResults {
  margin-top: 2rem;
  text-align: center;
}
