.searchList {
  @include reset-list;

  margin-top: 50px;

  &-item {
    border-bottom: 1px solid var(--theme-color-border);
    position: relative;

    &:last-child {
      border: 0;
    }
  }
}

.post {
  @include reset-content-margins;

  &-footer {
    text-align: right;
  }
}

.noResults {
  margin-top: 20px;
  text-align: center;
}
