fontFace($family, $file, $weight = 'normal', $style = 'normal', $basePath = '../../Components/DocumentDefault/Fonts/')
  @font-face
    font-family: $family
    src: url($basePath + $file + '.woff2') format('woff2'), url($basePath + $file + '.woff') format('woff'), url($basePath + $file + '.ttf') format('truetype')
    font-style: unquote($style)
    font-weight: unquote($weight)
