<div is="flynt-layout-multiple-posts" class="flyntComponent">
  <section class="pageWrapper">
    <header class="mainHeader">
      {{ area('mainHeader') }}
    </header>
    <main class="mainContent" role="main">
      {% if passwordProtected %}
        {{ passwordForm }}
      {% else %}
        {{ area('pageComponents') }}
      {% endif %}
    </main>
    <footer class="mainFooter">
      {{ area('mainFooter') }}
    </footer>
  </section>
</div>
