.flyntComponent[is='flynt-layout-multiple-posts']
  &,
  .pageWrapper
    height: 100%

  .pageWrapper
    display: flex
    flex-direction: column

  .mainContent
    flex: 1 0 auto

html,
body
  height: 100%
