.flyntComponent[is='flynt-layout-multiple-posts']
  &,
  .pageWrapper
    height: 100%

  .pageWrapper
    display: flex
    flex-direction: column

  .mainContent
    flex: 1 0 auto

    > .flyntComponent:first-child .container
      margin-top: 0

    > .flyntComponent:last-child .container
      margin-bottom: 0

html,
body
  height: 100%
