[is='flynt-block-count-up'] {
  padding: $component-spacing-desktop 0;
  text-align: center;

  .container {
    @include center;

    @media (min-width: $breakpoint-tablet) {
      @include center($padding: $container-padding-tablet);
    }

    @media (min-width: $breakpoint-desktop) {
      @include center($padding: $container-padding-desktop);
    }
  }

  .preContent {
    @include reset-content-margins;

    margin: 0 auto 50px;
    max-width: $content-max-width;
    text-align: center;
  }

  .blockCountUp {
    @include grid;

    .item {
      width: 100%;
      margin-bottom: 20px;

      @media (min-width: $breakpoint-tablet) {
        @include grid-item(2, $gutter-width);
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include grid-item(4, $gutter-width);
      }
    }

  }

//     &-text {
//       font-weight: 100;
//       text-align: center;
//       width: 80%;

//       h2 {
//         color: #fff;
//         padding: 0;
//       }

//       p {
//         font-size: 14px;

//         @media (min-width: $breakpoint-tablet) {
//           padding-bottom: 40px;
//         }
//       }
//     }

//     &-items {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       width: 80%;

//       .item {
//         @include reset-content-margins;

//         align-items: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         text-align: center;

//         &-icon {
//           margin: 0 auto;
//           padding: 0 0 10px;
//           width: 40px;
//         }

//         &:nth-child(2) img{
//           width: 50px;
//         }

//         &:nth-child(4) img{
//           width: 30px;
//         }

//         &-number {
//           color: $color-accent;
//           font-size: 26px;
//           font-weight: bold;
//           margin: 0;
//           padding: 0 0 10px;
//         }
//       }
//     }
}
