[is='flynt-block-count-up'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .preContent {
    @include reset-content-margins;

    margin-bottom: 50px;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      margin-bottom: 70px;
    }
  }

  .blockCountUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 (-$gutter-width/2);
    text-align: center;

    .item {
      padding: 0 $gutter-width/2;
      width: 50%;

      @media (min-width: $breakpoint-mobile-horizontal) {
        width: 40%;
      }

      &:nth-child(n+3) {
        margin-top: 40px;
      }


      &-count-3 {
        @media (min-width: $breakpoint-mobile-horizontal) {
          width: 33.333%;

          &:nth-child(n+3) {
            margin-top: 0;
          }
        }
      }

      &-count-2 {
        @media (min-width: $breakpoint-mobile-horizontal) {
          width: 50%;
        }
      }

      &-count-1 {
        width: 100%;
      }

      @media (min-width: $breakpoint-tablet) {
        width: 25%;

        &:nth-child(n+3) {
          margin-top: 0;
        }

        &:nth-child(n+5) {
          margin-top: 40px;
        }
      }

      @media (min-width: $breakpoint-desktop) {
        &:nth-child(n+5) {
          margin-top: 50px;
        }
      }
    }

  }

  .icon {
    margin-bottom: 15px;

    @media (min-width: $breakpoint-tablet-horizontal) {
      margin-bottom: 25px;
    }
  }

  .feather {
    color: $color-background;
    height: 60px;
    stroke-width: 1px;
    top: 0;
    vertical-align: top;
    width: 60px;
  }

  .countValue {
    font-size: 1.75rem;
    font-weight: 700;

    @media (min-width: $breakpoint-tablet) {
      font-size: 2.25rem;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      font-size: 2.875rem;
      line-height: 3.125rem;
      margin-bottom: 5px;
    }
  }

  &.themeDark .countValue,
  &.themeLight .countValue {
    color: $color-accent;
  }

  &.themeHero .feather {
    color: lighten($color-brand, 40%);
    opacity: 0.7;
  }

  &.themeLight .feather {
    color: rgba($color-background-dark, 0.8);
  }

}
