<div class="flyntComponent" is="flynt-block-count-up">
  <div class="container">
    <div class="contentHtml">
        {{ preContentHtml|e('wp_kses_post') }}
    </div>
    <div class="container-items">
    {% for item in items %}
        <div class="item">
            <div class="icon-wrapper">{{ item.icon }}</div>
            <div class="item-number">{{ item.number }}</div>
            <div class="item-subtitle">{{ item.subtitle }}</div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
