[is='flynt-grid-posts-archive'] {
  .posts {
    @include reset-list;
    @include grid;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .posts-empty {
    text-align: center;
  }

  .post {
    @include reset-list-item;

    &-link {
      @include reset-link;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-content {
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    &-footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 var(--box-padding) 24px;
      position: relative;
      width: 100%;
    }

    &-readingTime {
      align-items: center;
      display: flex;
      font-size: 0.9375rem;
    }
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}
