[is='flynt-grid-posts-archive'] {
  .posts {
    @include reset-list;
    @include grid(1);

    @media (min-width: $breakpoint-tablet) {
      @include grid(2);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3);
    }
  }

  .posts-empty {
    padding: 32px 0 0;
  }

  .post {
    @include reset-list-item;
    display: flex;

    &-link {
      @include reset-link;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .figure {
      margin-bottom: 0;
    }

    &-image {
      background: var(--color-border-alpha);
    }

    &-inner {
      @include reset-content-margins;
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    &-link {
      @include reset-link;

      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 calc(var(--box-spacing) * 0.75) 24px;
      position: relative;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 var(--box-spacing) 24px;
      }
    }

    &-readingTime {
      align-items: center;
      display: flex;
      font-size: 0.9375rem;

      .feather {
        color: currentColor;
        height: 1.125rem;
        margin-right: 0.25rem;
        top: 0;
        width: 1.125rem;
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}
