flynt-component[name='GridPostsArchive'] {
  .posts {
    --post-max-width: calc((var(--container-max-width) / 3) - var(--grid-column-gap));
    --posts-max-width: calc(var(--post-max-width) * var(--grid-columns) + ((var(--grid-columns) - 1) * var(--grid-column-gap)));
    @include grid;
    list-style: none;
    margin-inline: auto;
    max-width: var(--posts-max-width);

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .posts-empty {
    text-align: center;
  }

  .post {
    margin-inline: auto;

    .link {
      color: currentColor;
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 var(--box-padding) var(--box-padding);
      position: relative;
      width: 100%;

      .readingTime {
        color: var(--color-text-muted);
        font-size: var(--body-font-size-small);
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/pagination';
}
