[is='flynt-grid-posts-archive'] {
  ul {
    @include reset-list;
  }

  .posts {
    @media (min-width: $breakpoint-tablet) {
      @include grid(2);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3);
    }
  }

  .posts-empty {
    padding: 40px 0 0;
  }

  .post {
    margin-bottom: $gutter-width;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }

    &-link {
      display: block;
      font-weight: 400;
      text-decoration: none;
    }

    .figure {
      background-color: var(--color-text);
      margin-bottom: 0;
    }

    &-inner {
      @include reset-content-margins;
      padding: $gutter-width 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding: $gutter-width 1rem $gutter-width 0;
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}
