[is='flynt-grid-posts-archive'] {
  ul {
    @include reset-list;
  }

  .posts {
    @media (min-width: $breakpoint-tablet) {
      @include grid(2);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3);
    }
  }

  .posts-empty {
    padding: 40px 0 0;
  }

  .post {
    margin-bottom: 25px;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }

    &-link {
      display: block;
      text-decoration: none;
    }

    .figure {
      background-color: $color-text;
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: 0.625rem;
      padding-top: 1.875rem;
    }

    &-preview {
      margin-bottom: 0;
    }
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}
