[is='flynt-grid-posts-archive'] {
  .posts {
    @include reset-list;

    @media (min-width: $breakpoint-tablet) {
      @include grid(2);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3);
    }
  }

  .posts-empty {
    padding: 32px 0 0;
  }

  .post {
    @include reset-list-item;
    margin-bottom: $gutter-width;
    display: flex;

    &-link {
      @include reset-link;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .figure {
      margin-bottom: 0;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-image {
      background: var(--color-border-alpha);
    }

    &-inner {
      @include reset-content-margins;
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    &-link {
      @include reset-link;

      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-footer {
      position: relative;
      margin: 0 24px 24px;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        margin: 0 32px 24px;
      }
    }

    &-readingTime {
      font-size: 0.875rem;
      will-change: transform, opacity;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      .feather {
        color: currentColor;
        height: 1rem;
        margin-right: 0.25rem;
        width: 1rem;
        top: 0;
      }
    }

    &-readMore {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.875rem;
      transform: translateY(10px);
      opacity: 0;
      will-change: transform, opacity;
      transition: all 0.3s ease;
    }

    &:hover {
      .post-readMore {
        transform: none;
        opacity: 1;
      }

      .post-readingTime {
        transform: translateY(-10px);
        opacity: 0;
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}
