<ul class="filter">
  {% for term in terms %}
    <li class="filter-item"><a class="badge badge--outline badge--pill{{ term.isActive ? ' badge-isActive' }}" href="{{ term.link }}">{{ term.title }}</a></li>
  {% endfor %}
</ul>
