div(class=$data('baseClasses'))
  h2=$data('title')
  ul
    for post in $data('posts')
      li
        a(href=$data($post, 'url'))= $data($post, 'title')
        p= $data($post, 'content')
        if $data($post, 'image')
          a(href= $data($post, 'url'))
            img(src= $data($post, 'image'))
