.searchList
  ul
    list-style: none
    padding: 0

    .searchList-item
      padding: $containerPadding
      border-bottom: 1px solid #9b9b9b

      .postLink
        text-decoration: none

        &:hover
          .postTitle
            color: $colorAccent

      .excerpt
        color: #9b9b9b
