<ul>
  {% for post in posts  %}
    <li class="searchList-item">
      <a class="postLink" href="{{ post.link }}"><h3 class="postTitle">{{ post.title }}</h3></a>
      <p class="excerpt">{{ post.preview }}</p>
    </li>
  {% endfor %}
</ul>
