flynt-component[name='BlockImageText'] {
  .container {
    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: center;
      display: flex;
      gap: var(--column-gap);
      justify-content: space-around;
    }

    > * {
      @media (min-width: $breakpoint-tablet-horizontal) {
        flex-basis: 50%;
        margin-block-start: 0;
      }
    }
  }

  [data-image-position='right'] {
    flex-direction: row-reverse;
  }

  [data-image-position='left'] {
    flex-direction: row;
  }
}
