[is='flynt-block-image-text'] {
  .container {
    // TODO: Make 500px a dynamic value
    @include center(calc(500px + 2 * var(--container-padding-mobile)));
  }

  .box-inner {
    @include reset-content-margins('top');
  }

  @media (max-width: $breakpoint-tablet-horizontal - 1) {
    margin: var(--component-spacing-tablet) 0;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      // TODO: Make 1080px a dynamic value
      @include center(calc(1080px + 2 * var(--container-padding-tablet)), var(--container-padding-tablet));
    }

    .box {
      align-items: center;
      display: flex;
      margin: 0 calc(-1 * var(--container-padding-tablet));

      &-inner {
        @include reset-content-margins('both');
        padding: 0 var(--container-padding-tablet);
        width: 50%;
      }

      &--imageRight {
        flex-direction: row;
      }

      &--imageLeft {
        flex-direction: row-reverse;
      }
    }

    .figure-caption {
      position: absolute;
    }
  }
}
