flynt-component[name='BlockImageText'] {
  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      align-items: center;
      display: flex;
      gap: var(--column-gap);
      justify-content: space-around;

      > * {
        flex-basis: 50%;
        margin-block-start: 0;
      }

      &[data-image-position='left'] {
        flex-direction: row;
      }

      &[data-image-position='right'] {
        flex-direction: row-reverse;
      }
    }
  }
}
