[is='flynt-block-image-text'] {
  .container {
    @media (min-width: $breakpoint-tablet-horizontal) {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      gap: calc(var(--container-padding) * 2);
      justify-content: space-around;
    }

    &--imageRight {
      flex-direction: row;
    }
  }

  .content {
    @include reset-content-margins('top');
    margin: 0 auto;
    max-width: var(--content-max-width);

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include reset-content-margins();
      flex-basis: 50%;
    }
  }
}
