$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1280px
$containerPadding = lookup('$globalContainerPadding') || 20px
$contentMaxWidth = lookup('$globalContentMaxWidth') || 600px

.flyntComponent[is='flynt-block-image-text']
  .container
    padding: 0 $containerPadding
    margin: 60px auto
    max-width: $containerMaxWidth

  .box
    align-items: center
    display: flex
    margin: 0 -20px

    +below('l')
      display: block

    &--imageLeft
      flex-direction: row

    &--imageRight
      flex-direction: row-reverse

    &-image
      width: 60%

    &-content
      width: 40%

    &-image,
    &-content
      padding: 0 20px

      +below('xl')
        width: 50%

      +below('l')
        margin: 0 auto
        max-width: $contentMaxWidth
        width: 100%

  .figure
    font-size: .8rem

    +above('xl')
      margin-bottom: 0

      &-caption
        position: absolute

  .box-content
    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0
