[is='flynt-block-post-footer'] {
  margin-bottom: var(--component-spacing);
  margin-top: var(--component-spacing);

  @media (min-width: $breakpoint-tablet) {
    margin-top: var(--component-spacing-mobile);
  }

  .tags {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;

    &-item {
      @include reset-list-item;
      display: inline-block;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .author {
    display: flex;
    margin: 32px 0;

    @media (min-width: $breakpoint-mobile-horizontal) {
      align-items: center;
    }

    @media (min-width: $breakpoint-tablet) {
      margin: var(--component-spacing-mobile) 0;
    }

    &-avatarLink {
      @include reset-link;
      flex-shrink: 0;
    }

    &-avatarImage {
      border-radius: 50%;
      width: 64px;

      @media (min-width: $breakpoint-mobile-horizontal) {
        width: 96px;
      }
    }

    &-info {
      @include reset-content-margins;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding-left: var(--gap-width);
      }
    }

    &-name {
      margin-bottom: 0;
    }

    &-nameLink {
      @include reset-link;

      &:hover {
        color: var(--color-accent);
      }
    }

    &-description {
      font-size: 0.9375rem;
      line-height: 1.5;
    }
  }
}
