[is='flynt-block-post-footer'] {
  margin: 64px 0;

  .tags {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem;

    &-item {
      display: inline-block;
      margin-right: 1.5rem;
    }
  }

  .author {
    align-items: center;
    display: flex;
    margin: 2rem 0;

    a {
      @include reset-link;
    }

    &-avatarLink {
      flex-shrink: 0;
    }

    &-avatarImage {
      border-radius: 50%;
      width: 66px;

      @media (min-width: $breakpoint-mobile-horizontal) {
        width: 96px;
      }
    }

    &-info {
      @include reset-content-margins;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding-left: $gutter-width;
      }
    }

    &-name {
      margin-bottom: 0.5rem;
    }

    &-description {
      font-size: 0.875rem;
    }
  }
}
