[is='flynt-block-post-footer'] {
  .tags {
    @include reset-list;

    &-item {
      display: inline-block;
      margin-top: 5px;
    }
  }

  .author {
    display: flex;
    margin: 3rem 0;

    &-avatarLink {
      flex-shrink: 0;
    }

    &-avatarImage {
      border-radius: 50%;
      width: 80px;
    }

    &-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding-left: 2rem;
      }
    }

    &-description {
      font-size: 14px;
      margin: 0.5rem 0 0;
    }
  }
}
