rupture.scale = lookup('$global-layout-scale') || (0 400px 800px 1200px)

.layout-module-preview
  bottom: 5px
  background: #fff
  border: 1px solid #e1e1e1
  display: inline-block
  height: 36px
  margin-left: 5px
  padding: 2px
  position: absolute

  img
    display: block
    height: 100%
    width: auto

  .label
    bottom: 4px
    left: 100%
    padding-left: 8px
    position: absolute
    white-space: nowrap

.add-module-preview-image-wrapper
  bottom: 0
  position: absolute
  right: 105%

  .add-module-preview-image
    border: 3px solid #333739
    border-radius: 3px
    bottom: 0
    display: block
    position: absolute

  .add-module-preview-image-desktop
    height: 250px
    right: 30px

  .add-module-preview-image-mobile
    height: 150px
    right: 0

.flexible-content-controls
  float: right
  margin-right: 8px

.module-preview-image-desktop
  +below('s')
    display: none

.module-preview-image-mobile
  +above('m')
    display: none
