<article class="postList-article">
  <div class="postList-content">
    <div class="postList-thumbnailWrapper">
      {% include 'partials/PostThumbnail/index.twig' %}
    </div>
    <div class="postList-contentWrapper">
      {% include 'partials/PostHeader/index.twig' %}
      {% include 'partials/PostContent/index.twig' %}
      {% include 'partials/PostFooter/index.twig' %}
    </div>
  </div>
</article>
