/* Backend Component Screenshots */
.flyntComponentScreenshot {
  background-color: #fff;
  border: 1px solid #ccd0d4;
  display: inline-block;
  height: 40px;
  inset-block-end: 5px;
  margin-inline-start: 5px;
  position: absolute;

  &-imageWrapper {
    inset-block-end: 0;
    inset-inline-end: 100%;
    position: absolute;
  }

  &-image {
    background: #fff;
    border: 3px solid #2f353e;
    border-radius: 3px;
    display: block;
    height: 250px;
    inset-block-end: 0;
    inset-inline-end: 20px;
    max-width: 500px;
    object-fit: contain;
    position: absolute;
  }

  &-imageElement {
    display: block;
    width: auto;
  }

  &-label {
    inset-block-end: 4px;
    inset-inline-start: 100%;
    padding-inline-start: 8px;
    position: absolute;
    white-space: nowrap;
  }
}
