[is='flynt-hero-cta'] {
  background-color: $color-brand;
  color: #fff;
  padding: $component-spacing 0;

  #{$heading-selectors} {
    color: inherit;
  }

  .container {
    @include center;
    @include reset-content-margins;

    text-align: center;
  }

  @media (max-width: $content-max-width - 1px) {
    br {
      content: '\00a0';
    }
  }
}
