<div class="flyntComponent" is="flynt-hero-cta">
  <div class="container">
    {% if contentHtml %}
      {{ contentHtml|e('wp_kses_post') }}
    {% endif %}
    {% if buttonLink.url %}
      <p><a target={% if buttonLink.target %}"{{ buttonLink.target }}" rel="noreferrer noopener"{% else %}"_self"{% endif %} class="btn btn--primary">{{ buttonLink.title|e }}</a></p>
    {% endif %}
  </div>
</div>
