$containerPadding = lookup('$globalContainerPadding') || 20px
$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1280px
$colorBrand = lookup('$globalColorBrand') || #91C6C4
$headings = 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6'

.flyntComponent[is="flynt-hero-cta"]
  background-color: $colorBrand
  color: #fff
  padding: 80px 0

  {$headings}
    color: inherit

  .container
    margin: 0 auto
    max-width: $containerMaxWidth
    padding: 0 $containerPadding
    text-align: center

    > :first-child
      margin-top: 0
      padding-top: 0

    > :last-child
      margin-bottom: 0
      padding-bottom: 0

  +below('s')
    br
      content: ''

      &::before
        content: '\00a0'
