$containerPadding = lookup('$globalContainerPadding') || 20px
$rupture.anti-overlap = lookup('$globalRuptureOverlap') || -1px
$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px

.flyntComponent[is="flynt-hero-cta"]
  background-color: rgba(0, 0, 0, .03)
  padding: 60px 0

  .container
    margin: 0 auto
    max-width: $containerMaxWidth
    padding: 0 $containerPadding
    text-align: center
