.menu {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--flow-space) / 2) var(--flow-space);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &-link {
    @include reset-link;
    color: currentColor;
  }
}
