.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &-link {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
