[is='flynt-slider-images'] {
  .slider {
    background-color: var(--color-border-alpha);
    max-width: var(--content-max-width-large);
    position: relative;

    &-item {
      height: 0;
      overflow: hidden;
      padding-bottom: (2/3) * 100%;
      position: relative;
    }

    &-button {
      align-items: center;
      color: var(--color-background);
      cursor: pointer;
      display: flex;
      height: 48px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 48px;
      z-index: 10;

      &::before {
        background-color: var(--color-accent);
        border-radius: 50%;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.75;
        position: absolute;
        top: 0;
        transition: opacity 0.2s ease;
        width: 100%;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        &:hover,
        &:focus {
          &::before {
            opacity: 1;
          }
        }
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        left: 15px;
      }

      &--next {
        right: 15px;
      }

      .feather {
        color: currentColor;
        height: auto;
        top: 0;
        width: 80%;
      }
    }
  }

  .figure {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &-image {
      height: 100%;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      border-radius: 35px;
      bottom: 2px;
      color: var(--color-background);
      display: inline-block;
      font-size: 0.875rem;
      max-width: 450px;
      overflow: hidden;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 2px;
      z-index: 2;

      &::before {
        background-color: var(--color-accent);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.75;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
}
