flynt-component[name='SliderImages'] {
  .slider {
    background-color: var(--color-border);
    overflow: hidden;
    position: relative;

    &-item {
      height: 0;
      padding-block-end: calc((2/3) * 100%);
      position: relative;
    }

    &-button {
      align-items: center;
      color: var(--color-background);
      cursor: pointer;
      display: flex;
      height: 48px;
      inset-block-start: 50%;
      justify-content: center;
      position: absolute;
      transform: translateY(-50%);
      width: 48px;
      z-index: 10;

      &::before {
        background-color: var(--color-accent);
        border-radius: 50%;
        content: '';
        height: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        opacity: 1;
        position: absolute;
        transition: opacity 0.2s ease;
        width: 100%;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        inset-inline-start: 15px;

        &::after {
          border-block-start: 2px solid currentColor;
          border-inline-start: 2px solid currentColor;
          content: '';
          height: 0.75em;
          margin-inline-start: calc(0.25em + 2px);
          transform: rotate(-45deg);
          width: 0.75em;
        }
      }

      &--next {
        inset-inline-end: 15px;

        &::after {
          border-block-start: 2px solid currentColor;
          border-inline-end: 2px solid currentColor;
          content: '';
          height: 0.75em;
          margin-inline-end: calc(0.25em - 2px);
          transform: rotate(45deg);
          width: 0.75em;
        }
      }
    }
  }

  .figure {
    inset: 0;
    margin-block-end: 0;
    position: absolute;

    &-image {
      height: 100%;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      color: #fff;
      display: inline-block;
      font-size: 0.875rem;
      inset-block-end: 0;
      inset-inline-end: 0;
      max-width: 450px;
      overflow: hidden;
      padding: 0.25rem 0.5rem;
      position: absolute;
      z-index: 2;

      &::before {
        background-color: rgba($color: #000, $alpha: 0.7);
        content: '';
        height: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
    }
  }
}
