[is='flynt-slider-images'] {
  .slider {
    max-width: 800px;
    position: relative;

    &-item {
      height: 0;
      overflow: hidden;
      padding-bottom: (2/3) * 100%;
      position: relative;
    }

    &-button {
      align-items: center;
      background-color: rgba($color-background-dark, 0.5);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out;
      width: 40px;
      z-index: 10;

      @media (min-width: $breakpoint-tablet-horizontal) {
        &:hover,
        &:focus {
          background-color: $color-accent;
        }
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        left: 15px;
      }

      &--next {
        right: 15px;
      }

      .feather {
        color: $color-background;
        height: auto;
        top: 0;
        width: 80%;
      }
    }
  }

  .figure {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &-image {
      height: 100%;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      background: rgba($color-background-dark, 0.5);
      bottom: 0;
      color: $color-background-light;
      display: inline-block;
      font-size: 0.8rem;
      max-width: 450px;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 0;
    }
  }
}
