$content-max-width: 800px;

[is='flynt-slider-images'] {
  margin: $component-spacing 0;

  .container {
    @include center-max-width-container;
  }

  .slider {
    background: $color-contrast;
    height: 250px;
    margin-bottom: 30px;
    position: relative;

    @media (min-width: $breakpoint-mobile-horizontal) {
      height: 385px;
    }

    @media (min-width: $breakpoint-tablet) {
      height: 512px;
      margin-bottom: 0;
    }

    @media (min-width: $content-max-width) {
      height: 540px;
      margin: 0 auto;
      max-width: $content-max-width;
    }
  }

  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }

  .slide {
    display: none;
    height: 100%;
    outline: 0;
    overflow: hidden;
    position: relative;

    @media (min-width: $content-max-width) {
      padding: 0 $container-padding;
    }

    &:first-child,
    &.slick-slide {
      display: block;
    }

    .figure {
      height: 100%;
      margin-bottom: 0;

      &-image {
        height: 100%;
        left: 50%;
        max-width: none;
        position: relative;
        transform: translateX(-50%);
        width: auto;
      }

      &-caption {
        background: rgba(0, 0, 0, 0.3);
        bottom: 0;
        color: #fff;
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
        position: absolute;
        right: 0;
      }
    }
  }

  // SLICK ARROWS
  .slick-arrow {
    cursor: pointer;
    display: none;
    height: 50px;
    outline: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    z-index: 2;

    &.slick-prev {
      background: url('../Components/SliderImages/Assets/arrow-left.svg') no-repeat center;
      left: 10px;
    }

    &.slick-next {
      background: url('../Components/SliderImages/Assets/arrow-right.svg') no-repeat center;
      right: 10px;
    }

    &.slick-disabled {
      opacity: 0;
      transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
      visibility: hidden;
    }
  }

  // SLICK DOTS
  .slick-dots {
    bottom: -12px;
    height: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;

    > li {
      display: inline-block;
      margin: 0 4px;

      button {
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        cursor: pointer;
        height: 8px;
        pointer-events: all;
        text-indent: -99999px;
        transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        width: 8px;
      }

      &.slick-active button {  // stylelint-disable-line selector-no-qualifying-type
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
