$rupture.scale = lookup('$globalRuptureScale') || (0 426px 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 20px
$containerMaxWidth = 800px
$colorText = lookup('$globalColorText') || #222222

.flyntComponent[is="flynt-slider-images"]
  .container
    margin: 0 auto 2rem
    max-width: $containerMaxWidth

    +below($containerMaxWidth)
      padding: 0

    +below('s')
      padding-bottom: 30px

  .slider
    background: rgba(0, 0, 0, .8)
    height: 540px
    position: relative

    +below($containerMaxWidth)
      height: 512px

    +below('m')
      height: 385px

    +below('s')
      height: 250px

  .slick-list,
  .slick-track
    height: 100%

  .slide
    display: none
    height: 100%
    outline: 0
    overflow: hidden
    position: relative

    +below($containerMaxWidth)
      padding: 0 $containerPadding

    &:first-child,
    &.slick-slide
      display: block

    .figure
      height: 100%
      margin-bottom: 0

      &-image
        height: 100%
        left: 50%
        max-width: none
        position: relative
        transform: translateX(-50%)
        width: auto

      &-caption
        background: rgba(255, 255, 255, .5)
        background-color: rgba(0, 0, 0, .3)
        color: #fff
        bottom: 0
        display: inline-block
        font-size: .8rem
        padding: .25rem .5rem
        position: absolute
        right: @bottom

  // SLICK ARROWS
  .slick-arrow
    cursor: pointer
    display: none
    height: 50px
    outline: 0
    position: absolute
    text-indent: -99999px
    top: 50%
    transform: translateY(-50%)
    width: 30px
    z-index: 2

    &.slick-prev
      background: url('../../Components/SliderImages/Assets/arrow-left.svg') no-repeat center
      left: 10px

    &.slick-next
      background: url('../../Components/SliderImages/Assets/arrow-right.svg') no-repeat center
      right: 10px

    &.slick-disabled
      opacity: 0
      transition: opacity .2s ease-out, visibility 0s linear .2s
      visibility: hidden

  // SLICK DOTS
  .slick-dots
    bottom: -12px
    height: 0
    left: 0
    list-style: none
    margin: 0
    padding: 0
    position: absolute
    right: 0
    text-align: center

    > li
      display: inline-block
      margin: 0 4px

      button
        background: transparent
        border-radius: 50%
        border: 1px solid rgba(0, 0, 0, .8)
        cursor: pointer
        display: block
        height: 8px
        outline: 0
        pointer-events: all
        text-indent: -99999px
        width: @height

      &.slick-active
        button
          background: rgba(0, 0, 0, .8)
