<div class="flyntComponent" is="flynt-navigation-footer-columns">
  <div class="container centerMaxWidthContainer">
    <div class="infos">
      {% include 'Partials/Menu/index.twig' with { generalTranslatable: generalTranslatable, items: menu.items } only %}
      {% include 'Partials/Info/index.twig' with { generalTranslatable: generalTranslatable, items: generalTranslatable.channelLinks, site: site } only %}
    </div>
    <div class="corporate">
      {% include 'Partials/Legal/index.twig' with { generalTranslatable: generalTranslatable, items: generalTranslatable.legalLinks } only %}
    </div>
  </div>
</div>
