flynt-component[name='GridPostsLatest'] {
  .grid {
    @include reset-list;
    @include grid(1, center);

    &[data-max-columns='2'],
    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet) {
        --grid-columns: 2;
      }
    }

    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
      }
    }

    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-desktop) {
        --grid-columns: 4;
      }
    }
  }

  .post {
    @include reset-list-item;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);

    &-link {
      @include reset-link;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-content {
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    &-footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 var(--box-padding) 24px;
      position: relative;
      width: 100%;
    }

    &-readingTime {
      align-items: center;
      display: flex;
      font-size: 0.9375rem;
    }
  }
}
