flynt-component[name='GridPostsLatest'] {
  .grid {
    --grid-columns: 1;
    --grid-gap: var(--flow-space);
    --grid-item-width: calc((100% / var(--grid-columns)) - ((var(--grid-columns) - 1) / var(--grid-columns) * var(--grid-gap)));
    --grid-item-max-width: calc(((var(--container-max-width) - ((var(--container-spacing) * 2))) / 3) - (2 / 3 * var(--grid-gap)));

    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
    justify-content: center;
    list-style: none;
    padding: 0;

    &[data-max-columns='2'],
    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet) {
        --grid-columns: 2;
      }
    }

    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
      }
    }

    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-desktop) {
        --grid-columns: 4;
      }
    }
  }

  .post {
    inline-size: var(--grid-item-width);
    max-inline-size: var(--grid-item-max-width);

    .link {
      block-size: 100%;
      color: currentColor;
      display: flex;
      flex-direction: column;
      font-weight: initial;
      text-decoration: none;
    }

    .figure {
      margin: 0;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;
      margin-block-start: 0;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-spacing) var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }
}
