[is='flynt-grid-posts-latest'] {
  .grid {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: ($gutter-width * -1) 0 0 ($gutter-width * -1);

    &--columns2,
    &--columns3,
    &--columns4 {
      .grid-item {
        @media (min-width: $breakpoint-tablet) {
          width: 50%;
        }
      }
    }

    &--columns3 {
      .grid-item {
        @media (min-width: $breakpoint-tablet-horizontal) {
          width: 33.33%;
        }
      }
    }

    &--columns4 {
      .grid-item {
        /* ensure 2 columns stacking up until $breakpoint-desktop */
        max-width: ($breakpoint-desktop - $container-padding-tablet * 2 + $gutter-width) / 3 + 1;

        @media (min-width: $breakpoint-desktop) {
          width: 25%;
        }
      }
    }
  }

  .grid-item {
    max-width: 675px;
    padding: $gutter-width 0 0 $gutter-width;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    &-image {
      background: var(--theme-color-text);
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      color: var(--theme-color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--theme-color-headline);
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-readingTime {
      color: var(--theme-color-text);
      font-size: 0.875rem;
      opacity: 0.7;

      .feather {
        color: currentColor;
        height: 1rem;
        margin-right: 2px;
        width: 1rem;
      }
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      .content-readMore {
        padding: 0.875rem 0 1.125rem;

        &::before {
          bottom: 1.1rem;
        }
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 30px;
      }
    }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}
