flynt-component[name='GridPostsLatest'] {
  .grid {
    --grid-item-width: calc((var(--content-max-width-full) - 2 * var(--flow-space)) / 3);
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(auto-fit, min(var(--grid-item-width), 100%));
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .post {
    .link {
      block-size: 100%;
      color: currentColor;
      display: flex;
      flex-direction: column;
      font-weight: initial;
      text-decoration: none;
    }

    .figure {
      margin: 0;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;
      margin-block-start: 0;
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding-block: 0 var(--box-spacing);
      padding-inline: var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }
}
