.pagination {
  display: block;
  margin-top: 40px;

  div {
    display: block;
    margin: 10px 2px;

    @media (min-width: 300px) {
      margin: 0 2px;
    }
  }

  @media (min-width: 300px) {
    &-prevLink {
      float: left;
    }

    &-nextLink {
      float: right;
    }
  }

  .btn {
    margin-bottom: 0;

    &--primary {
      &:hover {
        color: #fff;
      }
    }
  }
}
