<div class="pagination">
	{% if pagination.prev %}
  	<a class="pagination-nav pagination-nav--previous button button--primary" href="{{ pagination.prev.link }}"
  	  class="button {% if pagination.prev %}button--primary{% else %}button--disabled{% endif %}">{{ previousLabel }}</a>
	{% endif %}
  {% if pagination.next %}
    <a class="pagination-nav pagination-nav--next button button--primary" href="{{ pagination.next.link }}"
      class="button {% if pagination.next %}button--primary{% else %}button--disabled{% endif %}">{{ nextLabel }}</a>
  {% endif %}
</div>