<div class="pagination">
  {% if pagination.prev %}
    <a class="pagination-nav pagination-nav--previous button button--solid button--small" href="{{ pagination.prev.link }}">{{ previousLabel }}</a>
  {% endif %}
  {% if pagination.next %}
    <a class="pagination-nav pagination-nav--next button button--solid button--small" href="{{ pagination.next.link }}">{{ nextLabel }}</a>
  {% endif %}
</div>
