[is='flynt-slider-images-centered'] {
  padding: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-desktop) {
    padding: $component-spacing-desktop 0;
  }

  .container {
    @include center;
  }

  .preContent {
    @include reset-content-margins;

     margin-bottom: 1.5rem;
    text-align: center;

     @media (min-width: $breakpoint-desktop) {
      margin-bottom: 3rem;
    }
  }
}
