[is='flynt-list-components'] {
  .components {
    @include reset-list;
    @include grid;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .component {
    @include reset-list-item;
    display: flex;
    flex-wrap: wrap;
    max-width: var(--content-max-width);

    &-imageWrapper {
      background-color: var(--color-border-alpha);
      height: 0;
      overflow: hidden;
      padding-bottom: calc(100% * (800 / 1280));
      position: relative;
      width: 100%;

      .image {
        position: absolute;

        &--isSmallerThanWrapper {
          font-family: 'object-fit: contain';
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &-link {
      @include reset-link;
      display: block;
      text-decoration: none;
      width: 100%;
    }

    &-description {
      @include reset-content-margins;
      color: var(--color-text);
      position: relative;
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      padding: 0 var(--box-padding);
      width: 100%;

      .component-ctaSecondary {
        @include reset-link;
        font-size: 0.9375rem;
        text-decoration: none;
        transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

        .feather {
          color: inherit;
          height: 1.25rem;
          margin-right: 0.25rem;
          top: -1px;
          width: 1.25rem;
        }

        &:hover {
          color: var(--color-accent);
        }
      }

      .component-ctaPrimary {
        margin-left: auto;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 32px;
      }
    }
  }
}
