flynt-component[name='ListComponents'] {
  .components {
    --grid-columns: 1;
    --grid-gap: var(--flow-space);
    --grid-item-width: calc((100% / var(--grid-columns)) - ((var(--grid-columns) - 1) / var(--grid-columns) * var(--grid-gap)));
    --grid-item-max-width: calc(((var(--container-max-width) - ((var(--container-padding) * 2))) / 3) - (2 / 3 * var(--grid-gap)));

    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .component {
    display: flex;
    flex-wrap: wrap;
    inline-size: var(--grid-item-width);
    max-inline-size: var(--grid-item-max-width);

    .imageWrapper {
      block-size: 0;
      inline-size: 100%;
      overflow: hidden;
      padding-block-end: calc(100% * (800 / 1280));
      position: relative;

      .image {
        block-size: auto;
        position: absolute;

        &--isSmallerThanWrapper {
          block-size: 100%;
          object-fit: contain;
        }
      }
    }

    .componentLink {
      display: block;
      inline-size: 100%;
      text-decoration: none;
    }

    .content {
      color: var(--color-text);
    }

    footer {
      align-items: center;
      align-self: flex-end;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-padding-inline) var(--box-padding-block);

      .button--text {
        margin-inline-start: auto;
      }
    }
  }
}
