[is='flynt-list-components'] {
  .components {
    @include reset-list;
    @include grid(1, center, $gutter-vertical: 48px);

    @media (min-width: $breakpoint-tablet) {
      @include grid(2, $gutter-vertical: 48px);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include grid(3, $gutter-vertical: 48px);
    }
  }

  .component {
    background-color: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    max-width: $content-max-width;

    &-imageWrapper {
      background-color: var(--color-background);
      border-bottom: 1px solid var(--theme-border-color);
      height: 0;
      overflow: hidden;
      padding-bottom: percentage(800/1280);
      position: relative;
      width: 100%;

      .image {
        position: absolute;

        &--isSmallerThanWrapper {
          font-family: 'object-fit: contain';
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &-link {
      display: block;
      text-decoration: none;
      width: 100%;
    }

    &-description {
      @include reset-content-margins;

      color: var(--color-text);
      position: relative;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      border-top: 1px solid var(--theme-border-color);
      display: flex;
      height: 56px;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      .component-ctaSecondary {
        color: var(--color-text);
        opacity: 0.7;
        text-decoration: none;
        transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

        .feather {
          color: inherit;
          margin-right: 2px;
        }

        &:hover {
          color: var(--color-accent);
          opacity: 1;
        }
      }

      .component-ctaPrimary {
        float: right;
        margin-left: auto;
        padding: 0.9rem 0 1.1rem;

        &::before {
          bottom: 1.1rem;
        }
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 30px;
      }
    }
  }
}
