[is='flynt-list-components'] {
  margin: $component-spacing 0;

  .container {
    @include center-max-width-container;
  }

  .components {
    @include list-reset;

    margin: 0 auto;
    max-width: $content-max-width;

    @media (min-width: $breakpoint-tablet-horizontal) {
      max-width: none;
    }
  }

  .component {
    display: block;
    padding-bottom: 100px;

    @media (min-width: $breakpoint-tablet-horizontal) {
      display: flex;
      margin-left: -40px;
    }

    &-screenshot,
    &-content {
      @media (min-width: $breakpoint-tablet-horizontal) {
        margin-left: 40px;
        width: 50%;
      }
    }

    &-screenshotWrapper {
      background-color: $color-background;
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.15);
      height: 0;
      overflow: hidden;
      padding-bottom: percentage(800/1280);
      position: relative;
      width: 100%;

      img {
        min-height: 100%;
        object-fit: contain;
        position: absolute;
      }
    }

    &-content {
      @include reset-content-margins;

      padding-top: 20px;
    }
  }
}
