$containerPadding     = lookup('$globalContainerPadding')   || 20px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1270px
$contentMaxWidth      = lookup('$globalContentMaxWidth')    || 600px
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$rupture.scale        = lookup('$globalRuptureScale')       || (0 426px 576px 768px 992px 1200px)
$colorBlack           = lookup('$globalColorBlack')         || #00000
$colorBackground      = lookup('$globalColorBackground')    || #FFFFFF

.flyntComponent[is="flynt-list-components"]
  display: flex
  justify-content: center

  .container
    max-width: $containerMaxWidth
    padding: $containerPadding

  .components
    list-style: none
    margin: 0
    padding: 0

  .component
    display: flex
    padding-bottom: 100px

    &--noImage
      justify-content: center

    +below('l')
      display: block

    &-previews
      margin-right: 40px
      padding: 0 20px 20px 0
      position: relative

      +below('l')
        margin-right: 0

      +below('s')
        margin-right: 0
        max-height: none

    &-previewImage
      background-color: $colorBackground
      box-shadow: 0 0 11px rgba(0, 0, 0, .15)
      overflow: hidden

      &--desktop
        height: 100%
        min-height: 290px
        max-height: 380px
        width: 580px

        +below('l')
          max-width: $containerMaxWidth - 20px
          width: 100%

        +below('s')
          display: none

      &--mobile
        bottom: 0
        max-height: 240px
        position: absolute
        right: 0
        width: 160px

        +below('s')
          bottom: auto
          max-height: none
          position: relative
          right: auto
          width: 100%

    &-content
      max-width: $contentMaxWidth

      > :first-child
        margin-top: 0

        +above('m')
          padding-top: 0

      > :last-child
        margin-bottom: 0
        padding-bottom: 0
