[is='flynt-block-collapse'] {
  &.collapse {
    // full collapse no spacing
    &-full {
      margin-top: calc(-1 * var(--component-spacing));
    }

    // precontent spacing
    &-small {
      margin-top: calc(-1 * (var(--component-spacing-tablet) / 3));

      @media (min-width: $breakpoint-tablet) {
        margin-top: calc(-1 * (var(--component-spacing-tablet) / 2));
      }

      @media (min-width: $breakpoint-desktop) {
        margin-top: calc(-1 * (var(--component-spacing-desktop) / 2));
      }
    }

    // regular spacing (var(--component-spacing-desktop)) even for themed
    // &-medium {}
  }

  + .componentSpacing {
    &[class*='theme'] {
      padding-top: 0;
    }
  }
}
