[is='flynt-block-collapse'] {
  &.collapse {
    &-half {
      margin-top: -$component-spacing-mobile / 2;

      @media (min-width: $breakpoint-tablet) {
        margin-top: -$component-spacing-tablet / 2;
      }

      @media (min-width: $breakpoint-desktop) {
        margin-top: -$component-spacing-desktop / 2;
      }
    }
  }

  + .componentSpacing {
    &[class*='theme'] {
      padding-top: 0;
    }
  }
}
