<flynt-component client:visible name="BlockCollapse">
  <div class="flyntComponent" data-status="{{ status }}" style="--percentage-distance: {{ percentageDistance }};" is="flynt-block-collapse"></div>
</flynt-component>
