$rupture.scale = lookup('$globalRuptureScale') || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 15px
$gutterWidth = lookup('$globalGutterWidth') || 1.5
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px

.flyntComponent[is='flynt-block-media-text']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .blockMediaText
    center($containerMaxWidth, $containerPadding)

    &-columnMedia,
    &-columnContentHtml
      column(1/2, $gutter: $gutterWidth)

      +below('s')
        stack()

    &--mediaRight
      .blockMediaText-columnMedia
        move(1/2, $gutter: $gutterWidth)

      .blockMediaText-columnContentHtml
        move(-1/2, $gutter: $gutterWidth)

      .blockMediaText-columnMedia,
      .blockMediaText-columnContentHtml
        +below('s')
          unmove()

    @import 'Partials/Image/_style'
    @import 'Partials/OembedVideo/_style'
