$nav-height-mobile: 64px;

.html {
  .pageWrapper {
    padding-top: $nav-height-mobile;
  }

  &.admin-bar .pageWrapper {
    transform: translate3d(0, 0, 0);
  }

  &.navigationMain--isActive {
    overflow: hidden;
  }

  @media (min-width: $breakpoint-tablet) {
    .pageWrapper {
      padding-top: 0;
    }

    &.navigationMain--isActive {
      overflow: auto;
    }
  }
}

[is='flynt-navigation-main'] {
  .navigationMain {
    @include center;

    &-head {
      background: $color-background;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
      display: block;
      height: $nav-height-mobile;
      left: 0;
      padding: 10px $container-padding-desktop;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 998;
    }

    @media (min-width: $breakpoint-tablet) {
      height: 1%;
      overflow: auto;
      padding-bottom: 40px;
      padding-top: 40px;

      &-head {
        box-shadow: none;
        height: auto;
        padding: 0;
        position: relative;
      }
    }
  }

  @import 'Partials/BrandLogo/style';
  @import 'Partials/Hamburger/style';
  @import 'Partials/Menu/style';
}
