flynt-component[name='NavigationMain'] {
  --navigation-height: 96px;
  display: none;
  font-size: var(--body-font-size-small);
  height: var(--navigation-height);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  &.headroom {
    .wrapper {
      transition: transform 0.3s;
      will-change: transform;
    }

    .wrapper {
      transition: transform 0.3s;
    }

    &--unpinned {
      .wrapper {
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  .wrapper {
    background-color: var(--color-background);
    border-block-end: solid 2px var(--color-border);
    height: var(--navigation-height);
    inset-block-start: 0;
    inset-inline: 0;
    position: fixed;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-block: 24px;
  }

  @import 'Partials/logo';
  @import 'Partials/menu';
}
