[is='flynt-navigation-main'] {
  $navigation-height: 80px;

  display: none;
  height: $navigation-height;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  &.headroom {
    &--not-top {
      .wrapper {
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
      }
    }

    &--unpinned {
      .wrapper {
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  .wrapper {
    backdrop-filter: saturate(190%) blur(20px);
    background-color: rgba(255, 255, 255, 0.92);
    height: $navigation-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s;
    width: 100%;
    z-index: 99;

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .logo {
    @include reset-link;
    display: block;
    height: 100%;

    &-image {
      height: 100%;
      width: auto;
    }
  }

  .menu {
    @include reset-list;
    align-items: center;
    display: flex;
    margin-right: -1rem;
    padding-left: 2rem;

    &-item {
      @include reset-list-item;
    }

    &-item--current {
      .menu-link {
        color: var(--color-accent);
      }
    }

    &-link {
      @include reset-link;
      color: var(--color-text);
      display: inline-block;
      font-size: 0.9375rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
        color: var(--color-accent);
      }
    }
  }
}
