<nav is="flynt-navigation-main" class="flyntComponent">
  <div class="navigationMain">
    <div class="navigationMain-head">
      {% include 'Partials/BrandLogo/index.twig' %}
    </div>
    {% include 'Partials/Hamburger/index.twig' %}
    {% if menu %}
      {% include 'Partials/Menu/index.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel, 'socialLinks': socialLinks, 'brandLogoDarkUrl': brandLogoDarkUrl, 'brandLogoDark': brandLogoDark } %}
    {% endif %}
  </div>
</nav>
