$rupture.scale        = lookup('$globalRuptureScale')       || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$gutterWidth          = lookup('$globalGutterWidth')        || 15px
$containerPadding     = lookup('$globalContainerPadding')   || 15px
$containerMaxWidth    = lookup('$globalContainerMaxWidth')  || 1140px
$navigationHeight     = lookup('$globalNavHeight')          || 64px
$colorBackground      = lookup('$globalColorBackground')    || #fff

.flyntComponent[is='flynt-document-default'] body
  +below('s')
    margin-top: $navigationHeight

    &.navigationMain-isActive
      overflow: hidden

.flyntComponent[is='flynt-navigation-main']
  .navigationMain
    center($containerMaxWidth, $containerPadding)
    clearfix()
    padding-bottom: 40px
    padding-top: @padding-bottom

    +below('s')
      padding: 0

      &-head
        background: $colorBackground
        box-shadow: 0 2px 4px rgba(0, 0, 0, .13)
        display: block
        height: $navigationHeight
        left: 0
        padding: 10px $containerPadding
        position: fixed
        right: 0
        top: 0
        width: 100%
        z-index: 998

  @import 'Partials/BrandLogo/_style'
  @import 'Partials/Hamburger/_style'
  @import 'Partials/Menu/_style'
