[is='main-layout']
  form
    width: 100%

  label,
  input,
  textarea,
  select
    display: inline-block
    font-size: 12px
    margin-bottom: 10px
    padding: 10px
    width: 100%

  input[type='submit'],
  select
    width: auto

  .checkbox
    margin-bottom: 10px
    margin-top: 0

  input[type='checkbox']
    cursor: pointer
    height: 14px
    left: 20px
    outline: 0
    padding: 0
    top: -3px
    width: 14px

  .label
    font-size: 12px
    font-weight: normal
    margin-left: 20px
    padding: 0
    white-space: normal
