[is='wps-main-layout']
  html,
  body,
  .page-wrapper
    height: 100%

  .page-wrapper
    display: table
    table-layout: fixed
    width: 100%

  .main-header,
  .main-content,
  div.main-footer
    display: table-row
    height: 1px

  .main-content
    height: 100%
